<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Plazas</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Administración  / Plazas</h4>
                                </div>
                                <!-- Card Body -->
                                <div class="col">  
                                    <button onclick="adminPuestos()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Plazas</button>   
                                </div>
                                <form id="formGenerarPlaza" >
                                <div class="card-body ">
                                    <div class="form-group" >
                                        <div class="row">
                                            <div class="m-4 ">
                                                <button type="submit" class="btn btn-outline-success" id="btnGenerarPlaza" name="btnGenerarPlaza" value="generarPlaza"><span class="fa fa-user-plus"></span> Generar Plaza</button>  
                                                
                                            </div>
                                            <div class="input-group">
                                                <div class="panel-container"> <!--  m-auto se centra la tabla-->
                                                    <div class="table-responsive">                                                      
                                                        <!-- PRUEBA BÚSQUEDA -->
                                                        <div class="alert alert-info alert-white rounded mx-auto">
                                                            <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                            <div class="icon ">
                                                                <strong><h5>Plazas Registradas</h5></strong> <i class="fa fa-search mx-auto"></i><strong> Criterios de Búsqueda: </strong> Codigo de Plaza, Descripción del puesto
                                                            </div>
                                                        </div>  
                                                        <input type="hidden" id="ultimoRegistro" name="ultimoRegistro">
                                                        <table class="table table-bordered" id="noteTable" width="100%" cellspacing="0">
                                                            <thead class="bg-success-900 thead-dark">
                                                                <tr>
                                                                    <th style="text-align: center">Id</th>
                                                                    <th style="text-align: center">Descripción de Puesto</th>
                                                                    <th style="text-align: center">Cancelar Plaza</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>  </tbody>
                                                        </table>
                                                    </div>   
                                                </div> 
                                            </div>   
                                        </div>
                                    </div><!-- FIN CARD BODY--*****************--> 
                                </div>
                                    </form>
                                <!-- FIN TODO <script src="js/puesto/allPuesto.js"></script>-->
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>

        
        <!--************************************************************** MODAL CAMBIAR ESTATUS ***************************************************************************** -->
        <div class="modal fade" id="modalStatusPlaza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true" th:fragment="perfil">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cambiar Estatus De Plaza</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body mx-auto">
                        <button class="btn btn-secondary mx-3" id="btnCancelarDesactivar" type="button" data-dismiss="modal">Cancelar</button>
                        <button id="botonDeshabilitarPlaza" type="submit" class="btn btn-danger">Cancelar Plaza</button>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>


        <!--**************************************************************MODAL cambiar estatus de Plaza***************************************************************************** -->
        <div class="modal fade" id="modalStatusPuestoActivar" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="perfil">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cambiar Status De Plaza</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3 text-lg-center">
                        <div id="alertaActivar"><div class="icon" > </div> </div>
                        <input type="hidden" value="" id="estadoBoton" name="estadoBoton">
                        <button class="btn btn-secondary mx-0" id="btnCancelarActivar" type="button" data-dismiss="modal">Cancelar</button>
                        <button id="botonActivarPuesto" type="submit" class="btn btn-success">Activar Plaza</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
      

        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/plaza/allPlaza.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
        <script src="js/validate.js"></script>
    </body>
</html>
