<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Administración</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Administración  / Puestos</h4>
                                </div>
                                <!-- Card Body -->

                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="row">
                                            <div class="m-lg-3 ">
                                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#agregarPuestoModal"><span class="fa fa-user-plus"></span> Agregar Nuevo Puesto</button>                                              
                                            </div>
                                            <div class="input-group">
                                                <div class="panel-container collapse show m-lg-3"> <!--  m-auto se centra la tabla-->
                                                    <div class="table-responsive">                                                       
                                                        <!-- PRUEBA BÚSQUEDA -->
                                                        <div class="alert alert-info alert-white rounded mx-auto">
                                                            <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                            <div class="icon ">
                                                                <strong><h5>Puestos Registrados</h5></strong> <i class="fa fa-search mx-auto"></i><strong> Criterios de Búsqueda: </strong> Codigo de Puesto, Nivel, Puesto, Estatus, Sueldo
                                                            </div>
                                                        </div>                                                       
                                                        <table class="table table-bordered" id="noteTable" width="100%" cellspacing="0">
                                                            <thead class="bg-success-900 thead-dark">
                                                                <tr>
                                                                    <th style="text-align: center">Codigo de Puesto</th>
                                                                    <th style="text-align: center">Nivel</th>
                                                                    <th style="text-align: center">Puesto</th>
                                                                    <th style="text-align: center">Sueldo Diario</th>
                                                                    <th style="text-align: center">Sueldo Hora</th>
                                                                    <th style="text-align: center">Sueldo Hora Doble</th>
                                                                    <th style="text-align: center">Número de Plazas</th>
                                                                    <th style="text-align: center">Estatus</th>
                                                                    <th style="text-align: center">Editar</th>
                                                                    <th style="text-align: center">Administrar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody> </tbody>
                                                        </table>
                                                    </div>   
                                                </div> 
                                            </div>  
                                        </div>
                                    </div><!-- FIN CARD BODY--*****************--> 

                                </div>
                                <!-- FIN TODO-->
                            </div>
                        </div>
                    </div>

                    <!------------------------------------------------------- MODAL AGREGAR PUESTO------------------------------------------------------------------------------->
                    <div class="modal fade" id="agregarPuestoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true" th:fragment="perfil">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Agregar Puesto</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="FormGuardarPuesto" class="needs-validation" novalidate>
                                        <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                                        <div class="row">
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Codigo del Puesto</label>
                                                <input name="codPuesto" id="codPuesto" class="form-control" autocomplete="off" placeholder="Codigo del Puesto" type="number" oninput="validacionEntero(this)" step="any" required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Nivel del Puesto</label>
                                                <input name="nivelPuesto" id="nivelPuesto" class="form-control" autocomplete="off" min="1" placeholder="Nivel del Puesto" type="number" oninput="validacionEntero(this)" required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">* Descripción del Puesto</label>
                                                <input name="puesto" id="puesto" class="form-control" minlength="3" maxlength="40" autocomplete="off" placeholder="Descripción del Puesto" type="text" required pattern="^[A-Za-zÁÉÍÓÚáéíóú\s]+$">
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Sueldo Diario</label>
                                                <input name="sueldoDiario" id="sueldoDiario" class="form-control" min="1" minlength="3" maxlength="12" autocomplete="off" placeholder="Sueldo Diario" type="number" step="any" readonly required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Sueldo Diario Doble</label>
                                                <input name="sueldoDiario_Doble" id="sueldoDiario_Doble" class="form-control" min="1" minlength="3" maxlength="12" autocomplete="off" placeholder="Sueldo Diario Doble" type="number" step="any" readonly required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Sueldo Hora</label>
                                                <input name="sueldoHora" id="sueldoHora" class="form-control" minlength="3" min="1" maxlength="12" autocomplete="off" placeholder="Sueldo Hora" type="number" step="any" readonly required>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Sueldo Hora Doble</label>
                                                <input name="sueldoHoraDoble" id="sueldoHoraDoble" class="form-control" min="1" minlength="3" maxlength="12" autocomplete="off" placeholder="Sueldo Hora Doble" type="number" step="any" readonly required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Sueldo Hora Triple</label>
                                                <input name="sueldoHoraTriple" id="sueldoHoraTriple" class="form-control" min="1" minlength="3" maxlength="12" autocomplete="off" placeholder="Sueldo Hora Triple" type="number" step="any" readonly required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Sueldo Mensual</label>
                                                <input name="sueldoMensual" id="sueldoMensual" class="form-control" minlength="3" min="1" maxlength="12" autocomplete="off" placeholder="Sueldo Mensual" type="number" step="any" oninput="calculaSueldos(),validacion(this)"required>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Cantidad Adicional Mensual</label>
                                                <input name="cantidadAdMensual" id="cantidadAdMensual" class="form-control" maxlength="12" min="1" autocomplete="off" value="0" type="number" step="any" oninput="validacion(this),calculaSueldos()" pattern="^[0-9]+(.[0]+)?$" required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Sueldo Mensual Neto</label>
                                                <input name="sueldoMensualNeto" id="sueldoMensualNeto" class="form-control" minlength="3" min="1" maxlength="12" autocomplete="off" placeholder="Sueldo Mensual Neto" oninput="validacion(this)" type="number" step="any" required>
                                            </div>
                                           
                                        </div><br>
                                        <div class="row">
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*No. Plazas Autorizadas</label>
                                                <input name="noPlazasAutorizadas" id="noPlazasAutorizadas" class="form-control" autocomplete="off" min="1" placeholder="No. Plazas Autorizadas" oninput="validacionEntero(this)" type="number" required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Sueldo Quincenal Tabulado</label>
                                                <input name="sueldoQuincenalTab" id="sueldoQuincenalTab" class="form-control" minlength="3" maxlength="12" min="1" autocomplete="off" placeholder="Sueldo Quincenal Tabulado" oninput="validacion(this)" type="number" step="any" required>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Diferencia Sueldo Diario</label>
                                                <input name="diferenciaSueldoD" id="diferenciaSueldoD" class="form-control" minlength="3" maxlength="12" min="0" autocomplete="off" placeholder="Diferencia Sueldo Diario" oninput="validacion(this)" type="number" step="any" required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Diferencia Sueldo Hora</label>
                                                <input name="diferenciaSueldoH" id="diferenciaSueldoH" class="form-control" minlength="3" maxlength="12" min="0" autocomplete="off" placeholder="Diferencia Sueldo Hora" oninput="validacion(this)" type="number" step="any" required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Diferencia Sueldo Mensual</label>
                                                <input name="diferenciaSueldoM" id="diferenciaSueldoM" class="form-control" minlength="3" maxlength="12" min="0" autocomplete="off" placeholder="Diferencia Sueldo Mensual" oninput="validacion(this)" type="number" step="any" required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Diferencia Cantidad Adicional Mensual</label>
                                                <input name="diferenciaCantidadAdM" id="diferenciaCantidadAdM" class="form-control" minlength="3" maxlength="12" min="0" autocomplete="off" placeholder="Diferencia Cantidad Adicional Mensual" oninput="validacion(this)" type="number" step="any" required>
                                            </div>
                                            
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*ISR Mensual Prestacion</label>
                                                <input name="isrMensualP" id="isrMensualP" class="form-control" minlength="3" maxlength="12" autocomplete="off" min="0" placeholder="ISR Mensual Prestacion" oninput="validacion(this)" type="number" step="any" required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*ISR Mensual</label>
                                                <input name="isrMensual" id="isrMensual" class="form-control" minlength="3" maxlength="12" autocomplete="off" min="0" placeholder="ISR Mensual" oninput="validacion(this)" type="number" step="any" required>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Cuota IMSS</label>
                                                <input name="cuotaImss" id="cuotaImss" class="form-control" minlength="3" maxlength="12" autocomplete="off" min="0" placeholder="Cuota IMSS" oninput="validacion(this)" type="number" step="any" required>
                                            </div>
                                            
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">*Codigo RH</label>
                                                <input name="codigoRh" id="codigoRh" class="form-control" minlength="3" maxlength="12" autocomplete="off" placeholder="Codigo RH" type="text" required>
                                            </div>
                                            
                                                <div class="col">   
                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Estructura</label>
                                                    <input name="sueldoEstructura" id="sueldoEstructura" class="form-control" minlength="3" maxlength="12" min="1" autocomplete="off" placeholder="Sueldo Estructura" readonly type="number" step="any" required>
                                                </div>
                                                <div class="col">   
                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Hora</label>
                                                    <input name="sueldoHora7" id="sueldoHora7" class="form-control" minlength="3" maxlength="12" autocomplete="off" min="1" placeholder="Sueldo Hora" readonly type="number" step="any" required>
                                                </div>
                                          
                                        </div>
                                        <br>
                                        <div class="form-group col-12">
                                            <button class="btn btn-secondary" id="btn_Cancelar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                            <button type="submit" class="btn btn-primary" style="width: 216px"> Guardar </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <!--************************************************************** MODAL CAMBIAR ESTATUS ***************************************************************************** -->
                    <div class="modal fade" id="modalStatusPuesto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true" th:fragment="perfil">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cambiar Estatus De Puesto</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body mx-auto">
                                    <button id="btnEstDesactivar" class="btn btn-secondary mx-3"  type="button" data-dismiss="modal">Cancelar</button>
                                    <button id="botonDeshabilitarEstatus" type="submit" class="btn btn-danger">Deshabilitar Puesto</button>
                                </div>
                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                     <!--**************************************************************MODAL cambiar estatus de Puesto***************************************************************************** -->
                <div class="modal fade" id="modalStatusPuestoActivar" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cambiar Status De Puesto</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body mx-auto">
                                <button id="btnEstActivar" class="btn btn-secondary mx-3"  type="button" data-dismiss="modal">Cancelar</button>
                                <button id="botonActivarPuesto" type="submit" class="btn btn-success">Activar Puesto</button>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                    <footer th:replace="layout/todos :: pie"></footer>
                </div>
            </div>
            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <script src="js/puesto/allPuesto.js"></script>
            <script src="js/usuarios/usuarioModificarPassword.js"></script>
            <script src="js/validate.js"></script>
    </body>
</html>