<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Calculo Pre Nomina</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right"></h4>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="col">   
                                            <label class="form-label" for="addon-wrapping-left">*Tipo de Nómina</label>
                                            <select id="cmbBeneficiario1" name="cmbBeneficiario1" class="form-control" required>  
                                                <option value="value0" selected>*Tipo de Nómina</option>
                                                <option value="value1">Varios</option>
                                                <option value="value2">Transportación</option>
                                                <option value="value3" selected>Confianza</option>
                                                <option value="value4">Jubilados</option>
                                                <option value="value5">Funcionarios</option>
                                            </select>
                                            <div id="alertaCmbBeneficiario1"></div>
                                        </div>

                                    </div><!-- FIN CARD BODY--*****************--> 
                                </div>
                                <div class="col">  
                                    <br>
                                    <input type="hidden" value="" id="id_Contacto" name="id_Contacto">
                                    <button type="button" name="paginaSiguiente" class="btn btn-primary" id="paginaSiguiente" onclick="paginaSiguiente()" value="Siguiente" style="width: 150px">Siguiente</button>   
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/nomina/preNominaAdmin.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
        <script src="js/validate.js"></script>
    </body>
</html>
