<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <style>
            #progress-container {
                display: none;
            }
        </style>
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <div id="tabs">
                                <ul id="myTab">
                                </ul>
                                <div id="tabs-1">
                                    <!-- AQUI VA TODO EL CONTENIDO -->
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Impuestos / Importación Impuestos Excel</h6>
                                            <h4 class="m-0 font-weight-bold text-primary" align="right">Importación Impuestos Excel</h4>
                                        </div>
                                        <div class="col"> 
                                            <br>
                                            <button onclick="verImpuesto()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Impuestos</button> 
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalInformacionImportacion"> <i class="fa fa-table" aria-hidden="true"></i> Mostrar Ejemplo Formato Excel</button>
                                            <br><br>
                                        </div>

                                        <!-- Card Body -->
                                        <div class="card-body container">
                                            <center>
                                                <label id="descripcionIncidencia" for="descripcion" class="mt-1 mx-10 text-danger" style="font-size: 20px;">SIN PERIODO SELECCIONADO</label>
                                            </center>
                                            <hr class="my-4"><br>
                                            <div class="row">
                                                <div class="col container">
                                                    <div class="d-flex">
                                                        <label for="periodo" class="mt-2 mx-4">Período</label>
                                                    </div><br>
                                                    <div class="d-flex">
                                                        <label for="anio" class="mt-2 mx-4">Año </label>
                                                    </div><br>
                                                    
                                                    <div class="d-flex">
                                                        <label for="impuesto" class="mt-2 mx-4">Tipo Impuesto </label>
                                                    </div><br>
                                                </div>
                                                <div class="col">
                                                    <div class="d-flex">
                                                        <input type="hidden" name="nombre_nomina" id="nombre_nomina">
                                                        <select name="cmbPeriodoCarga" id="cmbPeriodoCarga"  style="width: 275px" class="form-control"></select>
                                                    </div><br>
                                                    <div class="d-flex">
                                                        <select name="cmbAnio" id="cmbAnio" style="width: 275px" class="form-control"></select>
                                                    </div><br>
                                                    <div class="d-flex">
                                                        <select name="cmbImpuestoConcepto" id="cmbImpuestoConcepto" style="width: 275px" class="form-control"></select>
                                                    </div><br>
                                              
                                                </div>
                                                <div class="col container">
                                                    <form>
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                <input class="form-control" type="file"  style="width: 400px ; height:45px" accept=".xlsx" id="file">
                                                            </div>
                                                            <div id="progress-container">
                                                                Progreso de la carga:
                                                                <span id="progress-label">0%</span>
                                                                <progress id="progress" value="0" max="100"></progress>
                                                            </div>
                                                           
                                                        </div>

                                                        <br>
                                                    </form><br><br><br><br>
                                                    <div class="d-flex justify-content-end"> <!-- Alinear a la derecha -->
                                                        <button type="button" class="btn btn-primary" id="guarda" onclick="cargaImpExcel()" style="width: 200px">Guardar Impuestos</button>
                                                    </div><br>
                                                </div>
                                            </div>
                                            <hr class="my-4">
                                            <br>
                                            <br>
                                        </div>

                                        <!-- FIN CARD BODY---->
                                    </div>
                                    <!-- FIN TODO-->
                                </div>
                            </div>
                        </div>
                     
                      <!--***************** MODAL INFORMACIÓN DE FORMATO PARA IMPORTACIÓN--*****************-->
                        <div class="modal fade" id="modalInformacionImportacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" th:fragment="perfil">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> Ejemplo Formato de Importación (Excel)</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body container">
                                        
                                        <label class="text-danger" style="text-align: center; display: block;"><strong>Para garantizar una correcta carga de datos en el sistema, es importante que el archivo de Excel siga el siguiente "FORMATO":</strong></label>
                                        
                                        
                                        <li class="text-dark" style="margin-left: 208px;"> La primera columna <strong class="text-primary">Límite Inferior</strong> debe contener un valor numérico.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La segunda columna <strong class="text-primary">Límite Superior</strong> debe contener un valor numérico.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La tercer columna <strong class="text-primary">Cuota Fija Porcentaje</strong> debe contener el valor de la cuota fija expresado en porcentaje.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La cuarta columna <strong class="text-primary">Cuota Fija Dinero</strong> debe contener el monto de la cuota en términos monetarios.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La quinta columna <strong class="text-primary">Porcentaje Excedente Límite Inferior</strong> debe contener el valor expresado en porcentaje.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La sexta columna <strong class="text-primary">Artículo</strong> debe contener un valor númerico.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La séptima columna <strong class="text-primary">Fecha Inicio</strong> este campo debe respetar el siguiente formato dd/mm/aaaa.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La octava columna <strong class="text-primary">Fecha Fin</strong> este campo debe respetar el siguiente formato dd/mm/aaaa.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La novena columna <strong class="text-primary">Origen</strong> este campo debe contener una letra especifica.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La décima columna <strong class="text-primary">Vigencia</strong> este campo debe contener una descripción.</li>
                                        <li class="text-dark" style="margin-left: 208px;"> La onceava columna <strong class="text-primary">Nómina</strong> Se deberá colocar la inicial del tipo de nómina.</li>
                                        
                                        <div class="text-center">
                                        <label class="text-dark" style="margin-left:15px" ><strong class="text-info">V:</strong> Varios</label>
                                        <label class="text-dark" style="margin-left:15px"><strong class="text-info">T:</strong> Transportación</label>
                                        <label class="text-dark" style="margin-left:15px"><strong class="text-info">C:</strong> Confianza</label>
                                        <label class="text-dark" style="margin-left:15px"><strong class="text-info">J:</strong> Jubilados</label>
                                        <label class="text-dark" style="margin-left:15px"><strong class="text-info">E:</strong> Estructura</label>
                                        </div>
                                        <br>
                                        
                                        <table class="table" border="1">
                                            <thead class="bg-success-900 thead-dark">
                                                <tr>
                                                    <th style="text-align: center;width: 6px">Lim.Inf.</th>
                                                    <th style="text-align: center;width: 6px">Lim.Sup.</th>
                                                    <th style="text-align: center;width: 6px">C.F.%</th>
                                                    <th style="text-align: center;width: 6px">C.F.$</th>
                                                    <th style="text-align: center;width: 6px">% E.L.Inf.</th>
                                                    <th style="text-align: center;width: 6px">Art.</th>
                                                    <th style="text-align: center;width: 6px">F.Inicio</th>
                                                    <th style="text-align: center;width: 6px">F.Fin</th>
                                                    <th style="text-align: center;width: 6px">Ori.</th>
                                                    <th style="text-align: center;width: 6px">Vig.</th>
                                                    <th style="text-align: center;width: 6px">Nom.</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align: center;width: 6px">0.03</td>
                                                    <td style="text-align: center;width: 6px">171.78</td>
                                                    <td style="text-align: center;width: 6px">0.01</td>
                                                    <td style="text-align: center;width: 6px">1.92</td>
                                                    <td style="text-align: center;width: 6px">1.92</td>
                                                    <td style="text-align: center;width: 6px">133</td>
                                                    <td style="text-align: center;width: 6px">31/03/2024</td>
                                                    <td style="text-align: center;width: 6px">31/03/2024</td>
                                                    <td style="text-align: center;width: 6px">N</td>
                                                    <td style="text-align: center;width: 6px">abcd</td>
                                                    <td style="text-align: center;width: 6px">C</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: center;width: 6px">0.03</td>
                                                    <td style="text-align: center;width: 6px">171.78</td>
                                                    <td style="text-align: center;width: 6px">0.01</td>
                                                    <td style="text-align: center;width: 6px">1.92</td>
                                                    <td style="text-align: center;width: 6px">1.92</td>
                                                    <td style="text-align: center;width: 6px">133</td>
                                                    <td style="text-align: center;width: 6px">31/03/2024</td>
                                                    <td style="text-align: center;width: 6px">31/03/2024</td>
                                                    <td style="text-align: center;width: 6px">N</td>
                                                    <td style="text-align: center;width: 6px">abcd</td>
                                                    <td style="text-align: center;width: 6px">V</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                     
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/catalogos/catalogoImpuestoCargaExcel.js"></script> 
        <script src="js/validate.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
    </body>
</html>
