<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
        <!-- Custom scripts for all pages-->
        <script src="js/page_areas.js"></script>
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h3 class="m-0 font-weight-bold text-primary" id="home">Administracion de catálogos</h3>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- Inicio Card Body-->

                                    <!--Primera hilera de tabs--> 
                                    <div class="form-group">
                                        <div class="row" >
                                            <div id="tabs" >
                                                <ul id="myTab" >
                                                </ul>
                                            </div>  
                                        </div>
                                    </div>

                                    <!--Segunda hilera de tabs-->   
                                    <div class="form-group">
                                        <div class="row" >
                                            <div id="tabs2" >
                                                <ul id="myTab2">
                                                </ul>
                                            </div>  
                                        </div>
                                    </div>    
                                    
                                    <!--Tercera hilera de tabs-->   
                                    <div class="form-group">
                                        <div class="row" >
                                            <div id="tabs3" >
                                                <ul id="myTab3">
                                                </ul>
                                            </div>  
                                        </div>
                                    </div>

                                    <div class="form-group" >
                                        <div class="row">
                                            <div class="input-group">
                                                <div class="panel-container collapse show m-lg-3"> <!<!--  m-auto se centra la tabla-->
                                                    <div class="table-responsive">
                                                        <!-- PRUEBA BÚSQUEDA -->
                                                        <div class="alert alert-info alert-white rounded mx-auto">
                                                            <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                            <div class="icon ">
                                                                <strong><h5>Impuestos Nómina <i class="fa fa-calculator" aria-hidden="true"></i></h5></strong> <i class="fa fa-search mx-auto"></i><strong> Criterios de Búsqueda: </strong> Id,Cargo de la administración pública, Estatus
                                                            </div>
                                                        </div>  
                                                        <br>
                                                        <div class="m-lg-3 d-flex align-items-center">
                                                            <button type="button" class="btn btn-outline-success mr-2" data-toggle="modal" data-target="#agregarImpuestoModal">
                                                                <span class="fa fa-calculator"></span> Agregar Nuevo Impuesto
                                                            </button>
                                                            <div class="mr-2"></div>  <!--Espacio entre los botones -->
                                                            <button type="button" class="btn btn-outline-info mb-0" onclick="cargarExcel()">
                                                                <span class="fa fa-upload"></span> Importar Impuestos-Excel
                                                            </button>
                                                        </div>

                                                        <table class="table table-bordered" id="tabla_Impuestos" width="100%" cellspacing="0">
                                                            <thead class="bg-success-900 thead-dark">
                                                                <tr>
                                                                    <th>periodo</th>
                                                                    <th>Límite Inferior</th>
                                                                    <th>Límite Superior</th>    
                                                                    <th>cuota_fija_porcentaje</th> 
                                                                    <th>cuota_fija_dinero</th> 
                                                                    <th>porcentaje_excedente_limite_inferior</th> 
                                                                    <th>articulo</th> 
                                                                    <th>anio</th> 
                                                                    <th>fecha_inicio</th> 
                                                                    <th>fecha_fin</th> 
                                                                    <th>fecha_fin</th> 
                                                                    <th>Estatus</th> 
                                                                </tr>
                                                            </thead>
                                                            <tbody> </tbody>
                                                        </table>
                                                    </div>   
                                                </div> 
                                            </div> 

                                        </div>  
                                    </div><!-- FIN CARD BODY--*****************-->   
                                </div>

                            </div>
                            <!-- FIN TODO-->
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>

            <!------------------------------------------------------- MODAL AGREGAR CARGO------------------------------------------------------------------------------->
            <div class="modal fade" id="agregarImpuestoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true" th:fragment="perfil">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar Impuesto</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-left" id="alertaDescCargo"> </div>
                            <form id="FormGuardarImpuesto" class="needs-validation" novalidate>
                                <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                                
                                   <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="vigencia">*Periodo</label>
                                        <div class="input-group">
                                            <select class="form-control" id="periodo_nomina" name="periodo_nomina" required> </select>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="vigencia">*Nomina</label>
                                        <div class="input-group">
                                            <select class="form-control" id="nomina" name="nomina" required> </select>
                                            
                                        </div>  
                                    </div> 
                                </div>
                                
                                <br>
                                <div class="row container">    
                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Límite Inferior</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>$</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="limite_inferior" oninput="validacion(this)" name="limite_inferior"  required>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Límite Superior</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>$</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="limite_superior" oninput="validacion(this)" name="limite_superior"  required>
                                            
                                        </div>  
                                    </div>  
                                </div><br>
                                
                                <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Cuota Fija Porcentaje</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>%</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="cuotaFijaPorcentaje" oninput="validacion(this)" name="cuotaFijaPorcentaje"  required>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Cuota Fija Dinero</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>$</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="cuotaFijaDinero" name="cuotaFijaDinero" oninput="validacion(this)"  required>
                                            
                                        </div>  
                                    </div>  
                                </div>
                                <br>
                                <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Porcentaje Excedente Límite Inferior</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>%</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="porcentaje_excedente" name="porcentaje_excedente" oninput="validacionPorcentaje(this)" required>
                                            
                                        </div>  
                                    </div> <br>

                                </div>
                                <br>
                                 <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Artículo</label>
                                        <div class="input-group">
                                            <input class="form-control" type="number" step=1 min="0"  max="999" pattern="\d{3}" id="articulo" oninput="validacionEntero(this)" name="articulo"  required>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Origen</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" minlength="1" maxlength="1" autocomplete="off" id="origen"  name="origen"  required>
                                            
                                        </div>  
                                    </div>  
                                </div>
                                <br>
                               <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Fecha Inicio</label>
                                        <div class="input-group">
                                            <input class="form-control" type="date" id="fechaInicio"  name="fechaInicio"  required>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Fecha Fin</label>
                                        <div class="input-group">
                                            <input class="form-control" type="date"  id="fechaFin"  name="fechaFin"  required>
                                            
                                        </div>  
                                    </div>  
                                </div>
                                <br>
                                <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Vigencia</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" minlength="1" maxlength="200" autocomplete="off" id="vigencia" name="vigencia"  required>
                                           
                                        </div>  
                                    </div> <br>
                                </div>
                                <br>
                                <div class="row container">    
                                    <br>
                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Concepto Impuesto</label>
                                        <div class="input-group">
                                            <select class="form-control" id="conceptoImpuesto" name="conceptoImpuesto" required> </select>
                                           
                                        </div>  
                                    </div> 
                                    <br>   
                                </div>
                                <br>
                                
                                <div class="form-group col-12">
                                    <button class="btn btn-secondary" id="btn_Cancelar_Agregar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                    <button type="submit"  class="btn btn-primary" style="width: 216px"> Guardar </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------- FIN DEL MODAL------------------------------------------------------------------------------->


            <!------------------------------------------------------- MODAL EDITAR CARGO------------------------------------------------------------------------------->
            <div class="modal fade" id="modificarImpuestoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true" th:fragment="perfil">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modificar Cargo</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-left" id="alertaNombreCargo_edi"> </div>
                            <form id="FormEditarImpuesto" class="needs-validation" novalidate>
                                <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                                
                                   <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="vigencia">*Periodo</label>
                                        <div class="input-group">
                                            <select class="form-control" id="periodo_nominaEdita" name="periodo_nominaEdita" required> </select>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="vigencia">*Nomina</label>
                                        <div class="input-group">
                                            <select class="form-control" id="nominaEdita" name="nominaEdita" required> </select>
                                            
                                        </div>  
                                    </div> 
                                </div>
                                
                                <br>
                                <div class="row container">    
                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Límite Inferior</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>$</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="limite_inferiorEdita" oninput="validacion(this)" name="limite_inferiorEdita"  required>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Límite Superior</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>$</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="limite_superiorEdita" oninput="validacion(this)" name="limite_superiorEdita"  required>
                                            
                                        </div>  
                                    </div>  
                                </div><br>
                                
                                <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Cuota Fija Porcentaje</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>%</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="cuotaFijaPorcentajeEdita" oninput="validacion(this)" name="cuotaFijaPorcentajeEdita"  required>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Cuota Fija Dinero</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>$</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="cuotaFijaDineroEdita" name="cuotaFijaDineroEdita"  required>
                                            
                                        </div>  
                                    </div>  
                                </div>
                                <br>
                                <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Porcentaje Excedente Límite Inferior</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><b>%</b></div>
                                            </div>
                                            <input class="form-control" type="number" step=0.01 min="0"  max="9999" id="porcentaje_excedenteEdita" name="porcentaje_excedenteEdita"  required>
                                            
                                        </div>  
                                    </div> <br>

                                </div>
                                <br>
                                 <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Artículo</label>
                                        <div class="input-group">
                                            <input class="form-control" type="number" step=1 min="0"  max="999" id="articuloEdita"  oninput="validacionEntero(this)" name="articuloEdita"  required>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Origen</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text"  id="origenEdita"  name="origenEdita"  required>
                                            
                                        </div>  
                                    </div>  
                                </div>
                                <br>
                               <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Fecha Inicio</label>
                                        <div class="input-group">
                                            <input class="form-control" type="date" id="fechaInicioEdita"  name="fechaInicioEdita"  required>
                                            
                                        </div>  
                                    </div> <br>

                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Fecha Fin</label>
                                        <div class="input-group">
                                            <input class="form-control" type="date"  id="fechaFinEdita"  name="fechaFinEdita"  required>
                                            
                                        </div>  
                                    </div>  
                                </div>
                                <br>
                                <div class="row container">    
                                    <br><div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Vigencia</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text"  id="vigenciaEdita" name="vigenciaEdita"  required>
                                           
                                        </div>  
                                    </div> <br>
                                </div>
                                <br>
                                <div class="row container">    
                                    <br>
                                    <div class="col">   
                                        <label class="form-label" for="addon-wrapping-left">*Concepto Impuesto</label>
                                        <div class="input-group">
                                            <select class="form-control" id="conceptoImpuestoEdita" name="conceptoImpuestoEdita" required> </select>
                                           
                                        </div>  
                                    </div> 
                                    <br>   
                                </div>
                                <br>
                                <input type="hidden" value="" id="id_impuesto" name="id_impuesto" >
                                <div class="form-group col-12">
                                    <button class="btn btn-secondary" id="btn_Cancelar_Edita" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                    <button class="btn btn-success" onclick="actualizar_DatosImpuesto(document.getElementById('id_impuesto').value)" style="width: 216px"> Actualizar </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            
             <!--*****************************************************************MODAL PARA CAMBIAR ESTATUS DE MODELO DESHABILITAR********************************************************* -->        
              <div class="modal fade" id="modalStatusDesactivar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #1A5276; color: white">
                                <h5 class="modal-title" id="exampleModalLabel">Cambiar Status de Modelo</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body mx-auto">
                                <button class="btn btn-secondary mx-3" type="button" data-dismiss="modal">Cancelar</button>
                                <button id="botonDeshabilitar" type="submit" class="btn btn-danger" >Deshabilitar Modelo</button>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                
            <!--*****************************************************************MODAL PARA CAMBIAR ESTATUS DE MODELO ACTIVAR********************************************************* -->        
            <div class="modal fade" id="modalStatusActivar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #1A5276; color: white">
                                <h5 class="modal-title" id="exampleModalLabel">Cambiar Status de Modelo</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body mx-auto">
                                <button class="btn btn-secondary mx-3" type="button" data-dismiss="modal">Cancelar</button>
                                <button id="botonCambiar" type="submit" class="btn btn-success" >Activar Modelo</button>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>  
              </div>   
            <!------------------------------------------------------- FIN DEL MODAL------------------------------------------------------------------------------->

            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <script src="js/validate.js"></script>
            <script src="js/catalogos/catalogoImpuestosNomina.js"></script>
            <script src="js/catalogos/catalogos.js"></script>
    </body>
</html>
