<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head"> </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h3 class="m-0 font-weight-bold text-primary" id="home">Administracion de catálogos</h3>
                                    <div class="row" >
                                        <div id="tabs" >
                                            <ul id="myTab" >
                                            </ul>
                                        </div>  
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- Inicio Card Body-->
                                    <div class="form-group" >

                                        <div class="m-lg-3 ">
                                            <button type="button" id="btn_Agrega_Incidencias" class="btn btn-outline-success" data-toggle="modal" data-target="#agregarIncidenciaModal"><span class="fa fa-user-circle"></span> Agregar Nueva Incidencia</button>                                              
                                        </div>
                                        <div class="input-group">
                                            <div class="panel-container collapse show m-lg-3"> <!<!--  m-auto se centra la tabla-->
                                                <div class="table-responsive">
                                                    <!-- PRUEBA BÚSQUEDA -->
                                                    <div class="alert alert-info alert-white rounded mx-auto">
                                                        <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                        <div class="icon ">
                                                            <strong><h5>Incidencias</h5></strong> <i class="fa fa-search mx-auto"></i><strong> Criterios de Búsqueda: </strong> Id, Estatus, Descripción, Tipo Incidencia, Coa ID, Descripción Inicial, Valor Binario, Inoperable
                                                        </div>
                                                    </div>   
                                                    <table class="table table-bordered" id="tabla_Incidencias" width="100%" cellspacing="0">
                                                        <thead class="bg-success-900 thead-dark">
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Descripción</th>
                                                                <th>Tipo Incidencia</th>
                                                                <th>Coa ID</th>
                                                                <th>Descripción Inicial</th>
                                                                <th>Valor Binario</th>
                                                                <th>Inoperable</th>
                                                                <th>Kardex</th>
                                                                <th>Editar</th> 
                                                                <th>Estatus</th> 
                                                            </tr>
                                                        </thead>
                                                        <tbody> </tbody>
                                                    </table>
                                                </div>   
                                            </div> 
                                        </div> 
                                    </div>
                                </div>  
                            </div><!-- FIN CARD BODY--*****************-->   
                        </div>
                    </div>
                    <!-- FIN TODO-->
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
    </div>

    <!------------------------------------------------------- MODAL AGREGAR INCIDENCIA------------------------------------------------------------------------------->
    <div class="modal fade" id="agregarIncidenciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" th:fragment="perfil">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Incidencia</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-left" id="alertaAgregar"> </div>
                    <form id="FormGuardarIncidencia" class="needs-validation" novalidate>
                        <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Descripción</label>
                            <input name="descripcion" id="descripcion" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa la Descripción</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div> <!-- form-group// -->
                        <label class="form-label" for="addon-wrapping-left">*Tipo de Incidencia</label>
                        <input name="tipoIncidencia" id="tipoIncidencia" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required readonly>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Coa ID</label>
                            <input name="coaID" id="coaID" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa 'Coa ID'</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Descripción Inicial</label>
                            <input name="descInicial" id="descInicial" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa la Descripción Inicial</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Valor Binario</label>
                            <input name="valorBinario" id="valorBinario" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa el Valor Binario</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div>
                        <label class="form-label" for="addon-wrapping-left">*Inoperable</label>
                        <input name="inoperable" id="inoperable" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                        <div id="alerta" class="invalid-feedback"> Por favor ingresa Inoperable</div>
                        <div class="valid-feedback">
                            ¡Correcto!
                        </div>
                         <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Color en Kárdex</label>
                             <input type="color" id="colorPicker" class="form-control">
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa el color a mostrar en Kárdex</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div>

                        <br></br>
                        <div class="form-group col-12">
                            <button class="btn btn-secondary" id="btn_Cancelar_Agregar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                            <button type="submit"  class="btn btn-primary" style="width: 216px"> Guardar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------- FIN DEL MODAL------------------------------------------------------------------------------->

    <!------------------------------------------------------- MODAL EDITAR INCIDENCIA------------------------------------------------------------------------------->
    <div class="modal fade" id="modificarIncidenciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" th:fragment="perfil">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Incidencia</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="FormModificarIncidencia" class="needs-validation" novalidate>
                        <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Descripción</label>
                            <input name="descripcion_edi" id="descripcion_edi" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa la Descripción</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div> 

                        <label class="form-label" for="addon-wrapping-left">*Tipo de Incidencia</label>
                        <input name="tipoIncidencia_edi" id="tipoIncidencia_edi" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required readOnly>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Coa ID</label>
                            <input name="coaID_edi" id="coaID_edi" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa 'Coa ID'</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Descripción Inicial</label>
                            <input name="descInicial_edi" id="descInicial_edi" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa la Descripción Inicial</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Valor Binario</label>
                            <input name="valorBinario_edi" id="valorBinario_edi" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa el Valor Binario</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Inoperable</label>
                            <input name="inoperable_edi" id="inoperable_edi" class="form-control" minlength="1" maxlength="40" autocomplete="off" type="text" required>
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa Inoperable</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="addon-wrapping-left">*Color en Kárdex</label>
                             <input type="color" id="colorPickerEdi" class="form-control">
                            <div id="alerta" class="invalid-feedback"> Por favor ingresa el color a mostrar en Kárdex</div>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <button class="btn btn-secondary" id="btn_Cancelar_Editar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                            <button type="submit"  class="btn btn-primary" style="width: 216px"> Guardar </button>
                        </div>
                    </form><!-- form-group// -->
                </div> 
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------- FIN DEL MODAL------------------------------------------------------------------------------->


<!------------------------------------------------------- MODAL CAMBIO ESTATUS INCIDENCIA (Cuando está activo)---------------------------------------------------------------------------->
<div class="modal fade" id="modalStatusIncidencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="perfil">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar Estatus Incidencias</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body mx-auto">
                <button id="btnEstDesactivar" class="btn btn-secondary mx-3"  type="button" data-dismiss="modal">Cancelar</button>
                <button id="botonDeshabilitarEstatus" type="submit" class="btn btn-danger">Deshabilitar Incidencia</button>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div> 
<!------------------------------------------------------- FIN DEL MODAL------------------------------------------------------------------------------->

<!------------------------------------------------------- MODAL CAMBIA ESTATUS INCIDENCIA (Cuabdo está inactivo)------------------------------------------------------------------------------->
<div class="modal fade" id="modalStatusIncidenciaActiva" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="perfil">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar Estatus Incidencias</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body mx-auto">
                <button id="btnEstActivar" class="btn btn-secondary mx-3"  type="button" data-dismiss="modal">Cancelar</button>
                <button id="botonActivar" type="submit" class="btn btn-success">Activar Incidencia</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</div>

<!------------------------------------------------------- FIN DEL MODAL------------------------------------------------------------------------------->

<a th:replace="layout/todos :: scroll"></a>
<div th:replace="layout/todos :: sesion"></div>
<div th:replace="layout/todos :: perfil"></div>
<script src="js/validate.js"></script>
<script src="js/catalogos/catalogoIncidencias.js"></script>
</body>
</html>