<html lang="en">
    <head th:replace="layout/todos :: head">
        <!-- Custom scripts for all pages-->
        <script src="js/page_areas.js"></script>
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h3 class="m-0 font-weight-bold text-primary" id="home">Administracion de catálogos</h3>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">

                                    <!-- Inicio Card Body-->
                                    
                                     <!--Primera hilera de tabs--> 
                                    <div class="form-group">
                                        <div class="row" >
                                            
                                            
                                            <div id="tabs" >
                                                
                                                <ul id="myTab" >
                                                   
                                                </ul>
                                            </div>  
                                        </div>
                                    </div>
                                    
                                    <!--Segunda hilera de tabs-->   
                                    <div class="form-group">
                                        <div class="row" >
                                            <div id="tabs2" >
                                                <ul id="myTab2">
                                                </ul>
                                            </div>  
                                        </div>
                                    </div>
                                    
                                    <!--Tercera hilera de tabs-->   
                                    <div class="form-group">
                                        <div class="row" >
                                            <div id="tabs3" >
                                                <ul id="myTab3">
                                                </ul>
                                            </div>  
                                        </div>
                                    </div>
                                </div><!-- FIN CARD BODY--*****************-->   
                                <!-- FIN TODO-->
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
                <a th:replace="layout/todos :: scroll"></a>
                <div th:replace="layout/todos :: sesion"></div>
                <div th:replace="layout/todos :: perfil"></div>
                <script src="js/catalogos/catalogos.js"></script>
                </body>
                </html>
