<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
        <!-- Custom scripts for all pages-->
        <script src="js/page_areas.js"></script>
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Propiedades de Nóminas</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Nómina / Parámetros de nomina</h4>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!--Primera hilera de tabs--> 
                                    <div class="form-group">
                                        <div class="row" >
                                            <div id="tabs" >
                                                <ul id="myTab" >
                                                </ul>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <div class="input-group">
                                            <div class="panel-container collapse show m-lg-3"> <!<!--  m-auto se centra la tabla-->
                                                <div class="table-responsive">
                                                    <!-- PRUEBA BÚSQUEDA -->
                                                    <div class="alert alert-info alert-white rounded mx-auto">
                                                        <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                        <div class="icon ">
                                                            <strong><h5>Propiedades de Nóminas <i class="fa fa-list" aria-hidden="true"></i></h5> </strong> <i class="fa fa-search mx-auto"></i><strong> Criterios de Búsqueda: </strong> Descripción, Valor, Unidad
                                                        </div>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-label float-end" for="tipo_nomina" style="width: 250px;">Tipo de Nómina</label>
                                                        <select id="cmbTipoNomina" name="tipo_nomina" class="form-control" autocomplete="off">
                                                        </select>
                                                    </div>
                                                    <table class="table table-bordered" id="tabla_propiedades" width="100%" cellspacing="0">
                                                        <thead class="bg-success-900 thead-dark">
                                                            <tr>
                                                                <th>Descripción</th>
                                                                <th>Valor</th>
                                                                <th>Unidad</th> 
                                                                <th>Fecha Última Modificación</th> 
                                                                <th>Editar</th> 
                                                            </tr>
                                                        </thead>
                                                        <tbody> </tbody>
                                                    </table>
                                                </div>   
                                            </div> 
                                        </div> 
                                    </div>
                                </div>  
                            </div><!-- FIN CARD BODY--*****************-->   
                        </div>
                    </div>
                    <!-- FIN TODO-->
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>

        <!------------------------------------------------------- MODAL EDITAR PROPIEDADES DE LA NÓMINA------------------------------------------------------------------------------->
        <div class="modal fade" id="editar_propiedad_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true" th:fragment="perfil">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Propiedad de la Nómina</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form_modificar_propiedad" class="needs-validation" novalidate>
                            <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                            <div class="form-group">
                                <label class="form-label" for="addon-wrapping-left">Descripcion de la propiedad</label>
                                <input name="descripcion_propiedad" id="descripcion_propiedad" class="form-control" minlength="1" autocomplete="off" type="text" disabled>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="addon-wrapping-left">*Valor de la Propiedad</label>
                                <input name="valor_propiedad" id="valor_propiedad" class="form-control" autocomplete="off" type="number" required placeholder="0.00">
                                <div id="alerta" class="invalid-feedback"> Por favor, ingresa el valor de la propiedad.</div>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                            </div> 
                            <div class="form-group col-12">
                                <button class="btn btn-secondary" id="btn_Cancelar_Editar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                <button type="submit" class="btn btn-primary" style="width: 216px"> Guardar </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------- FIN DEL MODAL------------------------------------------------------------------------------->
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/validate.js"></script>
        <script src="js/nomina/parametrosNominaTabs.js"></script>
        <script src="js/nomina/adminConceptosNomina.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
    </body>
</html>
