<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4 " style="width: 1000px">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Datos del Trabajador</h6> 
                                </div>
                                <div class="col">  
                                    <button onclick="verTrabajadores()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button>   
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="row">
                                            <div id="tabs">
                                                <ul id="myTabTrabajador">
                                                </ul>
                                                <div id="tabs-1">
                                                    <form id="formGuardarTrabajador" class="needs-validation" novalidate>
                                                        <div class="form-group">
                                                             <div class="alert alert-info alert-white rounded mx-auto">
                                                                <h4 id="h2TitAccion">
                                                                     <i class="fa fa-id-card"></i>
                                                                     <span class="fw-100" id="titulo" algign="center"> <b> Credencial de Identificación </b> </span>
                                                                </h4>     
                                                            </div>
                                                            <div class="row">
                                                                <div class="col d-flex align-items-center">
                                                                    <label class="form-label mx-3" for="addon-wrapping-left">Expediente: </label>
                                                                    <input style="width: 200px" id="expediente" name="expediente" class="form-control" readonly>
                                                                </div>
                                                                <div class="col d-flex align-items-center">   
                                                                    <label class="form-label mx-3" for="addon-wrapping-left">Fecha Expedición: </label>
                                                                    <input style="width: 200px" id="fecha_expedicion" name="fecha_expedicion" class="form-control" type="date" required>
                                                                    
                                                                </div>
                                                                <div class="col d-flex align-items-center">   
                                                                    <div id="foto" class="form-label mx-3">
                                                                        <div id="fotoContainer">
                                                                            <img id="fotoElement" alt="Imagen" style="width: 150px; height: 200px; border: 2px solid black;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br></br>
                                                            <div class="row">
                                                                <div class="col d-flex align-items-center">   
                                                                    <label class="form-label mx-3" for="addon-wrapping-left">Nombre: </label>
                                                                    <label class="form-label" for="addon-wrapping-left" id="nombre" name="nombre"> </label>
                                                                    
                                                                </div>
                                                                <div class="col d-flex align-items-center">   
                                                                    <label class="form-label mx-3" for="addon-wrapping-left">Puesto: </label>
                                                                    <label class="form-label" for="addon-wrapping-left" id="puesto" name="puesto"> </label>
                                                                    
                                                                </div>
                                                                <div class="col d-flex align-items-center">
                                                                    <div id="imagen" class="form-label mx-3">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                            <div class="row">
                                                                <div class="col d-flex align-items-center">   
                                                                    <label class="form-label mx-3" for="addon-wrapping-left">Ced. IMSS: </label>
                                                                    <label class="form-label" for="addon-wrapping-left" id="imss" name="imss"> </label>
                                                                    
                                                                </div>
                                                                <div class="col d-flex align-items-center">   
                                                                    <label class="form-label mx-3" for="addon-wrapping-left">RFC: </label>
                                                                    <label class="form-label" for="addon-wrapping-left" id="rfc" name="rfc"> </label>
                                                                </div>
                                                                <div class="col d-flex align-items-center">
                                                                    
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                            <div class="row">
                                                                <div class="col d-flex align-items-center">   
                                                                    <label class="form-label mx-3" for="addon-wrapping-left">Nómina: </label>
                                                                    <label class="form-label" for="addon-wrapping-left" id="nomina" name="nomina"> </label>
                                                                    
                                                                </div>
                                                                <div class="col d-flex align-items-center">   
                                                                    <label class="form-label mx-3" for="addon-wrapping-left">Antigüead: </label>
                                                                    <label class="form-label" for="addon-wrapping-left" id="antiguedad" name="antiguedad"> </label>
                                                                </div>
                                                                <div class="col d-flex align-items-center">
                                                                    
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                            <div class="row m-lg-3">
                                                                <div  class="col">
                                                                    <button data-toggle="modal" data-target="#ingresaFirmaModal" type="button" class="btn btn-success" style="width: 216px"> Captura Firma</button>
                                                                </div>
                                                                <div  class="col">
                                                                    <input type="file" class="btn btn-success"  id="fileInput" style="width: 216px" onchange="guardaFoto()" accept="image/*"/>
                                                                </div>
                                                            </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- FIN CARD BODY--*****************-->   
                                    </div>
                                </div>
                                <!-- FIN TODO --***********************************>-->
                            </div>
                             <!--**************************************************************MODAL PARA FIRMA ****************************************************************************** -->
                            <div class="modal fade" id="ingresaFirmaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true" th:fragment="perfil">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"> Agregar Firma</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-left" id="alertaAgrega"> </div>
                                            <form id="formingresaFirma" class="needs-validation" onsubmit="return false;" novalidate>

                                                <div class="form-group">
                                                    <p>Firmar a continuación:</p>
                                                    <center><canvas id="canvas"></canvas></center>
                                                    <br><br>
                                                     
                                                </div> <!-- form-group// -->
                                                <div class="row">
                                                    <div class="col d-flex align-items-center">
                                                        <button class="btn btn-primary" id="btnLimpiar" type="button" onclick="limpiaFirma()" style="width: 200px">Limpiar</button>
                                                    </div>
                                                    <div id = "botonModificado">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                             <!--**************************************************************FIN MODAL ****************************************************************************** -->
                        
                        </div>
                    </div>
                    <footer th:replace="layout/todos :: pie"></footer>
                </div>
            </div>
            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <script src="js/firmas/allFirmas.js"></script>
            <script src="js/fotos/allFotos.js"></script>
            <script src="js/validate.js"></script>
            
    </body>
</html>
