<!DOCTYPE html>
<script>
    $(function () {
        $("#tabs").tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });
    });
</script>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Administración de Vacaciones</h6>
                                </div>
                                <div class="col">  
                                    <button onclick="adminVacaciones()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button>   
                                </div><br>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >                                  
                                        <div class="row">
                                            <div id="tabs">
 
                                                <div id="tabs-1">
                                                    <form id="formVacaciones" class="needs-validation" novalidate>
                                                        <div class="form-group">
                                                            <div class="form-group">                                                
                                                                <div class="alert alert-info alert-white rounded mx-auto">
                                                                    <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                                    <h4 id="h2TitAccion">
                                                                        <i class="fa fa-plane"></i><span class="fw-100" id="titulo" algign="center"> <b> Vacaciones del Trabajador </b> </span>
                                                                    </h4>  
                                                                </div>
                                                            </div>
                                                            <div class="text-right"> <label class="text-danger"><small>*Campos Obligatorios</small></label><br>      </div>
                                                            <div class="row  m-lg-3 mx-auto">
                                                                <div class="col">   
                                                                    <input type="hidden" id="registro_periodo" name="registro_periodo" class="form-control" required>
                                                                    <label class="form-label" for="addon-wrapping-left">*Número de expediente</label>
                                                                    <input id="expediente_id" style="width: 160px" name="expediente_id" type="number" class="form-control"  placeholder="" required disabled>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Tipo Contrato</label>
                                                                    <input id="tipo_contrato" name="tipo_contrato" maxlength="10" type="text" class="form-control"  placeholder="" readonly required>
                                                                    <input type="hidden" id="tipo_contrato_id" name="tipo_contrato_id" class="form-control" required>
                                                                    <input type="hidden" id="trabajador_prestaciones" name="trabajador_prestaciones" class="form-control" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Fecha de Inicio</label>
                                                                    <input id="fecha_inicio" name="fecha_inicio" type="date" step="any" class="form-control"  placeholder="" oninput="calculaVacaciones()" required >
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Fecha de Fin</label>
                                                                    <input id="fecha_fin" name="fecha_fin" type="date" step="any" class="form-control"  placeholder="" oninput="calculaVacaciones()" required >
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Fecha de Antigüedad</label>
                                                                    <input id="fecha_antiguedad" name="fecha_antiguedad" type="text"  class="form-control"  placeholder="" readonly required >
                                                                    
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Fecha de ingreso</label>
                                                                    <input id="fecha_ingreso" name="fecha_ingreso" type="text"  class="form-control"  placeholder="" readonly required >
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Años</label>
                                                                    <input id="anios" name="anios" type="number" step="any" class="form-control"  placeholder="" readonly required ></div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Meses</label>
                                                                    <input id="meses" name="meses" maxlength="10" type="text" class="form-control"  placeholder=""  readonly required >
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Días</label>
                                                                    <input id="dias" name="dias" maxlength="10" type="number" class="form-control"  placeholder="" readonly required>
                                                                </div>
                                                                
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Días Vacaciones</label>
                                                                    <input id="dias_vacaciones" name="dias_vacaciones" maxlength="10" type="text" class="form-control"  placeholder="" readonly required>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Días Paseos</label>
                                                                    <input id="dias_paseos" name="dias_paseos" maxlength="10" type="number" class="form-control"  placeholder="" readonly required>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Días Totales</label>
                                                                    <input id="dias_totales" name="dias_totales" maxlength="10" type="number" class="form-control"  placeholder="" readonly required>
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Periodo Vacacional</label>
                                                                    <input id="periodo_vacacional" name="periodo_vacacional" maxlength="10" type="number" class="form-control"  placeholder="" readonly oninput="calculaVacaciones()" required>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Estado</label>
                                                                    <input id="id_estado" name="id_estado" maxlength="10" type="number" class="form-control"  placeholder="" required>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Días Disponibles</label>
                                                                    <input id="dias_disponibles" name="dias_disponibles" maxlength="10" type="number" class="form-control"  placeholder="" readonly required>
                                                                    <input type="hidden" id="dias_disponibles_base" name="dias_disponibles_base" class="form-control" required>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Periodo de Aplicación</label>
                                                                    <input id="periodo_aplicacion" name="periodo_aplicacion" maxlength="10" type="text" class="form-control"  placeholder="" required>
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Motivo de Cancelación</label>
                                                                    <input id="motivo_cancelacion" name="motivo_cancelacion" maxlength="10" type="number" class="form-control"  placeholder="" >
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Referencia de Cancelación</label>
                                                                    <input id="referencia_cancelacion" name="referencia_cancelacion" maxlength="20" type="text" class="form-control"  placeholder="" >
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Inicio Periodo Vacacional</label>
                                                                    <input id="fecha_inicio_anio_periodo_vacacional" name="fecha_inicio_anio_periodo_vacacional" type="text" step="any" class="form-control"  placeholder="" readonly required >
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Fin Periodo Vacacional</label>
                                                                    <input id="fecha_fin_anio_periodo_vacacional" name="fecha_fin_anio_periodo_vacacional" type="text" class="form-control"  placeholder="" readonly required >
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*A Discontinua</label>
                                                                    <input id="a_discontinua" name="a_discontinua" maxlength="1" type="number" class="form-control" value="0" placeholder="" required>
                                                                </div>
                                                                
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Días Proporcionales</label>
                                                                    <input id="dias_proporcionales" name="dias_proporcionales" maxlength="10" type="number" class="form-control"  placeholder="" required>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Periodo de Aplicación Fin</label>
                                                                    <input id="periodo_aplicacion_fin" name="periodo_aplicacion_fin" maxlength="10" type="number" class="form-control"  placeholder="" required>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Genera Pago</label>
                                                                    <select id="genera_pago" name="genera_pago" maxlength="10" type="number" class="form-control"  style="width: 300px" placeholder="" required></select>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <label class="form-label" for="addon-wrapping-left">*Observaciones</label>
                                                                <div class="col">
                                                                    <textarea id="observaciones" name="observaciones" rows="4" cols="30"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col"> <br>
                                                            <button type="submit"  class="btn btn-primary" id="guardarVacaciones" value="Enviar" style="width: 216px"> Guardar</button>   
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- FIN CARD BODY--*****************-->   
                                    </div>
                                </div>
                                <!-- FIN TODO-->
                            </div>
                        </div>
                    </div>
                    <footer th:replace="layout/todos :: pie"></footer>
                </div>
            </div>
            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
            
            <script src="js/vacaciones/vacacionesGeneradas.js"></script>
            <script src="js/usuarios/usuarioModificarPassword.js"></script>
            <script src="js/validate.js"></script>
    </body>
</html>
