<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>  

                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Incidencias</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Kárdex </h4>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body" style="width: 100%">
                                    <button type="button" name="salir" class="btn btn-secondary" id="salir" onclick="home()" value="Enviar" >Ver Trabajadores</button>  
                                    <br>
                                    <br>
                                    <!-- DATOS DEL TRABAJADOR -->
                                    <div class="alert alert-info alert-white rounded mx-left" style="width: 100%;">
                                        <div class="row">
                                            <div class="col">
                                                <label for="campo_expediente" class="m-0 font-weight-bold text-dark">Expediente:</label>
                                                <input type="text" id="campo_expediente" class="form-control" readonly>
                                            </div>
                                            <div class="col">
                                                <label for="campo_nombre" class="m-0 font-weight-bold text-dark">Trabajador</label>
                                                <input type="text" id="campo_nombre" class="form-control" readonly>
                                            </div>
                                            <div class="col">
                                                <label for="comisionado_si_no" class="m-0 font-weight-bold text-dark">Comisionado</label>
                                                <input type="text" id="comisionado_si_no" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-inline">
                                                    <label for="addon-wrapping" class="col-sm-3 form-label"> Causa</label>
                                                    <select id="cmb_incidencias" name="cmb_incidencias" class="form-control">
                                                        <option>*Todas las Incidencias</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="col-9 mx-sm-5">
                                                    <label for="addon-wrapping" class="col-sm-12 form-label"> INASISTENCIAS EN EL AÑO</label> 
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <!-- INICIO CALENDARIO -->
                                        <div id="calendar"></div>
                                        <div class="modal fade" id="event-modal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Detalle Incidencia</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input id="event-index" type="hidden" name="event-index">
                                                        <form class="form-horizontal">
                                                            <div class="form-group row">
                                                                <label for="event-name" class="col-sm-4 control-label">Incidencia</label>
                                                                <div class="col-sm-8">
                                                                    <input id="event-name" name="event-name" type="text" class="form-control" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="event-location" class="col-sm-4 control-label">Observación</label>
                                                                <div class="col-sm-8">
                                                                    <input id="event-location" name="event-location" type="text" class="form-control" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="folio" class="col-sm-4 control-label">Folio</label>
                                                                <div class="col-sm-8">
                                                                    <input id="folio" name="folio" type="text" class="form-control" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="folio" class="col-sm-4 control-label">Bis</label>
                                                                <div class="col-sm-8">
                                                                    <input id="bis" name="bis" type="text" class="form-control" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="min-date" class="col-sm-4 control-label">Fechas</label>
                                                                <div class="col-sm-8">
                                                                    <div class="input-group input-daterange" data-provide="datepicker">
                                                                        <input id="min-date" name="event-start-date" type="text" class="form-control" readonly>
                                                                        <div class="input-group-prepend input-group-append">
                                                                            <div class="input-group-text">a</div>
                                                                        </div>
                                                                        <input name="event-end-date" type="text" class="form-control" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="adminIncidencias" type="button" class="btn btn-primary" onclick="administrarIncidencias()">Administrar Incidencias</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                        <!--                                                        <button type="button" class="btn btn-primary" id="save-event">
                                                                                                                    Save
                                                                                                                </button>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                                        <div id="context-menu">
                                                                               </div>-->
                                        <!-- FIN CALENDARIO -->
                                        <br>
                                        <br>
                                        <center>
                                            <label for="descripcion" class="mt-1 mx-10"> NOTA</label>
                                        </center>
                                        <label style="font-size: 15px;">*Incidencia agregada por Personal: <i class="fa fa-circle" aria-hidden="true"></i></label>
                                        <br>
                                        <label style="font-size: 15px;">*Incidencia agregada por Nómina: <i class="fa fa-square" aria-hidden="true"></i></label>
                                        <hr class="my-4">
                                        <table class="table table-bordered" style="overflow-x: auto;" id="tablaIncidenciasKardex" width="100%">
                                            <thead class="bg-success-900 thead-dark">
                                                <tr>
                                                    <th>Incidencia</th>
                                                    <th>Inicial</th>
                                                    <th>Color</th>   
                                                </tr>
                                            </thead>
                                            <tbody> </tbody>
                                        </table>  
                                    </div>
                                </div>
                                <!-- FIN TODO-->
                            </div>
                        </div>
                    </div>

                    <footer th:replace="layout/todos :: pie"></footer>
                </div>
            </div>
            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <!-- Enlaces a hojas de estilo externas (CSS) -->
            <link rel="stylesheet" href="css/js-year-calendar.min.css">
            <!--        <link rel="stylesheet" href="https://unpkg.com/bootstrap-datepicker@1.8.0/dist/css/bootstrap-datepicker.standalone.min.css">-->
            <!-- Enlaces a scripts (JavaScript) -->
            <script src="js/calendar/popper.min.js"></script>
            <script src="js/calendar/bootstrap.min.js"></script>
            <script src="js/calendar/bootstrap-datepicker.min.js"></script>
            <script src="js/calendar/js-year-calendar.js"></script>
            <script src="js/calendar/jquery.bootstrap.year.calendar.js"></script>
            <script src="js/nomina/cardex.js"></script>
            <script type="module" src="js/calendar/js-year-calendar.es.js"></script>
            <script src="js/usuarios/usuarioModificarPassword.js"></script>
            <script src="js/validate.js"></script>
    </body>
</html>