<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Incidencias</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Importacion de Incidencias</h4>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="row">
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">Importacion de incidencias en formato CSV</label>                                                              
                                                <form id="frmFormulario" enctype="multipart/form-data"><input onchange="cargarDocumento();" type="file" id="file" name="file"/></form>
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">Periodos de Generación</label>
                                                <input class="form-control" type="date" id="fecha_nacimiento_edita" name="fecha_nacimiento_edita" min="1900-01-01" max="2050-12-31" required><!-- comment -->
                                            </div>
                                            <div class="col">   
                                                <label class="form-label" for="addon-wrapping-left">Periodos de aplicación</label>
                                               <input class="form-control" type="date" id="fecha_nacimiento_edita" name="fecha_nacimiento_edita" min="1900-01-01" max="2050-12-31" required><!-- comment -->
                                            </div>                                                      
                                        </div>
                                    </div><!-- FIN CARD BODY--*****************--> 
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/personal/allTrabajador.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
        <script src="js/validate.js"></script>
    </body>
</html>
