<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4" style="width: 100%;">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Consulta Histórica R.A 15 </h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Incidencias Generales / Consulta Histórica RA15</h4>
                                </div>
                                <div class="col">  
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <button onclick="adminRa15()"  type="button" class="btn btn-secondary" style="width: 150px">Regresar</button> 
                                            </div>

                                        </div>
                                        <br>
                                        <div class="form-group" style="width: 100%">                                  
                                            <div class="alert alert-info alert-white rounded mx-left" style="width: 100%;">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="campo_expediente" class="m-0 font-weight-bold text-dark">Expediente:</label>
                                                        <input type="text" id="campo_expediente" class="form-control text-center" readonly>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="campo_nombre" class="m-0 font-weight-bold text-dark">Trabajador:</label>
                                                        <input type="text" id="campo_nombre" class="form-control text-center" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label for="campo_descansos_trabajador" class="m-0 font-weight-bold text-dark">Descansos</label>
                                                        <input type="text" id="campo_descansos_trabajador" class="form-control text-center" readonly>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <label for="campo_sueldo_hora" class="m-0 font-weight-bold text-dark">Sueldo por hora</label>
                                                        <input type="text" id="campo_sueldo_hora" class="form-control text-center" readonly>
                                                    </div>

                                                    <div class="col">
                                                        <label for="campo_puesto_trabajador" class="m-0 font-weight-bold text-dark">Puesto:</label>
                                                        <input type="text" id="campo_puesto_trabajador" class="form-control text-center" readonly>
                                                    </div>

                                                    <div class="col">
                                                        <label for="campo_tipo_trabajador" class="m-0 font-weight-bold text-dark">Tipo:</label>
                                                        <input type="text" id="campo_tipo_trabajador" class="form-control text-center" readonly>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <label for="campo_nomina" class="m-0 font-weight-bold text-dark">Depósito</label>
                                                        <input type="text" id="campo_deposito" class="form-control text-center" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label for="campo_linea" class="m-0 font-weight-bold text-dark">Linea:</label>
                                                        <input type="text" id="campo_linea" class="form-control text-center" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <label for="periodoTransportacion" class="m-0 font-weight-bold text-dark">Perido:</label>                                                            
                                                    <select id="periodoTransportacion" class="form-control" required>
                                                        <option>Cargando...</option>
                                                    </select>  
                                                </div>
                                                <div class="col-lg-1">
                                                    <br>
                                                    <button onclick="buscarCapturaSemanal()" type="button" class="btn btn-primary"> <i class="fa fa-search" aria-hidden="true"></i> Buscar</button> 
                                                </div>
                                            </div>
                                            <hr>
                                            <!-- FILA I -->
                                            <div class="row justify-content-center">

                                                <!-- COLUMNA I -->
                                                <!--                                                <div class="col border-right">
                                                                                                    <label for="fecha_captura_diaria" class="m-0 font-weight-bold text-dark">Fecha: </label>
                                                                                                    <input type="date" id="fecha_captura_diaria" class="form-control">
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <div class="form-check">
                                                                                                        <input class="form-check-input" type="checkbox"  id="flexCheckDefault">
                                                                                                        <label class="form-check-label" for="flexCheckDefault">
                                                                                                            Fijar Captura Diaria
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <div class="form-check">
                                                                                                        <input class="form-check-input" type="checkbox"  id="flexCheckChecked">
                                                                                                        <label class="form-check-label" for="flexCheckChecked">
                                                                                                            Captura Abierta
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <button type="button" id="btn_calculadora" class="btn btn-secondary" data-toggle="modal" data-target="#calculadoraHoras"> <i class="fa fa-calculator" aria-hidden="true"></i> Calculadora</button>
                                                                                                </div>-->
                                                <!-- COLUMNA II -->
                                                <div class="form-group">
                                                    <div class="col" style="margin-top: 35px;">

                                                        <table  style="border-spacing: 7px; border-collapse: separate;">
                                                            <tr>
                                                                <td>
                                                                    <h6 id="h2TitAccion">
                                                                        <span class="fw-100">Excedente Jornada</span>
                                                                    </h6>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <h6 id="h2TitAccion">
                                                                        <span class="fw-100" id="titulo">Jornada Normal</span>
                                                                    </h6>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <h6 id="h2TitAccion">
                                                                        <span class="fw-100" id="titulo">Tiempo Extra Lab</span>
                                                                    </h6>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <h6 id="h2TitAccion">
                                                                        <span class="fw-100" id="titulo">T.E. Doble</span>
                                                                    </h6>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <h6 id="h2TitAccion">
                                                                        <span class="fw-100" id="titulo">T.E. Triple</span>
                                                                    </h6>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <h6 id="h2TitAccion">
                                                                        <span class="fw-100" id="titulo">Descanso Lab.</span>
                                                                    </h6>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <h6 id="h2TitAccion">
                                                                        <span class="fw-100" id="titulo">Inasistencias</span>
                                                                    </h6>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <h6 id="h2TitAccion">
                                                                        <span class="fw-100" id="titulo">Suplencia</span>
                                                                    </h6>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>  
                                                <!-- COLUMNA III -->
                                                <div class="col-lg-8">
                                                    <div class="table-responsive-lg">
                                                        <table class="table table-sm" id="capturaRegistroAsistencia">
                                                            <thead class="bg-success-900 thead-dark">
                                                                <tr>
                                                                    <!-- ENCABEZADOS -->
                                                                    <th id="dia1Encabezado" style="border: 1px solid black; width: 140px; height: 25px;">DOMINGO </th>
                                                                    <th id="dia2Encabezado" style="border: 1px solid black; width: 140px; height: 25px;">LUNES</th>
                                                                    <th id="dia3Encabezado" style="border: 1px solid black; width: 140px; height: 25px;">MARTES</th>
                                                                    <th id="dia4Encabezado" style="border: 1px solid black; width: 140px; height: 25px;">MIÉRCOLES</th>
                                                                    <th id="dia5Encabezado" style="border: 1px solid black; width: 140px; height: 25px;">JUEVES</th>
                                                                    <th id="dia6Encabezado" style="border: 1px solid black; width: 140px; height: 25px;">VIERNES</th>
                                                                    <th id="dia7Encabezado" style="border: 1px solid black; width: 140px; height: 25px;">SÁBADO</th>
                                                                </tr>
                                                                <!-- EXCEDENTE JORNADA -->
                                                                <tr>
                                                                    <td id="celdaExcedenteDia1" style="border: 1px solid black;"><input id="excedenteDia1"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaExcedenteDia2" style="border: 1px solid black;"><input id="excedenteDia2"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaExcedenteDia3" style="border: 1px solid black;"><input id="excedenteDia3"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaExcedenteDia4" style="border: 1px solid black;"><input id="excedenteDia4"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaExcedenteDia5" style="border: 1px solid black;"><input id="excedenteDia5"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaExcedenteDia6" style="border: 1px solid black;"><input id="excedenteDia6"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaExcedenteDia7" style="border: 1px solid black;"><input id="excedenteDia7"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                </tr>
                                                                <!-- JORNADA NORMAL -->
                                                                <tr>
                                                                    <td  id="celdaJornadaNormalDia1" style="border: 1px solid black;"><input id="jornadaNormalDia1"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled> </td>
                                                                    <td  id="celdaJornadaNormalDia2" style="border: 1px solid black;"><input id="jornadaNormalDia2"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td  id="celdaJornadaNormalDia3" style="border: 1px solid black;"><input id="jornadaNormalDia3"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td  id="celdaJornadaNormalDia4" style="border: 1px solid black;"><input id="jornadaNormalDia4"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td  id="celdaJornadaNormalDia5" style="border: 1px solid black;"><input id="jornadaNormalDia5"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td  id="celdaJornadaNormalDia6" style="border: 1px solid black;"><input id="jornadaNormalDia6"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td  id="celdaJornadaNormalDia7" style="border: 1px solid black;"><input id="jornadaNormalDia7"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                </tr>
                                                                <!-- TIEMPO EXTRA LABORADO -->
                                                                <tr>
                                                                    <td id="celdaTiempoExtraLabDia1" style="border: 1px solid black;"><input id="tiempoExtraLabDia1"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaTiempoExtraLabDia2" style="border: 1px solid black;"><input id="tiempoExtraLabDia2"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaTiempoExtraLabDia3" style="border: 1px solid black;"><input id="tiempoExtraLabDia3"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaTiempoExtraLabDia4" style="border: 1px solid black;"><input id="tiempoExtraLabDia4"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaTiempoExtraLabDia5" style="border: 1px solid black;"><input id="tiempoExtraLabDia5"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaTiempoExtraLabDia6" style="border: 1px solid black;"><input id="tiempoExtraLabDia6"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaTiempoExtraLabDia7" style="border: 1px solid black;"><input id="tiempoExtraLabDia7"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                </tr>
                                                                <!-- TIEMPO EXTRA DOBLE -->
                                                                <tr>
                                                                    <td style="border: 1px solid black;"><input id="extraDobleDia1"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraDobleDia2"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraDobleDia3"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraDobleDia4"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraDobleDia5"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraDobleDia6"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraDobleDia7"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                </tr>
                                                                <!-- TIEMPO EXTRA TRIPLE -->
                                                                <tr>
                                                                    <td style="border: 1px solid black;"><input id="extraTripleDia1"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraTripleDia2"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraTripleDia3"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraTripleDia4"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraTripleDia5"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraTripleDia6"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td style="border: 1px solid black;"><input id="extraTripleDia7"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                </tr>
                                                                <!-- PASEOS / DESCANSO LABORADO -->
                                                                <tr>
                                                                    <td id="celdaPaseosLabDia1" style="border: 1px solid black;"><input id="paseosLabDia1" class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaPaseosLabDia2" style="border: 1px solid black;"><input id="paseosLabDia2" class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaPaseosLabDia3" style="border: 1px solid black;"><input id="paseosLabDia3" class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaPaseosLabDia4" style="border: 1px solid black;"><input id="paseosLabDia4" class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaPaseosLabDia5" style="border: 1px solid black;"><input id="paseosLabDia5" class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaPaseosLabDia6" style="border: 1px solid black;"><input id="paseosLabDia6" class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                    <td id="celdaPaseosLabDia7" style="border: 1px solid black;"><input id="paseosLabDia7" class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                </tr>
                                                                <!-- INASISTENCIAS -->
                                                                <tr>
                                                                    <td id="celdaInasistenciasDia1" style="border: 1px solid black;"><input id="inasistenciasDia1"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaInasistenciasDia2" style="border: 1px solid black;"><input id="inasistenciasDia2"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaInasistenciasDia3" style="border: 1px solid black;"><input id="inasistenciasDia3"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaInasistenciasDia4" style="border: 1px solid black;"><input id="inasistenciasDia4"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaInasistenciasDia5" style="border: 1px solid black;"><input id="inasistenciasDia5"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaInasistenciasDia6" style="border: 1px solid black;"><input id="inasistenciasDia6"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaInasistenciasDia7" style="border: 1px solid black;"><input id="inasistenciasDia7"  class="form-control" style="width: 120px; height: 25px;" disabled ></td>
                                                                </tr>
                                                                <!-- SUPLENCIA -->
                                                                <tr>
                                                                    <td id="celdaSuplenciasDia1"  style="border: 1px solid black;"><input id="suplenciasDia1"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaSuplenciasDia2"  style="border: 1px solid black;"><input id="suplenciasDia2"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaSuplenciasDia3"  style="border: 1px solid black;"><input id="suplenciasDia3"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaSuplenciasDia4"  style="border: 1px solid black;"><input id="suplenciasDia4"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaSuplenciasDia5"  style="border: 1px solid black;"><input id="suplenciasDia5"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaSuplenciasDia6"  style="border: 1px solid black;"><input id="suplenciasDia6"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                    <td id="celdaSuplenciasDia7"  style="border: 1px solid black;"><input id="suplenciasDia7"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                    <div class="row" style="display: flex; justify-content: space-between;">
                                                        <span class="fw-100" style="text-align: left;">
                                                            <label id="dias_descanso_trabajador" class="m-0 font-weight-bold text-dark">Descanso1: 01:35  Descanso2: 01:35  Hrs. Desc. = 03:10 </label>
                                                        </span>
                                                        <span class="fw-100" style="text-align: right;">
                                                            <label for="campo_sueldo_diario_trabajador" class="m-0 font-weight-bold text-dark">TOTAL DE HORAS DEL TURNO AUTORIZADO: </label>
                                                            <input type="text" id="total_horas_turno_autorizado" disabled style="width: 150px">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <!-- ABONOS Y DESCUENTOS POR TIEMPO -->
                                            <div style="display: flex; align-items: center;">
                                                <div style="text-align: left;">
                                                    Abonos y Descuentos por Tiempo
                                                </div>
                                            </div>
                                            <hr>
                                            <!-- FILA -->
                                            <div class="row">
                                                <!-- COLUMNA I -->
                                                <div class="col-lg-1" style="margin-top: 35px;">
                                                    <table style="border-spacing: 4px; border-collapse: separate;">
                                                        <tr>
                                                            <td></td>
                                                            <td>
                                                                <h6 id="h2TitAccion">
                                                                    ABONOS
                                                                </h6>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>
                                                                <h6 id="h2TitAccion">
                                                                    DESCUENTOS
                                                                </h6>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>
                                                                <h6>
                                                                    COMENTARIO
                                                                </h6>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <!-- COLUMNA II -->
                                                <div class="col-lg-9 border-right">
                                                    <table class="table table-sm" id="capturaRegistroAsistencia" cellspacing="0"  style="border: 1px solid black;">
                                                        <thead class="bg-success-900 thead-dark">
                                                            <tr>
                                                                <!-- ENCABEZADOS -->
                                                                <th id="dia1Encabezado"  style="border: 1px solid black;">JORNADA </th>
                                                                <th id="dia2Encabezado"  style="border: 1px solid black;">HRS. DOBLE</th>
                                                                <th id="dia3Encabezado" style="border: 1px solid black;">HRS. TRIPLE</th>
                                                                <th id="dia4Encabezado" style="border: 1px solid black;">DESC. LAB</th>
                                                                <th id="dia5Encabezado" style="border: 1px solid black;">PRIMA DOM.</th>
                                                                <th id="dia6Encabezado" style="border: 1px solid black;">FESTIVO</th>
                                                                <th id="dia7Encabezado" style="border: 1px solid black;">DIAS LAB.</th>
                                                                <th id="dia7Encabezado" style="border: 1px solid black;">DIF. SUPLENCIA</th>
                                                            </tr>
                                                            <!-- ABONOS -->
                                                            <tr>
                                                                <td id="celdaAbonosJornada"  style="border: 1px solid black;"><input id="abonosJornada"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaAbonosHoraDoble" style="border: 1px solid black;"><input id="abonosHoraDoble"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaAbonosHoraTriple" style="border: 1px solid black;"><input id="abonosHorasTriples"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaAbonosDescansosLaborados" style="border: 1px solid black;"><input id="abonosDescansosLaborados"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaAbonosPrimaDominical" style="border: 1px solid black;"><input type="number" id="abonosPrimaDominical"  class="form-control" style="width: 120px; height: 25px;"  maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" disabled></td>
                                                                <td id="celdaAbonosFestivos" style="border: 1px solid black;"><input id="abonosFestivos"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaAbonosDiasLaborados" style="border: 1px solid black;"><input type="number" id="abonosDiasLaborados"  class="form-control" style="width: 120px; height: 25px;" maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" disabled></td>
                                                                <td id="celdaAbonosDiferenciaSuplencia" style="border: 1px solid black;"><input type="number" id="abonosDiferenciaSuplencia"  class="form-control" style="width: 120px; height: 25px;" maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" disabled></td>
                                                            </tr>
                                                            <!-- DESCUENTOS -->
                                                            <tr>
                                                                <td id="celdaDescuentosJornada" style="border: 1px solid black;"><input id="descuentosJornada"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaDescuentosHoraDoble" style="border: 1px solid black;"><input id="descuentosHoraDoble"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaDescuentosHoraTriple" style="border: 1px solid black;"><input id="descuentosHoraTriple"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaDescuentosDescansosLaborados" style="border: 1px solid black;"><input id="descuentosDescansosLaborados"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaDescuentosPrimaDominical" style="border: 1px solid black;"><input type="number" id="descuentosPrimaDominical"  class="form-control" style="width: 120px; height: 25px;" maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" disabled></td>
                                                                <td id="celdaDescuentosFestivos" style="border: 1px solid black;"><input id="descuentosFestivos"  class="form-control" style="width: 120px; height: 25px;" maxlength="5" disabled></td>
                                                                <td id="celdaDescuentosDiasLaborados" style="border: 1px solid black;"><input type="number" id="descuentosDiasLaborados"  class="form-control" style="width: 120px; height: 25px;" maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" disabled></td>
                                                                <td id="celdaDescuentosDiferenciaSuplencia" style="border: 1px solid black;"><input type="number" id="descuentosDiferenciaSuplencia"  class="form-control" style="width: 120px; height: 25px;" maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" disabled></td>
                                                            </tr>
                                                            <!-- OBSERVACIONES -->
                                                            <tr>
                                                                <td id="celdaObservacionesAbonosyDescuentos" colspan="8" style="border: 1px solid black;"><input id="observacionesAbonosyDescuentos"  class="form-control" style="width: 1150px; height: 25px;" disabled></td>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-lg-1">
                                                    <div class="col-lg-13">
                                                        Importe
                                                        <input type="number" id="omisionPorImporte"  class="form-control" style="width: 120px; height: 25px;" maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" disabled>
                                                    </div>

                                                    <div class="col-lg-13">
                                                        Obsevaciones
                                                        <input id="descripcionOmisionPorImporte"  class="form-control" style="width: 200px; height: 90px;" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                Resumen de incidencias del periodo
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label style="vertical-align: top;">--------NÚMERO DE HORAS--------</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label style="width: 450px; margin-left: calc(100% - 550px); vertical-align: top;">--------DIFERENCIAS POR SUPLENCIA--------</label>
                                                </div>
                                            </div>
                                            <table class="table table-sm" id="capturaRegistroAsistencia" cellspacing="0"  style="border: 1px solid black;">
                                                <thead class="bg-success-900 thead-dark">
                                                    <tr>
                                                        <!-- ENCABEZADOS -->
                                                        <th id="resumenJornadaEncabezado"  style="border: 1px solid black;">JORNADA </th>
                                                        <th id="resumenTiempoDobleEncabezado"  style="border: 1px solid black;">DOBLE</th>
                                                        <th id="resumenTiempoTripleEncabezado" style="border: 1px solid black;">TRIPLE</th>
                                                        <th id="resumenDiasLaboradosEncabezado" style="border: 1px solid black;">DIAS LAB.</th>
                                                        <th id="resumenFaltasEncabezado" style="border: 1px solid black;">FALTAS</th>
                                                        <th id="resumenDescansosLaboradosEncabezado" style="border: 1px solid black;">DESC. LAB.</th>
                                                        <th id="resumenPrimaDominicalEncabezado" style="border: 1px solid black;">PRIMA DOM.</th>
                                                        <th id="resumenDiasFestivosEncabezado" style="border: 1px solid black;">FEST.</th>
                                                        <th id="resumenOmisionesEncabezado" style="border: 1px solid black;">OMISIONES </th>
                                                        <th id="resumenDescansosLaboradosSuplenciaEncabezado" style="border: 1px solid black;">DESC LAB.</th>
                                                        <th id="resumenPrimaDominicalSuplenciaEncabezado" style="border: 1px solid black;">PRIMA DOM.</th>
                                                        <th id="resumenTiempoExtraSuplenciaEncabezado" style="border: 1px solid black;">TIEMPO EXTRA</th>
                                                        <th id="resumenSueldoEncabezado" style="border: 1px solid black;">SUELDO</th>
                                                        <th id="resumenPagoEncabezado" style="border: 1px solid black;">PAGO</th>
                                                        <th id="resumenCve27Encabezado" style="border: 1px solid black;">CVE. 27</th>
                                                    </tr>
                                                    <!-- RESUMEN DE INCIDENCIAS DEL PERIODO -->
                                                    <tr>
                                                        <td id="celdaCalculoJornada" style="border: 1px solid black; text-align: center;"><input id="calculoJornada"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoTiempoDoble" style="border: 1px solid black;"><input id="calculoTiempoDoble"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoTiempoTriple" style="border: 1px solid black;"><input id="calculoTiempoTriple"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoDiasLaborados" style="border: 1px solid black; text-align: center;"><input id="calculoDiasLaborados"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoFaltas" style="border: 1px solid black;"><input id="calculoFaltas"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoDescLaborados" style="border: 1px solid black; text-align: center;"><input id="calculoDescLaborados"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoPrimaDominical" style="border: 1px solid black;"><input id="calculoPrimaDominical"  class="form-control" style="width: 100px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoFestivos" style="border: 1px solid black;"><input id="calculoFestivos"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoOmisiones" style="border: 1px solid black;"><input id="calculoOmisiones"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoDescLaboradosSuplencia" style="border: 1px solid black;"><input id="calculoDescLaboradosSuplencia"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoPrimaDominicalSuplencia" style="border: 1px solid black;"><input id="calculoPrimaDominicalSuplencia"  class="form-control" style="width: 100px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoTiempoExtra" style="border: 1px solid black;"><input id="calculoTiempoExtra"  class="form-control" style="width: 120px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoSueldo" style="border: 1px solid black;"><input id="calculoSueldo"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoPago" style="border: 1px solid black;"><input id="calculoPago"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                        <td id="celdaCalculoCve27" style="border: 1px solid black;"><input id="calculoCve27"  class="form-control" style="width: 77px; height: 25px;" disabled></td>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <footer th:replace="layout/todos :: pie"></footer>
                </div>                   
                <a th:replace="layout/todos :: scroll"></a>
                <div th:replace="layout/todos :: sesion"></div>
                <div th:replace="layout/todos :: perfil"></div>
                <script src="js/transportacionRA/consultaHistoricaCapturaSemanal.js"></script>
                <script src="js/validate.js"></script>
                </body>
                </html>
