<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <div id="tabs">
                                <ul id="myTab">
                                </ul>
                                <div id="tabs-1">
                                    <!-- AQUI VA TODO EL CONTENIDO -->
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Nómina</h6>
                                            <h4 class="m-0 font-weight-bold text-primary" align="right">Importación de Ciclos</h4>
                                        </div>
                                        <div class="col">  
                                            <button onclick="ciclosOperacion()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Ciclos</button>   
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body container" >
                                            <div class="row">
                                                <div class="col container">
                                                    <label for="obtener" class="mt-1 mx-2">Obtener Información </label>
                                                    <form>
                                                        <input type="file" class="btn btn-primary" style="width: 200px" id="archivo_input" accept=".xlsx, .xls">
                                                        <button class="btn btn-primary" id="boton_importar" style="width: 200px" onclick="importarCiclos()">Importar</button>
                                                        <br>
                                                    </form>
                                                </div>
                                            </div>
                                            <br>

                                        </div><!-- FIN CARD BODY--*****************-->
                                    </div>
                                    <!-- FIN TODO-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/nomina/importarCiclos.js"></script>
        <script src="js/validate.js"></script>
    </body>
</html>
