<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row"> 
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h5 class="m-0 font-weight-bold text-primary">Modulo de Captura Nómina de Transportación</h5>
                                    <!-- PRUEBA BÚSQUEDA -->
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- NAVEGACIÓN EN TABS -->
                                    <div id="tabs" >
                                        <ul id="myTab" >
                                        </ul>
                                    </div>
                                    <div class="form-group" >
                                        <div class="row">
                                            <div class="input-group">                                    
                                                <div class="table-responsive">
                                                    <!-- PRUEBA BÚSQUEDA -->
                                                    <div class="alert alert-info alert-white rounded mx-auto">
                                                        <div class="icon ">
                                                            <strong><h5><i class="fa fa-upload" aria-hidden="true"></i> Importar nuevos nombramientos</h5></strong>
                                                        </div>
                                                    </div>  
                                                </div> 
                                            </div>  
                                        </div>
                                        <div class="d-flex">
                                            <input type="file" accept=".xlsx" id="file" style="width: 350px"/>
                                        </div><br>
                                        <select id="cmbHojasExcel" name="cmbHojasExcel" class="form-control" required hidden>
                                        </select>  
                                    </div><!-- FIN CARD BODY--*****************--> 
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>
                    </div>
                    <!------------------------------------------------------- MODAL IMPORTAR TURNOS AUTORIZADOS------------------------------------------------------------------------------->
                    <div class="modal fade" id="seleccionAnioCarga" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true" th:fragment="perfil">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cargar Plantas</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formSeleccionAnio" class="needs-validation" novalidate>
                                        <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                                        <div class="form-group">
                                            <label class="form-label" for="addon-wrapping-left">*Proporcione el año al que pertenece la información</label>
                                            <select name="yearpicker" id="yearpicker" class="form-control" required></select>
                                            <div id="alerta" class="invalid-feedback"> Por favor ingresa el año</div>
                                            <div class="valid-feedback">
                                                ¡Correcto!
                                            </div>
                                        </div> 
                                        <br>
                                        <center>
                                            <button id="btn_cargando" class="btn btn-primary" type="button" disabled>
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                Cargando plantas, por favor espere...
                                            </button>
                                        </center>
                                        <br>
                                        <div class="form-group col-12">
                                            <button class="btn btn-secondary" id="btn_Cancelar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                            <button type="submit"  class="btn btn-primary" style="width: 216px"> Cargar archivo </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------------------------------------------------------- FIN DEL MODAL------------------------------------------------------------------------------->
                    <div class="modal fade" id="modalAnioSeleccionadoDectado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true" th:fragment="perfil" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"> Año detectado</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-left" id="alertaAgrega"> </div>
                                    <form id="formAvisoAnioDetectado" class="needs-validation" onsubmit="return false;" novalidate>
                                        <div class="form-group">
                                            <label class="form-label" for="addon-wrapping-left"> Ya existe una carga para el año seleccionado.</label>
                                            <label class="form-label" for="addon-wrapping-left"> ¿Desea continuar? Pueden duplicarse los registros.</label>
                                        </div> 
                                        <hr>
                                        <div class="form-group col-12">
                                            <button class="btn btn-secondary" id="cancelar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                            <button type="submit"  class="btn btn-primary" style="width: 216px"> Confirmar </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/transportacionRA/tabsNavegacion.js"></script>
        <script src="js/transportacionRA/importacionTurnos.js"></script>
        <script src="js/sheetJs.js"></script>
        <script src="js/validate.js"></script>
    </body>
</html>
