<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4  w-75">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Generador de Archivos SUA</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        Seleccione el periodo para la inclusión de inasistencias en el archivo a generar
                                    </div>
                                    <br>
                                    <br>
                                    <!-- Fila de selección del periodo -->
                                    <div class="row justify-content-center">
                                        <div class="col-lg-1">
                                            Periodo
                                        </div>
                                        <div class="col-lg-5">
                                            <select id="cmbPeriodo" class="custom-select" aria-label="Default select example">
                                                <option selected>Ninguno</option>
                                                <option value="1">Mes Actual</option>
                                                <option value="2">Mes Anterior</option>
                                                <option value="3">Mes siguiente</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <!-- Fila de las fechas -->
                                    <div class = "row justify-content-center">
                                        <div class="col-lg-1">
                                            Fecha Inicial
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="form-control" type="date" id="fechaInicial">
                                        </div>
                                        <div class="col-lg-1">
                                            Fecha Final
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="form-control" type="date" id="fechaFinal">
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <!-- Fila de botones -->
                                    <div class="row justify-content-center">
                                        <div class="col-lg-5">
                                            <button type="button" class="btn btn-primary btn" onclick="generarArchivoInasistenciasSUA()">Generar Archivos SUA (Inasistencias)</button>
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="button" class="btn btn-secondary btn" onclick="generarArchivosSUAInasistencias()">Generar Archivos (Incapacidades)</button>
                                        </div>
                                        <div class="col-lg-3">
                                            <button type="button" class="btn btn-primary btn" onclick="generarArchivoMovimientosSUA()">Generar Mov .txt (Movimientos)</button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <button type="button" class="btn btn-primary btn" onclick="generarReporteSUA()">Reporte SUA (Inasistencias)</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>
                        <!--***********************************************************************MODAL VER PARA FORMATOS************************************************************************************** -->
                        <div class="modal fade" id="reportesSUA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog " role="document" style="max-width: 1300px!important;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center">Reporte</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe id="suaFrame" style='width:1200px; height:600px;'></iframe>
                                        <div  style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                                            <button class="btn btn-secondary " type="button" data-dismiss="modal" style="width: 216px">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>

        <script src="js/validate.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
        <script src="js/reportes/archivosSUA.js"></script>
    </body>
</html>
