<!DOCTYPE html>
<script>
    $(function () {
        $("#tabs").tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });
    });
</script>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Calculo </h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Calculos / Prenomina</h4>
                                </div>
                                <div class="col">  
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="form-group" >                                  
                                            <div class="row">
                                                <div id="tabs">
                                                    <ul id="myTab">
                                                    </ul>
                                                    <div id="tabs-1">
                                                        <form id="formGuardarPersona" class="needs-validation" novalidate>
                                                            <div class="form-group">
                                                                <div class="panel-hdr">
                                                                    <h2 id="h2TitAccion">
                                                                        <span class="fw-100" id="titulo" algign="center"> <b> Calculo Prenomina </b> </span>
                                                                    </h2>     
                                                                </div>
                                                                <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                                                                <div class="row">
                                                                    <div class="form-group">
                                                                        <div class="col">   
                                                                            <label class="form-label" style="width: 100px" for="addon-wrapping-left">Nómina</label>                                                              
                                                                            <input id="nombre_candidato_edita" name="" type="text" class="form-control" style="width: 100px"  placeholder="Confianza" aria-label="" aria-describedby="addon-wrapping-left" disabled>
                                                                        </div>
                                                                    </div>    
                                                                    <div class="form-group" style="padding-left:400px" >
                                                                        <div class="col">   
                                                                            <label class="form-label" for="addon-wrapping-left">*Periodos de Generación</label>
                                                                            <select id="cmbBeneficiario1" name="cmbBeneficiario1" class="form-control" required>  
                                                                                <option value="value0" selected>*Periodos de Generación</option>
                                                                                <option value="value1" selected>P.01: 16/12/2022 - 31/12/2022</option>
                                                                            </select>
                                                                            <div id="alertaCmbBeneficiario1">
                                                                            </div>       
                                                                        </div>    
                                                                    </div>
                                                                </div>
                                                                <div class="row">    
                                                                    <div class="form-group" style="padding-left:520px" >
                                                                        <div class="col">   
                                                                            <label class="form-label" for="addon-wrapping-left">*Periodos de Aplicación</label>
                                                                            <select id="cmbBeneficiario1" name="cmbBeneficiario1" class="form-control" required>  
                                                                                <option value="value0" selected>*Periodos de Aplicación</option>
                                                                                <option value="value1" selected>P.01: 16/12/2022 - 31/12/2022</option>

                                                                            </select>
                                                                            <div id="alertaCmbBeneficiario1"></div>
                                                                        </div>    
                                                                    </div>    
                                                                </div>
                                                                <br><div class="row" style="">    
                                                                    <div class="form-group" >
                                                                        <div class="col">
                                                                            <h4 style="text-align: center" id="h2TitAccion">
                                                                                <span class="fw-100" style="padding-left: 170px" id="titulo">Incidencias</span>
                                                                                <span class="fw-100" style="padding-left: 520px" id="titulo">Conceptos</span>
                                                                            </h4>

                                                                        </div>
                                                                    </div>
                                                                </div>    
                                                                <div class="row" style="width: 300%">    
                                                                    <div class="form-group" >
                                                                        <div class="col">
                                                                            <div class="panel-container collapse show m-lg-10"> <!<!--  m-auto se centra la tabla-->

                                                                                <div class="table-responsive">
                                                                                    <table class="table table-bordered" id="noteTable" cellspacing="0">
                                                                                        <thead class="bg-success-900 thead-dark">
                                                                                            <tr>
                                                                                                <th>CLAVE</th>
                                                                                                <th>INCIDENCIA</th>
                                                                                                <th>CANTIDAD</th>
                                                                                                <th>P.GEN</th>
                                                                                                <th>P.APL</th>

                                                                                        </thead>
                                                                                    </table>
                                                                                </div>
                                                                            </div> 
                                                                        </div>
                                                                    </div>    
                                                                    <div class="form-group" style="padding-left: 180px" >
                                                                        <div class="col">
                                                                            <div class="panel-container collapse show m-lg-10"> <!<!--  m-auto se centra la tabla-->

                                                                                <div class="table-responsive">
                                                                                    <table class="table table-bordered" id="noteTable" cellspacing="0">
                                                                                        <thead class="bg-success-900 thead-dark">
                                                                                            <tr>
                                                                                                <th>CLAVE</th>
                                                                                                <th>CONCEPTO</th>
                                                                                                <th>CANTIDAD</th>
                                                                                                <th>P.GEN</th>
                                                                                                <th>P.APL</th>
                                                                                        </thead>
                                                                                    </table>
                                                                                </div>
                                                                            </div> 
                                                                        </div>
                                                                    </div>                  
                                                                </div>    
                                                        </form>    
                                                    </div>
                                                </div>
                                            </div>
                                            <footer th:replace="layout/todos :: pie"></footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>                   
                <a th:replace="layout/todos :: scroll"></a>
                <div th:replace="layout/todos :: sesion"></div>
                <div th:replace="layout/todos :: perfil"></div>
                <script src="js/nomina/masCalculos.js"></script>
                <script src="js/validate.js"></script>
                <script src="js/usuarios/usuarioModificarPassword.js"></script>
                </body>
                </html>
