<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Datos de Contacto del Candidato</h6>
                                </div>
                                <div class="col">  
                                    <button onclick="verCandidatos()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Candidatos</button>
                                    <button onclick="verTrabajadores()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button>
                                </div><br>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >

                                        <div class="row">
                                            <div id="tabs">
                                                <ul id="myTab">

                                                </ul>
                                                <div id="tabs-2">                                                                                                   
                                                    <form id="formContactoPersona" class="needs-validation" novalidate>
                                                        <div class="form-group">                                                
                                                            <div class="alert alert-info alert-white rounded mx-auto">
                                                                <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                                <h4 id="h2TitAccion">
                                                                    <i class="fa fa-phone"></i><span class="fw-100" id="titulo" algign="center"> <b> Datos de Contacto del Candidato </b> </span>
                                                                </h4>  
                                                            </div>
                                                        </div>
                                                        <div class="text-right"> <label class="text-danger"><small>*Campos Obligatorios</small></label><br>      </div></br>
                                                        <!-- DIV PARA DATOS DE CONTACTO-->
                                                        <div class="row">
                                                            <div class="col">   
                                                                <label class="form-label" for="addon-wrapping-left">*Correo Electrónico</label>
                                                                <input id="mail" name="mail" type="email" class="form-control"  placeholder="Correo Electrónico" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" readonly>
                                                                <div id="alerta" class="invalid-feedback"> Los campos no pueden estar vacíos</div>
                                                            </div>

                                                            <div class="col">   
                                                                <label class="form-label" for="addon-wrapping-left">*Teléfono Celular</label>
                                                                <input id="telefono_celular" name="telefono_celular"  maxlength="10" type="number" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control"  placeholder="Teléfono Celular" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" readonly>
                                                                <div id="alerta" class="invalid-feedback"> Los campos no pueden estar vacíos</div>
                                                            </div>

                                                            <div class="col">
                                                                <label class="form-label" for="addon-wrapping-left">*Teléfono Particular</label>
                                                                <input id="telefono_particular" name="telefono_particular" maxlength="10" type="number" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control"  placeholder="Teléfono Particular" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" readonly>
                                                                <div id="alerta" class="invalid-feedback"> Los campos no pueden estar vacíos</div>
                                                            </div>
                                                        </div>
                                                        <br></br>

                                                        <div class="row">
                                                            <div class="col">   
                                                                <label class="form-label" for="addon-wrapping-left">*Contactar en emergencias</label>
                                                                <input id="nombre_emergencias" style="text-transform:uppercase;" name="nombre_emergencias" maxlength="60" type="text" class="form-control"  placeholder="Contactar en emergencias" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" readonly>
                                                                <div id="alerta" class="invalid-feedback"> Los campos no pueden estar vacíos</div>
                                                            </div>
                                                            <div class="col">   
                                                                <label class="form-label" for="addon-wrapping-left">*Telefono de emergencia</label>
                                                                <input id="telefono_emergencias" name="telefono_emergencias" maxlength="10" type="number" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control"  placeholder="Telefono de emergencia" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" readonly>
                                                                <div id="alerta" class="invalid-feedback"> Los campos no pueden estar vacíos</div>
                                                            </div>
                                                        </div>
                                                </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div><!-- FIN CARD BODY--*****************-->   
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>

        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/personal/personaContacto.js"></script>
        <script src="js/personal/tabsPersonal.js"></script>
    </body>
</html>