<!DOCTYPE html>
<script>
    $(function () {
        $("#tabs").tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });
    });
</script>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Datos Generales del Candidato</h6>
                                </div>
                                <div class="col">  
                                    <button onclick="verCandidatos()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Candidatos</button>
                                    <button onclick="verTrabajadores()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button>
                                </div><br>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >                                  
                                        <div class="row">
                                            <div id="tabs">
                                                <ul id="myTab">

                                                </ul>
                                                <div id="tabs-1">
                                                    <form id="formGuardarPersona" class="needs-validation" novalidate>
                                                        <div class="form-group">
                                                            <div class="form-group">                                                
                                                                <div class="alert alert-info alert-white rounded mx-auto">
                                                                    <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                                    <h4 id="h2TitAccion">
                                                                        <i class="fa fa-user-circle"></i><span class="fw-100" id="titulo" algign="center"> <b> Datos Generales del Candidato </b> </span>
                                                                    </h4>  
                                                                </div>
                                                            </div>

                                                            <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                                                            <div class="row">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Nombre(s)</label>                                                              
                                                                    <input id="nombre_candidato_edita" style="text-transform:uppercase;" maxlength="40" name="nombre_candidato_edita" type="text" class="form-control"  placeholder="Nombre(s)" aria-label="nombreCandidato" aria-describedby="addon-wrapping-left" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">Apellido Paterno/Primer Apellido</label>
                                                                    <input id="apellido_paterno_edita" style="text-transform:uppercase;" maxlength="40" name="apellido_paterno_edita" type="text" class="form-control"  placeholder="Apellido Paterno" aria-label="apellidoPaterno" aria-describedby="addon-wrapping-left" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">Apellido Materno/Segundo Apellido</label>
                                                                    <input id="apellido_materno_edita" style="text-transform:uppercase;" maxlength="40" name="apellido_materno_edita" type="text" class="form-control"  placeholder="Apellido Materno" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left">
                                                                </div>                                                      
                                                            </div>
                                                            <br></br>

                                                            <div class="row">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Fecha de Nacimiento</label>
                                                                    <!--<div id="demo-dp-component">
                                                                        <div class="input-group date">
                                                                            <input type="text" class="form-control">
                                                                            <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>-->
                                                                    <input class="form-control" type="date" id="fecha_nacimiento_edita" name="fecha_nacimiento_edita" min="1900-01-01" max="2050-12-31" required>
                                                                    <!--</div>
                                                                </div>-->
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Entidad de Nacimiento</label>
                                                                    <select id="cmbEstadoNacimiento" name="cmbEstadoNacimiento" class="form-control" required> </select>
                                                                </div>  
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Nacionalidad</label>
                                                                    <select id="cmbNacionalidad" name="cmbNacionalidad" class="form-control" required> </select>
                                                                </div>                                                    
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Grado Máximo de estudios</label>
                                                                    <select id="cmbEstudios" name="cmbEstudios" class="form-control" required> </select>
                                                                </div>                                                 
                                                            </div>
                                                            <br></br>

                                                            <div class="row">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*CURP</label>
                                                                    <input id="curp_edita" name="curp_edita" type="text" class="form-control"  placeholder="CURP Candidato" aria-label="nombreCandidato" aria-describedby="addon-wrapping-left" disabled>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*RFC</label>
                                                                    <input id="rfc_edita" style="text-transform:uppercase;" maxlength="13" name="rfc_edita" type="text" class="form-control"  placeholder="RFC Candidato" aria-label="nombreCandidato" aria-describedby="addon-wrapping-left" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*N° Afiliación IMSS</label>
                                                                    <input id="num_imss_edita" maxlength="11" name="num_imss_edita" type="text" class="form-control"  placeholder="N° Afiliación IMSS Candidato" aria-label="nombreCandidato" aria-describedby="addon-wrapping-left" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Genero</label>
                                                                    <select id="cmbGenero" name="cmbGenero" class="form-control" required>  </select>
                                                                </div>
                                                            </div>
                                                            <br></br>

                                                            <div class="row">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Matricula Servicio Militar Nacional </label>
                                                                    <input id="smn_edita" style="text-transform:uppercase;" maxlength="20" name="smn_edita" type="text" class="form-control"  placeholder="SMN Candidato" aria-label="smnCandidato" aria-describedby="addon-wrapping-left" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Estado Civil</label>
                                                                    <select id="cmbEstadoCivil" name="cmbEstadoCivil" class="form-control" onchange="validarEdoCivil()" required></select>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Fecha de Matrimonio</label>                                  
                                                                    <input class="form-control" type="date" id="fecha_matrimonio_edita" name="fecha_matrimonio_edita" value="" min="1900-01-01" max="2050-12-31">                           
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*¿Tiene Hijos?</label>                                                             
                                                                    <select id="cmbHijos" name="cmbHijos" class="form-control" required> </select>    
                                                                </div>
                                                            </div>
                                                            <br></br>

                                                            <div class="row">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Cargo en Admon. Pública</label>
                                                                    <select id="cmbAdmonPublica" name="cmbAdmonPublica" class="form-control" required> </select>
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Inhabilitación Admon. Pública</label>
                                                                    <select id="cmbInhabilitadoAdmonPub" name="cmbInhabilitadoAdmonPub" class="form-control" required> </select>
                                                                </div>


                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Crédito INFONAVIT</label>
                                                                    <select id="cmbCreditoInfonavit" name="cmbCreditoInfonavit" class="form-control" required>
                                                                        <option selected disabled value="">* Crédito INFONAVIT</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col">  
                                                            <button type="submit" name="botonenviar" class="btn btn-primary" id="botonenviar" value="Enviar" style="width: 216px"> Guardar</button>   
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- FIN CARD BODY--*****************-->   
                                    </div>
                                </div>
                                <!-- FIN TODO-->
                            </div>
                        </div>
                    </div>
                    <footer th:replace="layout/todos :: pie"></footer>
                </div>
            </div>
            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <script src="js/personal/personaDatosGenerales.js"></script>
            <script src="js/validate.js"></script>
            <script src="js/usuarios/usuarioModificarPassword.js"></script>
    </body>
</html>
