<!DOCTYPE html>

<script>
    $(function () {
        $("#tabs").tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            },
            selected: 5
        });
    });
</script>
<html lang="es">
    <head th:replace="layout/todos :: head">
   
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Beneficiarios del Trabajador</h6>
                                </div>
                                <div class="col">  
                                    <button onclick="verTrabajadores()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button>   
                                </div><br>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="row">
                                            <div id="tabs">
                                                <ul id="myTab"></ul>
                                                <div id="tabs-2">                                                                                                   
                                                    <form id="formBeneficiariosPersona" class="needs-validation" novalidate>
                                                        <div class="form-group">
                                                             <div class="form-group">                                                
                                                                <div class="alert alert-info alert-white rounded mx-auto">
                                                                    <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                                    <h4 id="h2TitAccion">
                                                                        <i class="fa fa-users"></i><span class="fw-100" id="titulo" algign="center"> <b>Beneficiarios</b> </span>
                                                                    </h4>  
                                                                </div>
                                                            </div>
                                                            <div class="m-lg-4 text-right"> <label class="text-danger"><small>*Campos Obligatorios</small></label><br>      </div>

                                                            <!-- DIV PARA DATOS DE CONTACTO-->

                                                            <!-- ****************************************************PERSONA UNO************************************************************************ -->
                                                            <div> <span class= "label-info m-lg-4"><b>BENEFICIARIO 1</b> </span> </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">  
                                                                    <label class="form-label" for="addon-wrapping-left">*Nombre</label>
                                                                    <input id="nombre_beneficiario1" name="nombre_beneficiario1" style="text-transform:uppercase;" minlength="2" maxlength="30" type="text" class="form-control"  placeholder="Nombre" aria-label="Nombre" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaNombre1"> </div>

                                                                    <input id="id_beneficiario1" name="id_beneficiario1" type="hidden" class="form-control"> <!-- Guarda el id del beneficiario-->
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Apellido Paterno</label>
                                                                    <input id="apellido_paterno1" name="apellido_paterno_1"  style="text-transform:uppercase;" minlength="2" maxlength="30" type="text" class="form-control"  placeholder="Apellido Paterno" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaApellidoPat1"></div>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Apellido Materno</label>
                                                                    <input id="apellido_materno1" name="apellido_materno1" style="text-transform:uppercase;" minlength="2" maxlength="30" type="text" class="form-control"  placeholder="Apellido Materno" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaApellidoMat1"></div>
                                                                </div>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Parentesco</label>
                                                                    <select id="cmbParentesco1" name="cmbParentesco1" class="form-control" required>  </select>
                                                                    <div id="alertaCmbParentesco1"></div>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Porcentaje</label>
                                                                    <input id="porcentajeBeneficiario1" name="porcentajeBeneficiario1" type="number" min="1" max="100"  class="form-control"  placeholder="Porcentaje" required>
                                                                    <div id="alertaPorcentaje1"></div>
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Tipo Beneficiario</label>
                                                                    <select id="cmbBeneficiario1" name="cmbBeneficiario1" class="form-control" required>  </select>
                                                                    <div id="alertaCmbBeneficiario1"></div>
                                                                </div>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">
                                                                    <button type="button" name="btn_Bef1" class="btn btn-outline-danger float-right " id="btn_Bef1" value="Enviar" onclick="eliminarBeneficiario(document.getElementById('id_beneficiario1').value, 1)" style="width: 110px"> <span class="fa fa-times-circle"></span> Eliminar</button>   
                                                                </div>
                                                            </div><br>



                                                            <!-- ****************************************************PERSONA DOS************************************************************************ -->

                                                            <div><hr align="center" class="m-lg-3" style="width: 1170px; border-color:#A0B4D5;" >
                                                                <span class = " label-info m-lg-4"><b>BENEFICIARIO 2</b> </span>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Nombre</label>
                                                                    <input id="nombre_beneficiario2" name="nombre_beneficiario2" style="text-transform:uppercase;" maxlength="40" type="text" class="form-control"  placeholder="Nombre" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaNombre2" > </div>

                                                                    <input id="id_beneficiario2" name="id_beneficiario2" type="hidden" class="form-control"><!-- Guarda el id del beneficiario-->
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Apellido Paterno</label>
                                                                    <input id="apellido_paterno2" name="apellido_paterno2" style="text-transform:uppercase;" maxlength="40" type="text" class="form-control"  placeholder="Apellido Paterno" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaApellidoPat2"></div>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Apellido Materno</label>
                                                                    <input id="apellido_materno2" name="apellido_materno2" style="text-transform:uppercase;" maxlength="40" type="text" class="form-control"  placeholder="Apellido Materno" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaApellidoMat2"></div>
                                                                </div>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Parentesco</label>
                                                                    <select id="cmbParentesco2" name="cmbParentesco2" class="form-control" required>  </select>
                                                                    <div id="alertaCmbParentesco2"></div>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Porcentaje</label>
                                                                    <input id="porcentajeBeneficiario2" name="porcentajeBeneficiario2" type="number" min="1" max="100" class="form-control"  placeholder="Porcentaje" required>
                                                                    <div id="alertaPorcentaje2"></div>
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Tipo Beneficiario</label>
                                                                    <select id="cmbBeneficiario2" name="cmbBeneficiario2" class="form-control" required>  </select>
                                                                    <div id="alertaCmbBeneficiario2"></div>
                                                                </div>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">
                                                                    <button type="button" name="btn_Bef2" class="btn btn-outline-danger float-right" id="btn_Bef2" value="Enviar" onclick="eliminarBeneficiario(document.getElementById('id_beneficiario2').value, 2)" style="width: 106px"> <span class="fa fa-times-circle"></span> Eliminar</button>   
                                                                </div>
                                                            </div><br>


                                                            <!-- ****************************************************PERSONA TRES************************************************************************ -->   
                                                            <div><hr align="center" class="m-lg-3" style="width: 1170px; border-color:#A0B4D5;" >
                                                                <span class = " label-info m-lg-4"><b>BENEFICIARIO 3</b> </span>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Nombre</label>
                                                                    <input id="nombre_beneficiario3" name="nombre_beneficiario3" style="text-transform:uppercase;" maxlength="40" type="text" class="form-control"  placeholder="Nombre" aria-label="Nombre" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaNombre3" ></div>
                                                                    <input id="id_beneficiario3" name="id_beneficiario3" type="hidden" class="form-control"> <!-- Guarda el id del beneficiario-->
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Apellido Paterno</label>
                                                                    <input id="apellido_paterno3" name="apellido_paterno3" style="text-transform:uppercase;" maxlength="40" type="text" class="form-control"  placeholder="Apellido Paterno" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaApellidoPat3"> </div>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Apellido Materno</label>
                                                                    <input id="apellido_materno3" name="apellido_materno3" style="text-transform:uppercase;" maxlength="40" type="text" class="form-control"  placeholder="Apellido Materno" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaApellidoMat3"></div>
                                                                </div>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Parentesco</label>
                                                                    <select id="cmbParentesco3" name="cmbParentesco3" class="form-control" required>  </select>
                                                                    <div id="alertaCmbParentesco3"></div>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Porcentaje</label>
                                                                    <input id="porcentajeBeneficiario3" name="porcentajeBeneficiario3" type="number" min="1" max="100" class="form-control"  placeholder="Porcentaje" required>
                                                                    <div id="alertaPorcentaje3"></div>
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Tipo Beneficiario</label>
                                                                    <select id="cmbBeneficiario3" name="cmbBeneficiario3" class="form-control" required>  </select>
                                                                    <div id="alertaCmbBeneficiario3"></div>
                                                                </div>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">
                                                                    <button type="button" name="btn_Bef3" class="btn btn-outline-danger float-right" id="btn_Bef3" value="Enviar" onclick="eliminarBeneficiario(document.getElementById('id_beneficiario3').value, 3)" style="width: 106px"> <span class="fa fa-times-circle"></span> Eliminar</button>   
                                                                </div>
                                                            </div><br>


                                                            <!-- ****************************************************PERSONA CUATRO************************************************************************ -->
                                                            <div><hr align="center" class="m-lg-3" style="width: 1170px; border-color:#A0B4D5;" >
                                                                <span class = " label-info m-lg-4"><b>BENEFICIARIO 4</b> </span>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Nombre</label>
                                                                    <input id="nombre_beneficiario4" name="nombre_beneficiario4" style="text-transform:uppercase;" maxlength="40" type="text" class="form-control"  placeholder="Nombre" aria-label="Nombre" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaNombre4" > </div>

                                                                    <input id="id_beneficiario4" name="id_beneficiario4" type="hidden" class="form-control"> <!-- Guarda el id del beneficiario-->
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Apellido Paterno</label>
                                                                    <input id="apellido_paterno4" name="apellido_paterno4" style="text-transform:uppercase;" maxlength="40" type="text" class="form-control"  placeholder="Apellido Paterno" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaApellidoPat4"></div>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Apellido Materno</label>
                                                                    <input id="apellido_materno4" name="apellido_materno4" style="text-transform:uppercase;" maxlength="40" type="text" class="form-control"  placeholder="Apellido Materno" aria-label="apellidoMaterno" aria-describedby="addon-wrapping-left" required pattern="^[A-Za-záéíóúÁÉÍÓÚñ\s]">
                                                                    <div id="alertaApellidoMat4"></div>
                                                                </div>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Parentesco</label>
                                                                    <select id="cmbParentesco4" name="cmbParentesco4" class="form-control" required>  </select>
                                                                    <div id="alertaCmbParentesco4"></div>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Porcentaje</label>
                                                                    <input id="porcentajeBeneficiario4" name="porcentajeBeneficiario4" type="number" min="1" max="100" class="form-control"  placeholder="Porcentaje" required>
                                                                    <div id="alertaPorcentaje4"></div>
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Tipo Beneficiario</label>
                                                                    <select id="cmbBeneficiario4" name="cmbBeneficiario4" class="form-control" required>  </select>
                                                                    <div id="alertaCmbBeneficiario4"></div>
                                                                </div>
                                                            </div>

                                                            <div class="row  m-lg-3">
                                                                <div class="col">
                                                                    <button type="button" name="btn_Bef4" class="btn btn-outline-danger float-right" id="btn_Bef4" onclick="eliminarBeneficiario(document.getElementById('id_beneficiario4').value, 4)" value="Enviar" style="width: 106px"> <span class="fa fa-times-circle"></span> Eliminar</button>   
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col"><br>
                                                            <input type="hidden" value="" id="id_Contacto" name="id_Contacto">
                                                            <button type="button" name="guardarBeneficiario" class="btn btn-primary " id="guardarBeneficiario" onclick="guardarBeneficiarios()" value="Enviar" style="width: 216px"> Guardar</button>   
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- FIN CARD BODY--*****************-->   
                                    </div>
                                </div><!-- FIN TODO-->

                            </div>
                        </div>
                    </div>
                    <footer th:replace="layout/todos :: pie"></footer>
                </div>
            </div>

            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <script src="js/personal/personaBeneficiarios.js"></script>
            <script src="js/usuarios/usuarioModificarPassword.js"></script>
            
    </body>
</html>
