<!DOCTYPE html>
<script>
    (function () {
        $("#tabs").tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            },
            selected: 2
        });
    });
</script>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Datos del Direccion del Canditado</h6>
                                </div>
                                <div class="col">  
                                    <button onclick="verCandidatos()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Candidatos</button>
                                    <button onclick="verTrabajadores()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button>
                                </div><br>
                                <!-- Card Body -->
                                <div class="card-body">

                                    <div class="form-group" >

                                        <div class="row">
                                            <div id="tabs">
                                                <ul id="myTab">

                                                </ul>
                                                <div id="tabs-3">
                                                    <!-- DIV PARA DIRECCION-->
                                                    <form id="formDireccionPersona" class="needs-validation" novalidate>
                                                        <div class="form-group">
                                                            <div class="form-group">                                                
                                                                <div class="alert alert-info alert-white rounded mx-auto">
                                                                    <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                                    <h4 id="h2TitAccion">
                                                                        <i class="fa fa-home"></i><span class="fw-100" id="titulo" algign="center"> <b> Domicilio Actual del Candidato</b> </span>
                                                                    </h4>  
                                                                </div>
                                                            </div>    
                                                            <div class="text-right"> <label class="text-danger"><small>*Campos Obligatorios</small></label><br>      </div>

                                                            <div class="row">
                                                                <div class="col">  

                                                                    <label class="form-label" for="addon-wrapping-left">*Código Postal</label>
                                                                    <input id="cod_postal" name="cod_postal" type="number"  maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" placeholder="Código Postal" aria-label="codigoPostal" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alerta" class="invalid-feedback"> Por favor ingresa el Código Postal.</div>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">Estado</label>
                                                                    <input id="desc_estado" name="desc_estado" type="text" class="form-control"  aria-label="estado" aria-describedby="addon-wrapping-left" readonly="readonly" required>
                                                                </div>

                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">Municipio/Alcaldia</label>
                                                                    <input id="desc_municipio" name="desc_municipio" type="text" class="form-control"  aria-label="municipio" aria-describedby="addon-wrapping-left" readonly="readonly" required>

                                                                </div>

                                                                <div class="col">

                                                                    <label class="form-label" for="addon-wrapping-left">*Colonia</label>
                                                                    <select class="select2 form-control w-100" id="alcaldia" name="alcaldia" required> </select>
                                                                    <div id="alerta" class="invalid-feedback">Por favor selecciona la Colonia.</div>

                                                                </div>

                                                            </div>
                                                            <br>

                                                            <div class="row">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Calle</label>
                                                                    <input id="calle_valor" name="calle_valor" type="text" class="form-control" style="text-transform:uppercase;"  minlength="3" maxlength="35" placeholder="Calle" required>
                                                                    <div id="alerta" class="invalid-feedback"> Los campos no pueden estar vacíos</div>
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">Número Exterior</label>
                                                                    <input id="num_exterior" name="num_exterior" type="text" class="form-control"  placeholder="Número Exterior" minlength="1" maxlength="10">
                                                                    <div id="alerta" class="invalid-feedback"> Los campos no pueden estar vacíos</div>
                                                                </div>

                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">Número Interior</label>
                                                                    <input id="num_interior" name="num_interior" type="text" class="form-control"  placeholder="Número Interior" minlength="1" maxlength="10">
                                                                    <div id="alerta" class="invalid-feedback"> Los campos no pueden estar vacíos</div>

                                                                    <input type="hidden" value="" id="id_Direccion" name="id_Direccion">
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col">  
                                                            <button type="submit" name="botonenviar" class="btn btn-primary" id="botonGuardarDireccion" value="Enviar" style="width: 216px"> Guardar</button>   
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- FIN CARD BODY--***************** onclick="Guardar_Direccion()"-->   
                                    </div>

                                </div>
                                <!-- FIN TODO-->
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>

            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <script src="js/personal/personaDireccion.js"></script>
            <script src="js/validate.js"></script>
            <script src="js/usuarios/usuarioModificarPassword.js"></script>
    </body>
</html>
