<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <div id="tabs">
                                <ul id="myTab">
                                </ul>
                                <div id="tabs-2">

                                    <!-- AQUI VA TODO EL CONTENIDO -->
                                    <div class="card shadow mb-4 " style="width: 1000px">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Datos de la Plaza</h6> 
                                        </div>

                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="form-group" >
                                                <div class="row">
                                                    <div id="tabs">
                                                        <ul id="myTabPlazaAutoriza"></ul>
                                                        <div id="tabs-1">
                                                            <form id = "formPlaza">
                                                                <input type="hidden" value="">
                                                                <div class="form-group">
                                                                    <div class="alert alert-info alert-white rounded mx-auto">
                                                                        <h4 id="h2TitAccion">
                                                                            <i class="fa fa-address-card"></i>
                                                                            <span class="fw-100" id="titulo"><b>Plazas Autorizadas</b></span>
                                                                        </h4>
                                                                    </div>
                                                                    <!--                                                            <div class="text-right"><label class="text-danger"><small>*Campos Obligatorios</small></label><br></div>-->
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <label class="form-label" for="addon-wraping-left">Buscar por no. plaza</label>
                                                                            <input id="numero_plaza" value="" class="form-control" style="width: 200px">
                                                                        </div>
                                                                        <div class="col">
                                                                            <label class="form-label" for="puesto">Puesto</label>
                                                                            <input id="puesto" class="form-control" style="width: 250px" readonly>
                                                                        </div>
                                                                        <div class="col" style="padding-left: 100px">
                                                                            <input type="checkbox" id="checkAsignado" name="check" class="form-check-input" value="1">
                                                                            <label class="form-label" for="checkAsignado" id="asignado-activo">Asignado  </label>
                                                                            <br>
                                                                            <input type="checkbox" id="checkCancelado" name="check" class="form-check-input" value="2">
                                                                            <label class="form-label" for="checkCancelado">Cancelado</label>
                                                                            <br>
                                                                            <input type="checkbox" id="checkDisponible" name="check" class="form-check-input" value="3">
                                                                            <label class="form-label" for="checkDisponible">Disponible</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <label class="form-label" for="addon-wrapping-left">Área</label>
                                                                            <select style="width: 500px" id="areas" name="areas" class="form-control"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col">  
                                                                    <button type="button" class="btn btn-primary" onclick = "filtro()" id="findDatos" value="" style="width: 216px" > Consultar</button>   
                                                                    <button type="button" class="btn btn-light" onclick="generarReporte()" style="width: 216px">Reporte</button>
                                                                    <button type="button" class="btn btn-light" id="limpiar" onclick="limpiarTodosLosCampos()" style="width: 216px">Limpiar</button>
                                                                </div>
                                                                <div>
                                                                    <br><br>
                                                                    <div id = "despliega_tabla" >
                                                                        <table id="myTable" class="table" width="100%" style="text-align: initial">
                                                                            <thead class="bg-success-900 thead-dark">
                                                                                <tr>
                                                                                    <th>Expediente</th>
                                                                                    <th>Nombre</th>
                                                                                    <th>Puesto</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody> </tbody>
                                                                        </table>
                                                                    </div>  
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div><!-- FIN CARD BODY--*****************-->   
                                            </div>
                                        </div>
                                        <!-- FIN TODO <script src="js/personal/trabajadorDatosGenerales.js"></script>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
                <a th:replace="layout/todos :: scroll"></a>
                <div th:replace="layout/todos :: sesion"></div>
                <div th:replace="layout/todos :: perfil"></div>
                <script src="js/plaza/plazaAutorizada.js"></script>
                <script src="js/reportes/reportesPersonalTabs.js"></script>
                <script src="js/validate.js"></script>
                <script src="js/usuarios/usuarioModificarPassword.js"></script>
                </body>
                </html>