<!DOCTYPE html>
<script>
    $(function () {
        $("#tabs").tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });
    });
</script>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Datos Generales del Puesto</h6>
                                </div>
                                <div class="col">  
                                    <button onclick="verPuesto()" type="button" class="btn btn-secondary" style="width: 216px"> Ver Puestos</button>   
                                </div><br>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >                                  
                                        <div class="row">
                                            <div id="tabs">
 
                                                <div id="tabs-1">
                                                    <form id="formPuesto" class="needs-validation" novalidate>
                                                        <div class="form-group">
                                                            <div class="form-group">                                                
                                                                <div class="alert alert-info alert-white rounded mx-auto">
                                                                    <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                                    <h4 id="h2TitAccion">
                                                                        <i class="fa fa-suitcase"></i><span class="fw-100" id="titulo" algign="center"> <b> Datos Generales del Puesto </b> </span>
                                                                    </h4>  
                                                                </div>
                                                            </div>
                                                            <div class="text-right"> <label class="text-danger"><small>*Campos Obligatorios</small></label><br>      </div>
                                                            <div class="row  m-lg-3 mx-auto">
                                                                <div class="col">   
                                                                    <input id="id_puesto_DB" name="id_puesto_DB" type="hidden" class="form-control">
                                                                    <input id="status_DB" name="status_DB" type="hidden" class="form-control">
                                                                    <input id="fecha_captura_DB" name="fecha_captura_DB" type="hidden" class="form-control">
                                                                    <input id="fecha_movimiento_DB" name="fecha_movimiento_DB" type="hidden" class="form-control">
                                                                    <label class="form-label" for="addon-wrapping-left">*Código del Puesto</label>
                                                                    <input id="cod_Puesto" style="width: 340px" name="cod_Puesto" type="number" class="form-control" placeholder="" aria-describedby="addon-wrapping-left" required disabled>
                                                                    <div id="alertaCod_Puesto"> </div>

                                                                    <input id="id_beneficiario1" name="id_beneficiario1" type="hidden" class="form-control">
                                                                    
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Nivel del Puesto</label>
                                                                    <input id="nivelPuesto" style="width: 340px" name="nivelPuesto" type="number" min="1" class="form-control" placeholder="" aria-describedby="addon-wrapping-left" oninput="validacionEntero(this)" required>
                                                                    <div id="alertaNivelPuesto"></div>
                                                                    <input id="nivelPuesto_DB" name="nivelPuesto_DB" type="hidden" class="form-control">
                                                                    
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Descripción de Puesto</label>
                                                                    <input id="puesto"  style="width: 340px" name="puesto" maxlength="50" type="text" class="form-control" placeholder="" aria-describedby="addon-wrapping-left" required  pattern="^[A-Za-zÁÉÍÓÚáéíóú\s]+$">
                                                                    <div id="alertaPuesto"></div>
                                                                    <input id="puesto_DB" name="puesto_DB" type="hidden" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Diario</label>
                                                                    <input id="sueldoDiario" name="sueldoDiario" maxlength="10" type="number" step="any" min="1" class="form-control"  placeholder=""  aria-describedby="addon-wrapping-left" readonly required >
                                                                    <div id="alertaSueldoDiario"></div>
                                                                    <input id="sueldoDiario_DB" name="sueldoDiario_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Diario Doble</label>
                                                                    <input id="sueldoDiario_Doble" name="sueldoDiarioDoble" type="number" step="any" min="1" class="form-control"  placeholder="" readonly required >
                                                                    <div id="alertaSueldoDiarioDoble"></div>
                                                                    <input id="sueldoDiarioDoble_DB" name="sueldoDiarioDoble_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Hora</label>
                                                                    <input id="sueldoHora" name="sueldoHora" type="number" step="any" class="form-control" min="1" placeholder="" readonly required >
                                                                    <div id="alertaSueldoHora"></div>
                                                                    <input id="sueldoHora_DB" name="sueldoHora_DB" type="hidden" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Hora Doble</label>
                                                                    <input id="sueldoHoraDoble" name="sueldoHoraDoble" maxlength="10" type="number" step="any" class="form-control" min="1" placeholder=""  aria-describedby="addon-wrapping-left" readonly required >
                                                                    <div id="alertaSueldoDiario"></div>
                                                                    <input id="sueldoHoraDoble_DB" name="sueldoHoraDoble_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Hora Triple</label>
                                                                    <input id="sueldoHoraTriple" name="sueldoHoraTriple" type="number" step="any" class="form-control" min="1" readonly placeholder="" required>
                                                                    <div id="alertaSueldoHoraTriple"></div>
                                                                    <input id="sueldoHoraTriple_DB" name="sueldoHoraTriple_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Mensual</label>
                                                                    <input id="sueldoMensual" name="sueldoMensual" type="number" step="any" class="form-control"  placeholder="" min="1" oninput="calculaSueldos(),validacion(this)" convier(),validacion(this)teDecimal()required>
                                                                    <div id="alertaSueldoMensual"></div>
                                                                    <input id="sueldo_mensual_DB" name="sueldo_mensual_DB" type="hidden" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Cantidad Adicional Mensual</label>
                                                                    <input id="cantidadAdMensual" name="cantidadAdMensual" step="any" maxlength="10" type="number" class="form-control" min="1" placeholder="" oninput="calculaSueldos(),validacion(this)" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaCantidadAdicionalMen"></div>
                                                                    <input id="cantidadAdicionalMen_DB" name="cantidadAdicionalMen_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Mensual Neto</label>
                                                                    <input id="sueldoMensualNeto"   name="sueldoMensualNeto" maxlength="10" type="number" step="any" class="form-control" min="1" placeholder="" oninput="validacion(this)" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaSueldoMensualNeto"></div>
                                                                    <input id="sueldoMensualNeto_DB" name="sueldoMensualNeto_DB" type="hidden" class="form-control">
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*No. Plazas Autorizadas</label>
                                                                    <input id="noPlazasAut" name="noPlazasAut" type="number" class="form-control"  placeholder="" min="1" aria-describedby="addon-wrapping-left" oninput="validacionEntero(this)" required>
                                                                    <div id="alertaNoPlazasAut"></div>
                                                                    <input id="noPlazasAut_DB" name="noPlazasAut_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Quincenal Tabulado</label>
                                                                    <input id="sueldoQuicenalTab" name="sueldoQuicenalTab" maxlength="10" type="number" step="any" class="form-control" min="1" placeholder="" oninput="validacion(this)" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaSueldoQuicenalTab"></div>
                                                                    <input id="sueldoQuicenalTab_DB" name="sueldoQuicenalTab_DB" type="hidden" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Diferencia Sueldo Diario</label>
                                                                    <input id="difSueldoDiario" name="difSueldoDiario" maxlength="10" step="any" min="0" type="number" class="form-control" placeholder="" oninput="validacion(this)" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaDifSueldoDiario"></div>
                                                                    <input id="difSueldoDiario_DB" name="difSueldoDiario_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Diferencia Sueldo Hora</label>
                                                                    <input id="dif_SueldoHora" name="dif_SueldoHora" maxlength="10" step="any" min="0" type="number" class="form-control"  placeholder="" oninput="validacion(this)" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaDifSueldoHora"></div>
                                                                    <input id="difSueldoHora_DB" name="difSueldoHora_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Diferencia Sueldo Mensual</label>
                                                                    <input id="difSueldoMensual" name="difSueldoMensual" maxlength="10" type="number" min="0" step="any" class="form-control"  placeholder="" oninput="validacion(this)" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaDifSueldoMensual"></div>
                                                                    <input id="difSueldoMensual_DB" name="difSueldoMensual_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Diferencia Cantidad Adicional Mensual</label>
                                                                    <input id="difCantAdMensual"  style="width: 340px" name="difCantAdMensual" min="0" maxlength="10" type="number" step="any" class="form-control"  placeholder="" oninput="validacion(this)"  aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaDifCantAdMensual"></div>
                                                                    <input id="difCantAdMensual_DB" name="difCantAdMensual_DB" type="hidden" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*ISR Mensual Prestación</label>
                                                                    <input id="isrMensualPrestacion" name="isrMensualPrestacion" maxlength="10" type="number" min="0" step="any" class="form-control"  placeholder="" oninput="validacion(this)" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaIsrMensualPrestacion"></div>
                                                                    <input id="isrMensualPrestacion_DB" name="isrMensualPrestacion_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*ISR Mensual</label>
                                                                    <input id="isrMensual" name="isrMensual" maxlength="10" type="number" step="any" min="0" class="form-control"  placeholder="" oninput="validacion(this)" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaIsrMensual"></div>
                                                                    <input id="isrMensual_DB" name="isrMensual_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Cuota IMSS</label>
                                                                    <input id="cuotaImss" name="cuotaImss" maxlength="10" type="number" step="any" min="0" class="form-control"  placeholder="" oninput="validacion(this)" aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaCuotaImss"></div>
                                                                    <input id="cuotaImss_DB" name="cuotaImss_DB" type="hidden" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="row  m-lg-3">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Código RH</label>
                                                                    <input id="codigoRH" name="codigoRH" maxlength="10" type="text" class="form-control" placeholder="" aria-describedby="addon-wrapping-left" required >
                                                                    <div id="alertaIsrMensualPrestacion"></div>
                                                                    <input id="codigoRH_DB" name="codigoRH_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Estructura</label>
                                                                    <input id="sueldoEstructura" name="sueldoEstructura" maxlength="10" type="number" step="any" min="1" class="form-control" readonly aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaSueldoEstructura"></div>
                                                                    <input id="sueldoEstructura_DB" name="sueldoEstructura_DB" type="hidden" class="form-control">
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Sueldo Hora</label>
                                                                    <input id="sueldoHora7" name="sueldoHora7" maxlength="10" type="number" step="any" class="form-control" min="0" placeholder="" readonly aria-describedby="addon-wrapping-left" required>
                                                                    <div id="alertaSueldoHora"></div>
                                                                    <input id="sueldoHora7_DB" name="sueldoHora7_DB" type="hidden" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col"> <br>
                                                            <button type="submit" class="btn btn-primary" id="guardaPuesto" value="Enviar" style="width: 216px"> Guardar</button>   
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- FIN CARD BODY--*****************-->   
                                    </div>
                                </div>
                                <!-- FIN TODO-->
                            </div>
                        </div>
                    </div>
                    <footer th:replace="layout/todos :: pie"></footer>
                </div>
            </div>
            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <script src="js/puesto/allPuesto.js"></script>
            <script src="js/puesto/puestoDatosGenerales.js"></script>
            <script src="js/validate.js"></script>
    </body>
</html>
