<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Kárdex</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Pre-Nómina / Kárdex</h4>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="row">

                                            <div class="input-group">
                                                <div class="container ">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-label float-end" for="tipo_nomina" style="width: 550px;">Tipo de Nómina</label>
                                                        <select id="tipo_nomina" name="tipo_nomina" class="form-control"  onchange="mostrarOcultarBoton()" autocomplete="off">
                                                            <option value="1">Varios</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="panel-container collapse show m-lg-3">
                                                    <div class="btn-group" role="group">
                                                        <button id="botonDescarga" type="button" class="btn btn-outline-success mr-auto" data-toggle="modal" data-target="#txtModal">
                                                            <span class="fa fa-download"></span> Descargar Archivo de Texto Incidencias
                                                        </button>
                                                        <button id="botonConteo" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalConteo">
                                                            <span class="fa fa-download"></span> Descargar Archivo de Texto Cuenta de Inasistencias
                                                        </button>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="tabla_Trabajadores" width="100%" cellspacing="0">
                                                            <thead class="bg-success-900 thead-dark">
                                                                <tr>
                                                                    <th>No. Expediente</th>
                                                                    <th>Nombre</th>
                                                                    <th>Apellido Paterno</th>
                                                                    <th>Apellido Materno</th>
                                                                    <th>Fecha de Nacimiento</th>
                                                                    <th>Genero</th>
                                                                    <th>Estado Civil</th>
                                                                    <th>Curp</th>
                                                                    <th>Fecha Captura</th>
                                                                    <th>Fecha Antigüedad</th>
                                                                    <th>Captura de Incidencias</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody> </tbody>
                                                        </table>
                                                    </div>   
                                                </div> 
                                            </div>  
                                        </div>
                                    </div><!-- FIN CARD BODY--*****************--> 
                                </div>
                            </div>
                            <!-- MODAL DESCARGAR INCIDENCIAS -->
                            <div class="modal fade" id="txtModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 id="nombreNominaActivaDescarga" class="modal-title">Descargar Incidencias</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" name="event-index">
                                            <form class="form-horizontal">
                                                <div class="form-group row">
                                                    <label for="min-date" class="col-sm-4 control-label">Fechas</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-daterange">
                                                            <input id="min-date" name="event-start-date" type="date" class="form-control">
                                                            <div class="input-group-prepend input-group-append">
                                                                <div class="input-group-text">a</div>
                                                            </div>
                                                            <input id="max-date" name="event-end-date" type="date" class="form-control">
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="adminIncidencias" type="button" class="btn btn-primary" onclick="descargaTexto()">Generar Archivo .txt</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <!--                                                        <button type="button" class="btn btn-primary" id="save-event">
                                                                                                                                            Save
                                                                                                                                        </button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>
                        <!-- MODAL CONTEO DE INASISTENCIAS -->
                        <div class="modal fade" id="modalConteo">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 id="nombreNominaActivaImportacion"class="modal-title">Descargar Conteo de Inasistencias</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="event-index">
                                        <form>
                                            <div class="form-group row">
                                                <label for="min-date" class="col-sm-4 control-label">Expediente</label>
                                                <div class="col-sm-8">
                                                    <input id="expediente" name="expediente" type="number" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="min-date" class="col-sm-4 control-label">Fechas</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group input-daterange">
                                                        <input id="fechaInicioConteo" name="event-start-date" type="date" class="form-control">
                                                        <div class="input-group-prepend input-group-append">
                                                            <div class="input-group-text">a</div>
                                                        </div>
                                                        <input id="fechaFinConteo"  name="event-end-date" type="date" class="form-control">
                                                    </div>  
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-12">Inasistencias</label>
                                                <div class="col-sm-12">
                                                    <select id="selectInasistencias" class="form-select" multiple aria-label="multiple select example" style="width: 470px; height: 550px;">                                                       
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="descargaTextoConteo()">Generar Archivo .txt</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <!--                                                        <button type="button" class="btn btn-primary" id="save-event">
                                                                                                                                        Save
                                                                                                                                    </button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>
                    </div>
                </div>

            </div>
            <footer th:replace="layout/todos :: pie"></footer>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>

        <script src="js/nomina/allRegistroInasistencias.js"></script>
        <script src="js/validate.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>


        <style>
            #resultado {
                background-color: red;
                color: white;
                font-weight: bold;
            }
            #resultado.ok {
                background-color: green;
            }
        </style>
    </body>
</html>
