<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <div id="tabs">
                                <ul id="myTab">
                                </ul>
                                <div id="tabs-8">
                                    <!-- AQUI VA TODO EL CONTENIDO -->
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Reporte Ayudas Registradas</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="row">
                                                <!-- Columna 1 -->
                                                <div class="col-lg">
                                                    Opciones:
                                                </div>
                                                <!-- Columna 2 -->
                                                <div class="col">
                                                    <input type="radio" name="opcion" id="radioBtnTodos" value="todos">
                                                    <label for="radioBtnTodos">Todos</label>
                                                </div>
                                                <!-- Columna 3 -->
                                                <div class="col">
                                                    <input type="radio" name="opcion" id="radioBtnEnTramite" value="tramite">
                                                    <label for="radioBtnEnTramite">En trámite</label>
                                                </div>
                                                <!-- Columna 4 -->
                                                <div class="col">
                                                    <input type="radio" name="opcion" id="radioBtnAutorizado" value="autorizadas">
                                                    <label for="radioBtnAutorizado">Autorizado</label>
                                                </div>
                                                <!-- Columna 5 -->
                                                <div class="col">
                                                    <label for="cmbPeriodosTiempo">Selecciona un periodo de tiempo:</label>
                                                    <select class="form-control" id="cmbPeriodosTiempo">
                                                        <option value="todos">Todos</option>
                                                        <option value="semanaActual">En esta semana</option>
                                                        <option value="mesActual">En este mes</option>
                                                        <option value="mesAnterior">El mes anterior</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <button class="btn btn-primary" id="btnVisualizar" onclick="visualizarReporteAyudas()"><i class="fa fa-eye" aria-hidden="true"></i>&nbspVisualizar Reporte</button>&nbsp;
                                                <button class="btn btn-primary" id="btnDescarga" onclick="descargarReporteAyudas()"><i class="fa fa-download" aria-hidden="true"></i>&nbspDescargar reporte</button>
                                            </div>
                                            <hr>
                                            <br>
                                            <table class="table table-bordered" id="tablaAyudas" width="100%" cellspacing="0">
                                                <thead class="bg-success-900 thead-dark">
                                                    <tr>
                                                        <th>No. Expediente</th>
                                                        <th>Nombre  Trabajador</th>
                                                        <th>Fecha Solicitud</th>
                                                        <th>Fecha Inicio Permiso</th>
                                                        <th>Fecha Fin Permiso</th>
                                                        <th>Días</th>
                                                        <th>Monto</th>
                                                        <th>P. De Pago</th>
                                                        <th>Nombre Occiso</th>
                                                        <th>Parentesco</th>
                                                        <th>Ayuda</th>
                                                        <th>Folio</th>
                                                        <th>Fecha Recepción</th>
                                                        <th>Nómina</th>
                                                    </tr>
                                                </thead>
                                                <tbody> </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- FIN TODO-->
                                    <!-- MODAL PARA VISUALIZACIÓN DEL REPORTE DE AYUDAS -->
                                    <div class="modal fade" id="reportesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                        <div class="modal-dialog " role="document" style="max-width: 1300px!important;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center">Reporte</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe id="reportes_frame" style='width:1200px; height:600px;'></iframe>
                                                    <div  style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                                                        <button class="btn btn-secondary " type="button" data-dismiss="modal" style="width: 216px">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
                <a th:replace="layout/todos :: scroll"></a>
                <div th:replace="layout/todos :: sesion"></div>
                <div th:replace="layout/todos :: perfil"></div> 
                <script src="js/validate.js"></script>
                <script src="js/reportes/reporteAyudas.js"></script>
                <script src="js/reportes/reportesPersonalTabs.js"></script>
                </body>
                </html>
