<!DOCTYPE html>
<script>
    $(function () {
        $("#tabs").tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });
    });
</script>

<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Reportes Generales</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="row">
                                            <div id="tabs">
                                                <ul id="myTab">

                                                </ul>
                                                <div id="tabs-1">
                                                    <form id="formReporteFechaCaptura" class="needs-validation" novalidate>
                                                        <div class="form-group">
                                                            <div class="panel-hdr" style="width: 1000px">
                                                                <h2 id="h2TitAccion">
                                                                    <span class="fw-100 mx-lg-5" id="titulo" algign="center"> <b> Reporte Fecha de Captura </b> </span>
                                                                </h2>     
                                                            </div><br>

                                                            <div class="row mx-auto">
                                                                <div class="col mx-lg-5"> 
                                                                    <label class="form-label" for="addon-wrapping-left">* Fecha de Captura</label>
                                                                    <input id="fecha_captura" name="fecha_captura" type="date" class="form-control" required>
                                                                    <div class="invalid-feedback" ><label class='text-danger'>El campo no puede estar vacío. Por favor ingresa la fecha de captura</label></div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            
                                                        </div>
                                                       
                                                        <div class="col mx-md-5">  
                                                            <button type="submit" name="btnGeneraReporte" class="btn btn-primary" id="botonenviar" style="width: 216px"> Generar Reporte</button>   
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- FIN CARD BODY--*****************-->   
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>

        <script src="js/validate.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
        <script src="js/reportes/allReportesGenerales.js"></script>
    </body>
</html>
