<!DOCTYPE html>

<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row"> 
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4" style="width: 100%">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Registro de Asistencia</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Modulo de Captura Nómina de Transportación / Reportes</h4>
                                    <!-- PRUEBA BÚSQUEDA -->
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <button onclick="adminRa15()"  type="button" class="btn btn-secondary" style="width: 150px">Regresar</button>   
                                    <br>
                                    <br>
                                    <div class="form-group" >
                                        <div class="row">
                                            <div class="input-group">                                    
                                                <div class="table-responsive">
                                                    <table class="table table-bordered" id="tablaDocumentos" width="100%" cellspacing="0">
                                                        <thead class="bg-success-900 thead-dark">
                                                            <tr>
                                                                <th>Reporte</th>
                                                                <th>Visualizar</th>
                                                                <th>Descarga</th>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="3">TXT / CSV</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Captura Semanal CSV</td>
                                                                <td></td>
                                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBuscarCSVPeriodo" onclick="generarCSVReporteCapturaSemanal()"><span class="fa fa-download"></span> Descargar</button></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Captura Semanal TXT</td>
                                                                <td></td>
                                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBuscarTXTPeriodo" onclick="generarTXTReporteCapturaSemanal()"><span class="fa fa-download"></span> Descargar</button></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Resumen de Incidencias del Periodo CSV</td>
                                                                <td></td>
                                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalResumenCSV" onclick="generarResumenCSV()"><span class="fa fa-download"></span> Descargar</button></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Resumen de Incidencias del Periodo TXT</td>
                                                                <td></td>
                                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalResumenTxt" onclick="generarResumenTxt()"><span class="fa fa-download"></span> Descargar</button></td>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="3">Reportes</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Reporte RA 15 Periodo</td>
                                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPeriodoReporte" onclick="vizualizarReporteCapturaSemanalRA15()"><span class="fa fa-search"></span> Ver</button></td>
                                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPeriodoReporte" onclick="descargarReporteCapturaSemanalRA15()"><span class="fa fa-download"></span> Descargar</button></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Sin Turno Reportado </td>
                                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPeriodoReporte" onclick="vizualizarReporteSinCapturaEnElPeriodo()"><span class="fa fa-search"></span> Ver</button></td>
                                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPeriodoReporte" onclick="descargarReporteSinCapturaEnElPeriodo()"><span class="fa fa-download"></span> Descargar</button></td>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>   

                                            </div>  
                                        </div>
                                    </div><!-- FIN CARD BODY--*****************--> 
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>

                        <!--***************** MODAL CSV BÚSQUEDA POR PERIODO--*****************-->
                        <div class="modal fade" id="modalBuscarCSVPeriodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" th:fragment="perfil">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> Generar CSV</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formBusquedaCSVPorPeriodo" class="needs-validation" onsubmit="return false;" novalidate>
                                            <div class="form-group">
                                                <label class="form-label" for="addon-wrapping-left"> Seleccione el periodo de pago.</label>
                                                <br>
                                                <label for="periodoTransportacion" class="m-0 font-weight-bold text-dark">Perido:</label>                                                            
                                                <select id="periodoTransportacion" class="form-control" required>
                                                    <option>Cargando...</option>
                                                </select>  
                                            </div> 
                                            <hr>
                                            <div class="form-group col-12">
                                                <button class="btn btn-secondary" id="cancelar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                                <button type="submit"  class="btn btn-primary" style="width: 216px"> Generar </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--***************** MODAL TXT BÚSQUEDA POR PERIODO--*****************-->
                        <div class="modal fade" id="modalBuscarTXTPeriodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" th:fragment="perfil">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> Generar TXT</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formBusquedaTxtPorPeriodo" class="needs-validation" onsubmit="return false;" novalidate>
                                            <div class="form-group">
                                                <label class="form-label" for="addon-wrapping-left"> Seleccione el periodo de pago.</label>
                                                <br>
                                                <label for="periodoTransportacion" class="m-0 font-weight-bold text-dark">Perido:</label>                                                            
                                                <select id="periodoTransportacionTxt" class="form-control" required>
                                                    <option>Cargando...</option>
                                                </select>  
                                            </div> 
                                            <hr>
                                            <div class="form-group col-12">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                                <button type="submit"  class="btn btn-primary" style="width: 216px"> Generar </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--***************** MODAL REPORTE BÚSQUEDA POR PERIODO--*****************-->
                        <div class="modal fade" id="modalPeriodoReporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" th:fragment="perfil">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> Generar Reporte</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formBusquedaPorPeriodo" class="needs-validation" onsubmit="return false;" novalidate>
                                            <div class="form-group">
                                                <label class="form-label" for="addon-wrapping-left"> Seleccione el periodo de pago.</label>
                                                <br>
                                                <label for="periodoTransportacion" class="m-0 font-weight-bold text-dark">Perido:</label>                                                            
                                                <select id="periodoTransportacionReporte" class="form-control" required>
                                                    <option>Cargando...</option>
                                                </select>  
                                            </div> 
                                            <hr>
                                            <div class="form-group col-12">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                                <button type="submit"  class="btn btn-primary" style="width: 216px"> Generar </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--***************** MODAL CSV RESUMEN POR PERIODO--*****************-->
                        <div class="modal fade" id="modalResumenCSV" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" th:fragment="perfil">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> Generar CSV</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formCSVResumen" class="needs-validation" onsubmit="return false;" novalidate>
                                            <div class="form-group">
                                                <label class="form-label" for="addon-wrapping-left"> Seleccione el periodo de pago.</label>
                                                <br>
                                                <label for="periodoTransportacion" class="m-0 font-weight-bold text-dark">Perido:</label>                                                            
                                                <select id="periodoTransportacionResumen" class="form-control" required>
                                                    <option>Cargando...</option>
                                                </select>  
                                            </div> 
                                            <hr>
                                            <div class="form-group col-12">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                                <button type="submit"  class="btn btn-primary" style="width: 216px"> Generar </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--***************** MODAL TXT RESUMEN POR PERIODO--*****************-->
                        <div class="modal fade" id="modalResumenTxt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" th:fragment="perfil">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> Generar TXT</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formTxtResumen" class="needs-validation" onsubmit="return false;" novalidate>
                                            <div class="form-group">
                                                <label class="form-label" for="addon-wrapping-left"> Seleccione el periodo de pago.</label>
                                                <br>
                                                <label for="periodoTransportacion" class="m-0 font-weight-bold text-dark">Perido:</label>                                                            
                                                <select id="periodoTransportacionResumenTxt" class="form-control" required>
                                                    <option>Cargando...</option>
                                                </select>  
                                            </div> 
                                            <hr>
                                            <div class="form-group col-12">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                                <button type="submit"  class="btn btn-primary" style="width: 216px"> Generar </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--***********************************************************************MODAL VER PARA REPORTES************************************************************************************** -->
                        <div class="modal fade" id="reportesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog " role="document" style="max-width: 1300px!important;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center">Reporte</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe id="reportes_frame" style='width:1200px; height:600px;'></iframe>
                                        <div  style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                                            <button class="btn btn-secondary " type="button" data-dismiss="modal" style="width: 216px">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/validate.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
        <script src="js/transportacionRA/reportesCapturaSemanalRA15.js"></script>
    </body>
</html>
