<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <div id="tabs">
                                <ul id="myTab">
                                </ul>
                                <div id="tabs-1">

                                    <!-- AQUI VA TODO EL CONTENIDO -->
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Estado de plazas autorizadas</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="form-group" >
                                                <div class="alert alert-info alert-white rounded mx-auto">
                                                    <h4 id="h2TitAccion">
                                                        <i class="fa fa-eye" aria-hidden="true"></i><b>&nbsp&nbspMonitor de Plazas Autorizadas &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b> <p id="datetime" style="float:right">Párrafo hora</p>               
                                                    </h4>     
                                                </div>
                                                <br>

                                                <!-- Primera fila -->
                                                <div class="row">
                                                    <!-- Primera columna -->
                                                    <div class="col-4">
                                                        <label class="form-label" for="addon-wrapping-left"><b>*Categoría (Puesto</b>)</label>
                                                        <select id="cmbPuesto" name="cmbCategoria" class="form-control" required> </select>
                                                    </div>

                                                    <!-- Segunda columna -->
                                                    <div class="col-4">
                                                        <label class="form-label" for="addon-wrapping-left"><b>*Tipo de Contrato</b></label>
                                                        <br>
                                                        <!-- Radio de Selección para los CheckBoxes-->
                                                        <input type="radio" name="seleccion" id="selectTodos" onclick="seleccionarTodos()">
                                                        <label for="selectTodos">Seleccionar Todos</label>
                                                        <br>
                                                        <input type="radio" name="seleccion" id="deselectTodos" onclick="deseleccionarTodos()">
                                                        <label for="selectTodos">Deselecciona Todos</label>
                                                        <br>

                                                        <!--CheckBoxes -->
                                                        <input type="checkbox" class="form-check-input" id="checkBase" value="1">
                                                        <label class="form-check-label" for="checkBase">Base</label> 
                                                        <br>
                                                        <input type="checkbox" class="form-check-input" id="checkConfianza" value="2">
                                                        <label class="form-check-label" for="checkConfianza">Confianza</label> 
                                                        <br>
                                                        <input type="checkbox" class="form-check-input" id="checkEstructura" value="3">
                                                        <label class="form-check-label" for="checkEstructura">Estructura</label> 
                                                        <br>
                                                        <input type="checkbox" class="form-check-input" id="checkProvBase" value="4">
                                                        <label class="form-check-label" for="checkProvBase">Provisional Base</label> 
                                                        <br>
                                                        <input type="checkbox" class="form-check-input" id="checkConfExtrSindi" value="5">
                                                        <label class="form-check-label" for="checkConfExtrSindi">Confianza Extraccion Sindical</label> 
                                                        <br>
                                                        <input type="checkbox" class="form-check-input" id="checkEventual" value="6">
                                                        <label class="form-check-label" for="checkEventual">Eventual</label> 
                                                        <br>
                                                        <input type="checkbox" class="form-check-input" id="checkP23Operadores" value="7">
                                                        <label class="form-check-label" for="checkP23Operadores">P23-Operadores</label> 
                                                        <br>
                                                    </div>

                                                    <!-- Tercera Columna -->
                                                    <div class="col-2">
                                                        <label class="form-label" for="addon-wrapping-left"><b>*Plazas</b></label>
                                                        <br>
                                                        <input class="form-check-input" type="radio" name="radioPlazas" id="radioPlazasOcupadas">
                                                        <label class="form-check-label" for="radioPlazasOcupadas" style="background: linear-gradient(to bottom, #FF8080, #FF4040);">
                                                            <span style="color: black;">Plazas Ocupadas</span>
                                                        </label>
                                                        <br>
                                                        <br>
                                                        <input class="form-check-input" type="radio" name="radioPlazas" id="radioPlazasVacantes">
                                                        <label class="form-check-label" for="radioPlazasVacantes" style="background: linear-gradient(to bottom, #80FF80, #40FF40);">
                                                            <span style="color: black;">Plazas Vacantes&nbsp;</span>
                                                        </label> 
                                                        <br> 
                                                    </div>

                                                    <!-- Cuarta Columna -->
                                                    <div class="col-1">
                                                        <br>
                                                        <input type="text" style="width: 60px; height: 30px" class="form-control" id="inputPlazasOcupadas" disabled>
                                                        <br>
                                                        <input type="text" style="width: 60px; height: 30px" class="form-control" id ="inputPlazasVacantes" disabled>
                                                    </div>   
                                                </div>
                                                <br>

                                                <hr/>

                                                <!-- Segunda fila -->
                                                <div class="row">
                                                    <div class="col"> 
                                                        <label class="form-label" for="addon-wrapping-left">Seleccione el orden en que se generará el reporte en  formato PDF</label>
                                                        <select id="cmbOrden" name="cmbOrden" class="form-control" required> </select>
                                                    </div>
                                                </div>

                                                <br>
                                                <!-- Tercera fila -->
                                                <div style="display: inline-block; margin-right: 20px;">
                                                    <button class="btn btn-primary" id="buscar-btn">Buscar</button>
                                                </div>
                                                <div style="display: inline-block; margin-right: 40px;">
                                                    <button class="btn btn-primary" id="reporte-btn">Reporte</button>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="row">
                                                    <table class="table table-bordered" id="tablaReporte" width="100%" cellspacing="0">
                                                        <thead class="bg-success-900 thead-dark">
                                                            <tr>
                                                                <th>Tipo</th>
                                                                <th>Número</th>
                                                                <th>Nivel</th>
                                                                <th>Puesto</th>
                                                                <th>Expediente</th>
                                                                <th>Nombre del Trabajador</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody> </tbody>
                                                    </table>
                                                </div>
                                            </div><!-- FIN CARD BODY--*****************-->   
                                        </div>
                                    </div>
                                    <!-- FIN TODO-->
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
                <a th:replace="layout/todos :: scroll"></a>
                <div th:replace="layout/todos :: sesion"></div>
                <div th:replace="layout/todos :: perfil"></div> 
                <script src="js/validate.js"></script>
                <script src="js/reportes/reportePersona.js"></script>
                <script src="js/reportes/reportesPersonalTabs.js"></script>
                </body>
                </html>
