<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head"></head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>  
                        <button onclick="listadoTrabajadoresSdi()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button> 
                        <br>
                        <br>
                        <div class="alert alert-info alert-white rounded mx-left" style="width: 100%;">
                            <div class="row">
                                <div class="col">
                                    <label for="campo_expediente" class="m-0 font-weight-bold text-dark">Expediente:</label>
                                    <input type="text" id="campo_expediente" class="form-control text-center" style="width: 120px; height: 25px;" readonly>
                                </div>
                                <div class="col">
                                    <label for="campo_nombre" class="m-0 font-weight-bold text-dark">Trabajador:</label>
                                    <input type="text" id="campo_nombre" class="form-control text-center" style="width: 280px; height: 25px;" readonly>
                                </div>
                                <div class="col">
                                    <label for="campo_deposito" class="m-0 font-weight-bold text-dark">Nómina:</label>
                                    <input type="text" id="campo_nomina" class="form-control text-center" style="width: 200px; height: 25px;" readonly>
                                      <input type="text" id="id_nomina" class="form-control text-center" style="width: 280px; height: 25px;" hidden>
                                </div>
                                <div class="col">
                                    <label for="campo_puesto_trabajador" class="m-0 font-weight-bold text-dark">Tipo de Contrato:</label>
                                    <input type="text" id="campo_tipo_contrato" class="form-control text-center" style="width: 280px; height: 25px;" readonly>
                                </div>
                                <div class="col">
                                    <label for="campo_prestaciones_si_no" class="m-0 font-weight-bold text-dark">Prestaciones:</label>
                                    <input type="text" id="campo_prestaciones_si_no" class="form-control text-center" style="width: 280px; height: 25px;" readonly>
                                </div>
                                <div class="col">
                                    <label for="antiguedad_fecha_corte_bimestre" class="m-0 font-weight-bold text-dark">Antiguedad:</label>
                                    <input type="text" id="antiguedad_fecha_corte_bimestre" class="form-control text-center" style="width: 280px; height: 25px;" readonly>
                                </div>
                                <div class="col">
                                    <label for="dias_pagados" class="m-0 font-weight-bold text-dark">Días Pagados</label>
                                    <input type="text" id="dias_pagados" class="form-control text-center" style="width: 280px; height: 25px;" readonly>
                                </div>
                                <div class="col">
                                    <label for="dias_salario_vacaciones" class="m-0 font-weight-bold text-dark">Días Salario de Vacaciones:</label>
                                    <input type="text" id="dias_salario_vacaciones" class="form-control text-center" style="width: 280px; height: 25px;" readonly>
                                </div>
                                <div class="col">
                                    <label for="dias_devengados_bimestre" class="m-0 font-weight-bold text-dark">Días Devengados en el Bimestre:</label>
                                    <input type="text" id="dias_devengados_bimestre" class="form-control text-center" style="width: 280px; height: 25px;" readonly>
                                </div>
                                <div class="col">
                                    <label for="salario_minimo_diario" class="m-0 font-weight-bold text-dark">Sal. Min. Diario:</label>
                                    <input type="text" id="salario_minimo_diario" class="form-control text-center" style="width: 280px; height: 25px;" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Primera columna -->
                            <div class="col">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Conceptos Fijos</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive"> 
                                            <table class="table table-bordered" id="tabla_fijos" width="100%" cellspacing="0">
                                                <thead class="bg-success-900 thead-dark">
                                                    <tr>
                                                        <th>Cve.</th>
                                                        <th>Conceptos Fijos</th>
                                                        <th>Ingreso Día</th>
                                                    </tr>
                                                </thead>
                                                <tbody> </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Segunda columna -->
                            <div class="col">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Conceptos Variables</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="tabla_variables" width="100%" cellspacing="0">
                                                <thead class="bg-success-900 thead-dark">
                                                    <tr>
                                                        <th>Clave</th>
                                                        <th>Conceptos Variables</th>
                                                        <th>Monto Bimestral</th>
                                                    </tr>
                                                </thead>
                                                 <tbody> </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Tercera columna -->
                            <div class="col">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Conceptos Calculados</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="tabla_calculados" width="100%" cellspacing="0">
                                                <thead class="bg-success-900 thead-dark">
                                                    <tr>
                                                        <th>Conceptos Calculados</th>
                                                        <th>Importe</th>
                                                    </tr>
                                                </thead>
                                                 <tbody> </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>
            <script src="js/calculoSdi/historicoSdiTrabajador.js"></script>
            <script src="js/validate.js"></script>
            <script src="js/usuarios/usuarioModificarPassword.js"></script>
        </div>
    </body>
</html>
