<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4" style="width: 100%;">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Cálculos </h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Nómina / Captura de tiempo extraordinario</h4>
                                </div>
                                <div class="col">  
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <button onclick="verTrabajadores()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button>   
                                        <br>
                                        <br>
                                        <div class="form-group" style="width: 100%">                                  
                                            <div class="alert alert-info alert-white rounded mx-left" style="width: 100%;">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="campo_expediente" class="m-0 font-weight-bold text-dark">Expediente:</label>
                                                        <input type="text" id="campo_expediente" class="form-control text-center" readonly>
                                                    </div>
                                                    <div class="col-5">
                                                        <label for="campo_nombre" class="m-0 font-weight-bold text-dark">Trabajador:</label>
                                                        <input type="text" id="campo_nombre" class="form-control text-center" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label for="campo_nomina" class="m-0 font-weight-bold text-dark">Nómina:</label>
                                                        <input type="text" id="campo_nomina" class="form-control text-center" readonly>
                                                        <input type="hidden" id="id_nomina" class="form-control text-center">
                                                    </div>
                                                    <div class="col">
                                                        <label for="campo_prestaciones_si_no" class="m-0 font-weight-bold text-dark">Horario:</label>
                                                        <input type="text" id="campo_horario_trabajador" class="form-control text-center" readonly>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="campo_nss" class="m-0 font-weight-bold text-dark">Descansos:</label>
                                                        <input type="text" id="campo_descansos_trabajador" class="form-control text-center" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label for="campo_nss" class="m-0 font-weight-bold text-dark">Sueldo Diario:</label>
                                                        <input type="text" id="campo_sueldo_diario_trabajador" class="form-control text-center" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label for="campo_nss" class="m-0 font-weight-bold text-dark">Area:</label>
                                                        <input type="text" id="campo_area_trabajador" class="form-control text-center" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <label for="campo_nss" class="m-0 font-weight-bold text-dark">Puesto:</label>
                                                        <input type="text" id="campo_puesto_trabajador" class="form-control text-center" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">  
                                                    <div class="col-lg-4">
                                                        <label class="form-label" for="addon-wrapping-left">Semana</label>
                                                        <select id="cmbSemanasNomina" class="form-control" required>  
                                                            <option>Cargando...</option>
                                                        </select>  
                                                    </div>
                                                    <div class="col">
                                                        <label class="form-label" style="width: 280px" for="addon-wrapping-left">Periodos de Aplicación</label>                                                              
                                                        <select id="periodoAplicacion" class="form-control" required>
                                                            <option>Cargando...</option>
                                                        </select>  
                                                    </div>
                                                    <div class="col">
                                                        <label class="form-label" for="addon-wrapping-left">Periodos de Generación</label>                                                              
                                                        <select id="periodoGeneracion" class="form-control" required>
                                                            <option>Cargando...</option>
                                                        </select>  
                                                    </div>
                                                </div>   
                                            </div>
                                            <br><div class="row" style="">    
                                                <div class="form-group" >
                                                    <div class="col">
                                                        <h4 style="text-align: center" id="h2TitAccion">
                                                            <span class="fw-100" style="padding-left: 550px" id="titulo">Registro Semanal de Tiempo Extra</span>
                                                        </h4>

                                                    </div>
                                                </div>
                                            </div>    
                                            <div class="row">
                                                <div class="form-group" style="padding-left:10px">
                                                    <div class="col">
                                                        <table>
                                                            <!--                                                            <tr>
                                                                                                                        <br><br><br><h6 style="text-align: center" id="h2TitAccion">
                                                                                                                            <span class="fw-100" id="titulo">Hora Inicial</span>
                                                                                                                        </h6>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                        <br><br><h6 style="text-align: center" id="h2TitAccion">
                                                                                                                            <span class="fw-100" id="titulo">Hora Final</span>
                                                                                                                        </h6>
                                                                                                                        </tr>-->
                                                            <tr>
                                                            <br><br><br><h6 style="text-align: center" id="h2TitAccion">
                                                                <span class="fw-100" id="titulo">Número de Horas</span>
                                                            </h6>
                                                            </tr>
                                                            <tr>
                                                            <br><br><h6 style="text-align: center" id="h2TitAccion">
                                                                <span class="fw-100" id="titulo">Paseos Lab.</span>
                                                            </h6>
                                                            </tr>
                                                            <tr>
                                                            <br><br><br><br><h6 style="text-align: center" id="h2TitAccion">
                                                                <span class="fw-100" id="titulo">Extra Doble</span>
                                                            </h6>
                                                            </tr>
                                                            <tr>
                                                            <br><br><h6 style="text-align: center" id="h2TitAccion">
                                                                <span class="fw-100" id="titulo">Extra Triple</span>
                                                            </h6>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>    
                                                <input id="idTiempoExtraEncontrado" value="" class="form-control" style="width: 50px" hidden>
                                                <div class="table-responsive-lg">
                                                    <table class="table" id="capturaTiempoExtra" cellspacing="0"  style="border: 1px solid black;">
                                                        <thead class="bg-success-900 thead-dark">
                                                            <tr>
                                                                <!-- ENCABEZADOS DEBEN SER DINÁMICOS PARA ACOMODARSE DE ACUERDO A LA NÓMINA DEL TRABAJADOR -->
                                                                <th id="dia1Encabezado"  style="border: 1px solid black;"></th>
                                                                <th id="dia2Encabezado"  style="border: 1px solid black;"></th>
                                                                <th id="dia3Encabezado" style="border: 1px solid black;"></th>
                                                                <th id="dia4Encabezado" style="border: 1px solid black;"></th>
                                                                <th id="dia5Encabezado" style="border: 1px solid black;"></th>
                                                                <th id="dia6Encabezado" style="border: 1px solid black;"></th>
                                                                <th id="dia7Encabezado" style="border: 1px solid black;"></th>
                                                            </tr>
                                                            <!--                                                            <tr>
                                                                                                                            <td  style="border: 1px solid black;"> <input id="dia1HoraInicial" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"> <input id="dia2HoraInicial" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"> <input id="dia3sHoraInicial" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"> <input id="dia4HoraInicial" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"> <input id="dia5HoraInicial" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"> <input id="dia6HoraInicial" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"> <input id="dia7HoraInicial" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td  style="border: 1px solid black;"><input id="dia1HoraFinal" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"><input id="dia2HoraFinal" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"><input id="dia3HoraFinal" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"><input id="dia4HoraFinal" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"><input id="dia5HoraFinal" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"><input id="dia6HoraFinal" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                            <td  style="border: 1px solid black;"><input id="dia7HoraFinal" value="" class="form-control" style="width: 150px" disabled></td>
                                                                                                                        </tr>-->
                                                            <tr>
                                                                <td  style="border: 1px solid black;"><input id="numeroHorasDia1" value="" class="form-control" style="width: 150px"></td>
                                                                <td  style="border: 1px solid black;"><input id="numeroHorasDia2" value="" class="form-control" style="width: 150px"></td>
                                                                <td  style="border: 1px solid black;"><input id="numeroHorasDia3" value="" class="form-control" style="width: 150px"></td>
                                                                <td  style="border: 1px solid black;"><input id="numeroHorasDia4" value="" class="form-control" style="width: 150px"></td>
                                                                <td  style="border: 1px solid black;"><input id="numeroHorasDia5" value="" class="form-control" style="width: 150px"></td>
                                                                <td  style="border: 1px solid black;"><input id="numeroHorasDia6" value="" class="form-control" style="width: 150px"></td>
                                                                <td  style="border: 1px solid black;"><input id="numeroHorasDia7" value="" class="form-control" style="width: 150px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td  style="border: 1px solid black;"><input id="paseosLabDia1" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td  style="border: 1px solid black;"><input id="paseosLabDia2" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td  style="border: 1px solid black;"><input id="paseosLabDia3" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td  style="border: 1px solid black;"><input id="paseosLabDia4" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td  style="border: 1px solid black;"><input id="paseosLabDia5" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td  style="border: 1px solid black;"><input id="paseosLabDia6" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td  style="border: 1px solid black;"><input id="paseosLabDia7" value="" class="form-control" style="width: 150px" disabled></td>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <span class="fw-100" style="padding-left: 520px" id="desglose">DESGLOSE</span>
                                                    <hr>
                                                    <table class="table table-bordered" id="calculoTiempoExtra" cellspacing="0">
                                                        <thead class="bg-success-900 thead-dark">
                                                            <tr>
                                                                <td style="border: 1px solid black;"><input id="extraDobleDia1" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraDobleDia2" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraDobleDia3" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraDobleDia4" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraDobleDia5" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraDobleDia6" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraDobleDia7" value="" class="form-control" style="width: 150px" disabled></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="border: 1px solid black;"><input id="extraTripleDia1" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraTripleDia2" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraTripleDia3" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraTripleDia4" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraTripleDia5" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraTripleDia6" value="" class="form-control" style="width: 150px" disabled></td>
                                                                <td style="border: 1px solid black;"><input id="extraTripleDia7" value="" class="form-control" style="width: 150px" disabled></td>
                                                            </tr>
                                                        </thead>    
                                                    </table>        
                                                </div>
                                            </div>   
                                            <br>
                                            <!-- CÁLCULOS TOTALES DE TIEMPO EXTRA -->
                                            <div class="row">
                                                &nbsp&nbsp&nbsp  INCIDENCIAS DE PAGO PARA EL SIRH
                                            </div>
                                            <br> 
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    TOTAL (HH:MM) TIEMPO EXTRA 
                                                </div>
                                                <div class="col-lg-2">
                                                    DESCANSOS LABORADOS
                                                </div>
                                                <div class="col-lg-2">
                                                    DIA FESTIVO
                                                </div>
                                                <div class="col-lg-2">
                                                    MONTO R.A.10
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col">
                                                    DOBLE<br>
                                                    <input id="totalTiempoExtraDoble" value="" class="form-control" style="width: 100px" disabled>
                                                </div>
                                                <div class="col">
                                                    TRIPLE<br>
                                                    <input id="totalTiempoExtraTriple" value="" class="form-control" style="width: 100px" disabled>
                                                </div>
                                                <div class="col">
                                                    DOBLE<br>
                                                    <input id="totalTiempoExtraDescansosLaborados" value="" class="form-control" style="width: 150px" disabled>
                                                </div>
                                                <div class="col">
                                                    DOBLE<br>
                                                    <input id="totalTiempoExtraDiaFestivo" value="" class="form-control" style="width: 150px" disabled>
                                                </div>  
                                                <div class="col">
                                                    DIF. TIEMPO EXTRA<br>
                                                    <input id="diferenciaTiempoExtraRA10" value="" class="form-control" style="width: 150px" disabled>
                                                </div>  
                                                <div class="col">
                                                    <button type="button" class="btn btn-danger" id="elimina" data-toggle="modal" data-target="#eliminarTiempoExtraModal" onclick="eliminarTiempoExtraActual()" style="width: 216px" hidden><span class="fa fa-minus-circle"></span>  Eliminar</button>
                                                </div>
                                                <div class="col">
                                                    <button id="btnGuardar" onclick="guardarTiempoExtra()" class="btn btn-primary" style="width: 216px" hidden> <span class="fa fa-edit"></span> Guardar </button>
                                                    <button id="btnEditar" onclick="editarTiempoExtra()" class="btn btn-primary" style="width: 216px" hidden> <span class="fa fa-edit"></span> Editar </button>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!--***************** MODAL PARA ELIMINAR MOVIMIENTOS--*****************-->
                    <div class="modal fade" id="eliminarTiempoExtraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true" th:fragment="perfil">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"> Eliminar tiempo extra</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-left" id="alertaAgrega"> </div>
                                    <form id="formEliminaMovimientos" class="needs-validation" onsubmit="return false;" novalidate>
                                        <div class="form-group">
                                            <label class="form-label" for="addon-wrapping-left"> ¿Está seguro que desea eliminar el tiempo extra del trabajador correspondiente a las semanas, periodos de generación y aplicación seleccionados?</label>
                                        </div> 
                                        <hr>
                                        <div class="form-group col-12">
                                            <button class="btn btn-secondary" id="btn_Cancelar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                            <button type="submit"  class="btn btn-primary" style="width: 216px"> Confirmar </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--***************** MODAL PARA ELIMINAR MOVIMIENTOS--*****************-->
                    <div class="modal fade" id="advertenciaRA10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true" th:fragment="perfil">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Registro RA10</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-left" id="alertaAgrega"> </div>
                                    <form id="formCalculoRA10" class="needs-validation" onsubmit="return false;" novalidate>
                                        <div class="form-group">
                                            <label class="form-label" for="addon-wrapping-left"> Existe un registro de captura RA10 para este trabajador 
                                                en el periodo de generación seleccionado, ¿desea que se realicen los cálculos correspondientes para 
                                                la CVE 19 (Diferencia de Tiempo Extra)?
                                            </label>
                                            <br>

                                            <label for="sueldoHoraSupl">Suleldo por hora Suplencia:</label>
                                            <input id="sueldoHoraSupl" value="" class="form-control" style="width: 150px" disabled>
                                            <hr>
                                            <label for="sueldoHora">Sueldo por hora Trabajador:</label>
                                            <input id="sueldoHora" value="" class="form-control" style="width: 150px" disabled>
                                            <hr>
                                            <label for="totalHorasDobles">Total de horas dobles (T.Extra, T.Extra Paseos, T.Extra Festivos):</label>
                                            <input id="totalHorasDobles" value="" class="form-control" style="width: 150px" disabled>
                                            <hr>
                                            <label for="diferenciaPrima">Diferencia prima dominical (Si aplica):</label>
                                            <input id="diferenciaPrima" value="" class="form-control" style="width: 150px" disabled>
                                            <hr>
                                            <label for="diferenciaRA10">Diferencia de Tiempo Extra Calculada para RA 10:</label>
                                            <input id="diferenciaRA10" value="" class="form-control" style="width: 150px" disabled>

                                        </div>
                                        <hr>
                                        <div class="form-group col-12">
                                            <button class="btn btn-secondary" id="btn_Cancelar_Calculo_RA10" type="button" data-dismiss="modal" style="width: 216px">Generar sin Cálculo</button>
                                            <button type="submit"  class="btn btn-primary" style="width: 216px"> Generar con Cálculo </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--***************** MODAL CONFIRMACIÓN COMIENZO DE HORAS TRIPLES--*****************-->
                    <div class="modal fade" id="horasTriplesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true" th:fragment="perfil" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"> Tiempo Extra Triple</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-left" id="alertaAgrega"> </div>
                                    <form id="formConfirmacionHorasTriples" class="needs-validation" onsubmit="return false;" novalidate>
                                        <div class="form-group">
                                            <input id="diaActualRecorrido" value="" class="form-control" style="width: 150px" hidden>
                                            <label class="form-label" for="addon-wrapping-left">Se superaron las 9:00 horas de tiempo extra doble, se habilitará la aplicación de horas triples, ¿desea continuar?</label>
                                        </div> 
                                        <hr>
                                        <div class="form-group col-12">
                                            <button class="btn btn-secondary" id="btn_Cancelar_Extras" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                            <button type="submit"  class="btn btn-primary" style="width: 216px"> Confirmar </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer th:replace="layout/todos :: pie"></footer>
                </div>                   
                <a th:replace="layout/todos :: scroll"></a>
                <div th:replace="layout/todos :: sesion"></div>
                <div th:replace="layout/todos :: perfil"></div>
                <script src="js/nomina/tiempoExtraAdmin.js"></script>
                <script src="js/validate.js"></script>
                </body>
                </html>
