<!DOCTYPE html>
<script>
    $(function () {
        $("#tabs").tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });
    });
</script>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Datos de la Plaza</h6> 
                                </div>
                                <div class="col">  
                                    <button onclick="verTrabajadores()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button>   
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="row">
                                            <div id="tabs">
                                                <ul id="myTabTrabajador">
                                                </ul>
                                                <div id="tabs-1">
                                                    <form id="formGuardarPlaza" class="needs-validation" novalidate>
                                                        <input type="hidden" value="" id="idPuesto" name="idPuesto">
                                                        <div class="form-group">
                                                            <div class="alert alert-info alert-white rounded mx-auto">
                                                                <h4 id="h2TitAccion">
                                                                     <i class="fa fa-address-card"></i>
                                                                     <span class="fw-100" id="titulo" algign="center"> <b> Datos del la Plaza </b> </span>
                                                                </h4>     
                                                            </div>
                                                            <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                                                            <div class="row">
                                                                <div class="col">  
                                                                    <input type="hidden" id="id_trabajador_plaza" name="id_trabajador_plaza" class="form-control" required>
                                                                    <label class="form-label" for="addon-wrapping-left">*Tipo de Contrato</label>
                                                                    <select id="tipo_contrato_id" name="tipo_contrato_id" class="form-control"  style="width:400px" oninput="listarNomina()" required> </select>
                                                                    <input type="hidden" id="tipo_contrato_id_DB" name="tipo_contrato_id_DB" class="form-control" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Tipo de Nomina</label>
                                                                    <select id="tipo_nomina_id" name="tipo_nomina_id" class="form-control" style="width:400px" oninput="listarUbicacion()" required> </select>
                                                                    <input type="hidden" id="tipo_nomina_id_DB" name="tipo_nomina_id_DB" class="form-control" required>
                                                                </div>
                                                                
                                                            </div>
                                                            <br><br>
                                                            <div class="row">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Ubicación</label>
                                                                    <select id="ubicacion_id" name="ubicacion_id" class="form-control"  style="width:400px" required> </select>
                                                                    <input type="hidden" id="ubicacion_id_DB" name="ubicacion_id_DB" class="form-control" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Área</label>
                                                                    <select id="areas_id" name="areas_id" class="form-control" style="width:400px" required> </select>
                                                                    <input type="hidden" id="areas_id_DB" name="areas_id_DB" class="form-control" required>
                                                                </div>
                                                                
                                                            </div>
                                                            <br><br>
                                                            <div class="row">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Puesto</label>
                                                                    <select id="puestos" name="puestos" class="form-control" style="width:190px"  oninput="plazas()" required> </select>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="form-label" for="addon-wrapping-left">*Plazas disponibles</label>
                                                                    <select id="plazasDisponibles" name="plazasDisponibles" class="form-control" style="width:190px"  required> </select>
                                                                    <input type="hidden" id="plazasDisponibles_DB" name="plazasDisponibles_DB" class="form-control" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Número de Plaza</label>
                                                                    <input id="noPlaza" name="noPlaza" class="form-control" style="width:150px"  readonly required>
                                                                    
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Movimientos </label>
                                                                    <select id="plaza_movimientos" name="plaza_movimientos" class="form-control" style="width:210px"  required> </select>
                                                                    <input type="hidden" id="plaza_movimientos_DB" name="plaza_movimientos_DB" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                            <div class="row">
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Fecha de Inicio </label>
                                                                    <input id="fecha_inicial" name="fecha_inicial" class="form-control" style="width:210px"  type="date" required>
                                                                    <input type="hidden" id="fecha_inicial_DB" name="fecha_inicial_DB" class="form-control" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Fecha de Final </label>
                                                                    <input id="fecha_final" name="fecha_final" class="form-control" style="width:210px"  type="date" required>
                                                                    <input type="hidden" id="fecha_final_DB" name="fecha_final_DB" class="form-control" required>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Observaciones </label>
                                                                    <input style="width:450px; height:100px;" id="observaciones" name="observaciones" class="form-control" placeholder="Máx. 500 caracteres" maxlength="500" autocomplete="off" required>
                                                                    <input type="hidden" id="observaciones_DB" name="observaciones_DB" class="form-control" placeholder="Máx. 500 caracteres" maxlength="500" autocomplete="off" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="col">  
                                                            <button type="submit" name="botonenviar" class="btn btn-primary" id="botonenviar" value="Enviar" style="width: 216px"> Guardar</button>   
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- FIN CARD BODY--*****************-->   
                                    </div>
                                </div>
                                <!-- FIN TODO <script src="js/personal/trabajadorDatosGenerales.js"></script>-->
                            </div>
                        </div>
                    </div>
                    <footer th:replace="layout/todos :: pie"></footer>
                </div>
            </div>
            <a th:replace="layout/todos :: scroll"></a>
            <div th:replace="layout/todos :: sesion"></div>
            <div th:replace="layout/todos :: perfil"></div>

            <script src="js/trabajador/trabajadorPuesto.js"></script>
            <script src="js/validate.js"></script>
            <script src="js/usuarios/usuarioModificarPassword.js"></script>
    </body>
</html>
