<!DOCTYPE html>
<script>
    (function () {
        $("#tabs").tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });
    });
</script>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4 ">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Datos Bancarios</h6> 
                                </div>
                                <div class="col">  
                                    <button onclick="verTrabajadores()"  type="button" class="btn btn-secondary" style="width: 216px"> Ver Trabajadores</button>   
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="row">
                                            <div id="tabs">
                                                <ul id="myTabTrabajador">
                                                </ul>

                                                <div id="tabs-1">
                                                    <form id="formGuardarBancarios" class="needs-validation" novalidate>

                                                        <div class="form-group">
                                                            <div class="form-group">                                                
                                                                <div class="alert alert-info alert-white rounded mx-auto">
                                                                    <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                                    <h4 id="h2TitAccion">
                                                                        <i class="fa fa-university"></i><span class="fw-100" id="titulo" algign="center"> <b> Datos Bancarios </b> </span>
                                                                    </h4>  
                                                                </div>
                                                            </div>
                                                            <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                                                            <div class="row">
                                                                <div class="col">   
                                                                    <input type="hidden" id="id_cuenta_bancaria" name="id_cuenta_bancaria" class="form-control" required>
                                                                    <label class="form-label" for="addon-wrapping-left">*Banco</label>
                                                                    <select id="bancosCmb" name="bancosCmb" class="form-control" style="width: 300px" required> </select>
                                                                </div>
                                                                <div class="col">   
                                                                    <label class="form-label" for="addon-wrapping-left">*Cuenta bancaria (Clabe) </label>
                                                                    <input id="clabeCuentaBancaria" name="clabeCuentaBancaria" class="form-control" minlength="18" maxlength="18" placeholder="Solo digitos" type= "number" 
                                                                           oninput="validacion(this)" style="width: 300px" required >

                                                                </div>
                                                            </div>
                                                            <br></br>
                                                        </div>
                                                        <div class="col">  
                                                            <button type="submit" name="botonenviar" class="btn btn-primary" id="botonenviar" value="Enviar" style="width: 216px"> Guardar</button> 
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div><!-- FIN CARD BODY--*****************-->   
                                </div>
                            </div>
                            <!-- FIN TODO <script src="js/personal/trabajadorDatosGenerales.js"></script>-->
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>

        <script src="js/trabajador/trabajadorBancarios.js"></script>
        <script src="js/validate.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
    </body>
</html>
