<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4" style="width: 1300px">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Incapacidades</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Pre-Nómina / Incidencias</h4>
                                </div>
                                <br>
                                <div class="col">  
                                    <button onclick="adminIncidencias()"  type="button" class="btn btn-secondary" style="width: 216px">Ver Trabajadores</button>   
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-info alert-white rounded mx-left" style="width: 100%;">
                                        <div class="row">
                                            <div class="col">
                                                <label for="campo_expediente" class="m-0 font-weight-bold text-dark">Expediente:</label>
                                                <input type="text" id="campo_expediente" class="form-control text-center" readonly>
                                            </div>
                                            <div class="col-5">
                                                <label for="campo_nombre" class="m-0 font-weight-bold text-dark">Trabajador:</label>
                                                <input type="text" id="campo_nombre" class="form-control text-center" readonly>
                                            </div>
                                            <div class="col">
                                                <label for="campo_nomina" class="m-0 font-weight-bold text-dark">Nómina:</label>
                                                <input type="text" id="campo_nomina" class="form-control text-center" readonly>
                                            </div>
                                            <div class="col">
                                                <label for="campo_prestaciones_si_no" class="m-0 font-weight-bold text-dark">Prestaciones:</label>
                                                <input type="text" id="campo_prestaciones_si_no" class="form-control text-center" readonly>
                                            </div>
                                            <div class="col">
                                                <label for="campo_nss" class="m-0 font-weight-bold text-dark">NSS</label>
                                                <input type="text" id="campo_nss" class="form-control text-center" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="m-lg-3 ">
                                            <button type="button" class="btn btn-primary" onclick="redireccionTabIncidencias()"><span class="fa fa-search"></span> Incidencias</button>
                                            <button type="button" class="btn btn-primary btn-info"><span class="fa fa-search"></span> Incapacidades</button>
                                            <button type="button" class="btn btn-primary" onclick="verKardexTrabajador()"><span class="fa fa-calendar"></span> Kárdex</button>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 text-center">
                                                <br>
                                                Realizar filtrado por fechas
                                                <hr>
                                                <input type="checkbox" id="filtradoFechas" class="form-check-input" autocomplete="off">
                                                <label for="filtradoFechas" class="form-check-label">Filtrado por fechas</label>
                                            </div>
                                            <div class="col-lg-2 text-center">
                                                <br>
                                                Fecha Inicial
                                                <input type="date" id="fechaInicialLiberacion" class="form-control" disabled>
                                            </div>
                                            <div class="col-lg-2 text-center">
                                                <br>
                                                Fecha Final
                                                <input type="date" id="fechaFinalLiberacion" class="form-control"  disabled>
                                            </div>
                                            <div class="col-lg-3 text-center">
                                                <br>
                                                Realizar filtrado por folio
                                                <hr>
                                                <input type="checkbox" id="filtradoFolio" class="form-check-input" autocomplete="off">
                                                <label for="filtradoFolio" class="form-check-label">Filtrado por folio</label>
                                            </div>
                                            <div class="col-lg-2 text-center">
                                                <br>
                                                Buscar por folio
                                                <input type="text" id="inputFolio" class="form-control" maxlength="60" placeholder="Folio" disabled>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col">
                                            <button id="btnFiltrar" onclick="filtrar()" type="button" class="btn btn-primary" disabled>Buscar <i class="fa fa-filter"></i></button>
                                        </div>
                                        <br>
                                        <div class="input-group">

                                            <div class="table-responsive">
                                                <!-- PRUEBA BÚSQUEDA -->
                                                <div class="alert alert-info alert-white rounded mx-auto">
                                                    <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                    <div class="icon ">
                                                        <strong><h5>Incapacidades Registradas</h5></strong> <i class="fa fa-search mx-auto"></i><strong> Criterios de Búsqueda: </strong> Fecha Inicio, Fecha Fin, Folio, Tipo Incapacidad, Motivo, Tipo
                                                    </div>
                                                </div>   
                                                <table class="table table-bordered" id="tabla_incapacidades" cellspacing="0" style="width: 1250px; margin: 0 auto;">
                                                    <thead class="bg-success-900 thead-dark">
                                                        <tr>
                                                            <th>FECHA LIBERACIÓN</th>
                                                            <th>FECHA INICIO</th>
                                                            <th>FECHA FIN</th>
                                                            <th>FOLIO</th>
                                                            <th>MOTIVO INCAPACIDAD</th>
                                                            <th>TIPO</th>
                                                            <th>AUTORIZADO/CANCELADO</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>  
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>

                        <!-- Modal para autorización de Incapacidades del IMSS -->
                        <div class="modal fade" id="incapacidadIMSS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" th:fragment="perfil">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Incapacidades del I.M.S.S.</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formIncapacidades">
                                            <input id="id_incapacidad" hidden>
                                            <input id="prestaciones" hidden>
                                            <input id="id_nomina" hidden>
                                            <input id="fecha_liberacion" hidden>
                                            <div class="row justify-content-center">
                                                <label id="statusLabel">AUTORIZADO/NO AUTORIZADO EN NÓMINA</label>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div>Folio: </div>
                                                <label id="lblFolio"></label>
                                            </div>
                                            <div class="row">
                                                <div><u>DATOS DEL TRABAJADOR:</u></div>
                                            </div>
                                            <!-- Comienzan datos trabajador -->
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Expediente</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="lblExpediente"></label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Nombre del Empleado</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="lblNombreEmpleado"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Número de Afiliación al IMSS</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="lblNSS"></label>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div><u>DATOS DE LA INCAPACIDAD:</u></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 text-center">
                                                    Fecha Inicial
                                                    <input type="date" id="fechaInicialIncapacidad" class="form-control" readonly>
                                                    <input type="text" id="fechaInicialIncapacidadHidden" class="form-control" readonly hidden >
                                                </div>
                                                <div class="col-lg-6 text-center">
                                                    Fecha Final
                                                    <input type="date" id="fechaFinalIncapacidad" class="form-control" readonly>
                                                    <input type="text" id="fechaFinalIncapacidadHidden" class="form-control" readonly hidden>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Días de Incapacidad</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="lblDiasIncapacidad"></label>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Motivo de la Incapacidad</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select id="cmbMotivoIncapacidad" class="form-control" style="width: 100%;" disabled>
                                                        <option value="opcion1">Opción 1</option>
                                                        <option value="opcion2">Opción 2</option>
                                                        <option value="opcion3">Opción 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Tipo de Incapacidad</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select id="cmbTipoIncapacidad" class="form-control" style="width: 100%;" disabled>
                                                        <option value="opcion1">Opción 1</option>
                                                        <option value="opcion2">Opción 2</option>
                                                        <option value="opcion3">Opción 3</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div><u>RESULTADOS DE LA INCAPACIDAD: </u></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Días Cotizables</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="lblDiasCotizables"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Salario Diario Integrado</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="lblSalarioDiarioIntegrado"></label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Subtotal</label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label id="lblSubtotal"></label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <input class="form-check-input" type="checkbox" value="" id="chkGeneraIncidencia">
                                                    <label class="form-check-label" for="chkGeneraIncidencia" style="font-weight: bold;">
                                                        Generar Incidencia
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Porcentaje de Cobro</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="porcentajeCobro"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Importe a Cobrar</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="lblImporteACobrar"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div><u>DATOS PARA EL S.U.A</u></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label for="tipoRiesgo">Tipo de Riesgo</label>
                                                    <select id="cmbTipoRiesgo" name="cmbTipoRiesgo"  style="width:220px;margin-left:10px;" class="form-control" disabled>
                                                        <option value="value1" selected>*</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label for="secuelas">Secuelas o Consecuencias</label>
                                                    <select id="cmbSecuelas" class="form-control" disabled>
                                                    </select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label for="controlIncapacidad">Control de incapacidad</label>
                                                    <select id="cmbControlIncapacidad" class="form-control" disabled>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                </div>
                                                <div class="col-lg-4 text-center">
                                                    <button id="btnGeneraIncidenciaIncapacidad" type="button" class="btn btn-primary" onclick="validarIncapacidad()" disabled>Autorizar</button>
                                                    <button id="btnBajaIncapacidad" type="button" class="btn btn-danger" onclick="rechazaIncapacidad()">Rechazar Incapacidad</button>
                                                </div>
                                                <div class="col-lg-4">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>

        <!--***************** MODAL ALERTA CONTINUIDAD--*****************-->
        <div class="modal fade" id="modalAlertaFusionIncapacidades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true" th:fragment="perfil">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Incapacidad Relacionada</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-left" id="alertaAgrega"> </div>
                        <form id="formAvisoAlertaDeContinuidadIncapacidades" class="needs-validation" onsubmit="return false;" novalidate>
                            <div class="form-group">
                                <label class="form-label" for="addon-wrapping-left"> Existe una incapacidad relacionada.</label>
                                <label class="form-label" for="addon-wrapping-left"> ¿Desea que se extienda la fecha final de la incapacidad actual a la incapacidad relacionada?</label>
                            </div> 
                            <hr>
                            <div class="form-group col-12">
                                <button class="btn btn-secondary" id="cancelarFusion" type="button" data-dismiss="modal" style="width: 216px">No</button>
                                <button type="submit"  class="btn btn-primary" style="width: 216px"> Si </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--***************** MODAL ALERTA RECHAZO FUSIONADO--*****************-->
        <div class="modal fade" id="modalAlertaRechazarIncapacidadesConjuntamente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true" th:fragment="perfil">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Incapacidad Relacionada Detectada</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-left" id="alertaAgrega"> </div>
                        <form id="formAvisoRechazoIncapacidadesFusionadas" class="needs-validation" onsubmit="return false;" novalidate>
                            <div class="form-group">
                                <label class="form-label" for="addon-wrapping-left"> Existe una incapacidad relacionada.</label>
                                <label class="form-label" for="addon-wrapping-left"> ¿Desea que se realice la cancelación de las incapacidades relacionadas?</label>
                            </div> 
                            <hr>
                            <div class="form-group col-12">
                                <button class="btn btn-secondary" id="cancelarRechazoFusion" type="button" data-dismiss="modal" style="width: 216px">No</button>
                                <button type="submit"  class="btn btn-primary" style="width: 216px"> Si </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>

        <script src="js/incapacidades/reworkTrabajadorIncapacidades.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
        <script src="js/validate.js"></script>
    </body>
</html>