<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/todos :: head"></head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">
                            <!-- AQUI VA TODO EL CONTENIDO -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Administracion de usuarios</h6>
                                    <h4 class="m-0 font-weight-bold text-primary" align="right">Administracion / Usuarios</h4>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-group" >
                                        <div class="row">
                                            <div class="m-lg-3 ">
                                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#agregarUsuarioModal"><span class="fa fa-user-plus"></span> Agregar Nuevo Usuario</button>
                                            </div>
                                            <div class="m-lg-3 ">
                                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#agregarUsuarioExpedienteModal"><span class="fa fa-user-plus"></span> Agregar Usuario Expediente</button>

                                            </div>

                                            <div class="input-group">
                                                <div class="container ">
                                                    <div class="col-5 text-center mx-auto" id="prueba" ></div> <!-- Para añadir alerta -->
                                                </div>

                                                <div class="panel-container collapse show m-lg-3"> <!<!--  m-auto se centra la tabla-->
                                                    <div class="table-responsive">
                                                        <!-- PRUEBA BÚSQUEDA -->
                                                        <div class="alert alert-info alert-white rounded mx-auto">
                                                            <!-- PRUEBA DE BÚSQUEDA float-right-->
                                                            <div class="icon ">
                                                                <strong><h5>Usuarios Registrados</h5></strong> <i class="fa fa-search mx-auto"></i><strong> Criterios de Búsqueda: </strong> Nombre, Apellidos, UserName 
                                                            </div>
                                                        </div>   
                                                        <table class="table table-bordered" id="noteTable" width="100%" cellspacing="0">
                                                            <thead class="bg-success-900 thead-dark">
                                                                <tr >
                                                                    <th>Nombre</th>
                                                                    <th>Apellido Paterno</th>
                                                                    <th>Apellido Materno</th>
                                                                    <th>Username</th>               
                                                                    <th>Editar</th>
                                                                    <th>Cambiar Activo/inactivo</th>
                                                                    <th>Asignar Roles</th>
                                                                    <th>Modificar Password</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody> </tbody>
                                                        </table>

                                                    </div>   
                                                </div> 
                                            </div>  
                                        </div>
                                    </div><!-- FIN CARD BODY--*****************-->                                
                                </div>
                            </div>
                            <!-- FIN TODO-->
                        </div>
                    </div>
                </div>
                <!--**************************************************************MODAL PARA AGREGAR USUARIOS****************************************************************************** -->
                <div class="modal fade" id="agregarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> Agregar Usuario</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formGuardarUsuario" class="needs-validation" novalidate>
                                    <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>

                                    <div class="form-group">
                                        <input name="nombre_agregar" id="nombre_agregar" class="form-control" minlength="3" maxlength="25" autocomplete="off" placeholder="*Nombre" type="text" required>
                                        <div id="alerta" class="invalid-feedback"> Por favor ingresa tu nombre.</div>
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <input name="ap_Paterno_agregar" id="ap_Paterno_agregar" class="form-control" minlength="3" maxlength="12" autocomplete="off" placeholder="*Apellido Paterno" type="text" required>
                                        <div id="alerta" class="invalid-feedback">Los campos no pueden estar vacíos.</div>
                                    </div>

                                    <div class="form-group">
                                        <input name="ap_Materno_agregar" id="ap_Materno_agregar" class="form-control" minlength="3" maxlength="12" autocomplete="off" placeholder="*Apellido Materno" type="text" required>
                                        <div id="alerta" class="invalid-feedback">Los campos no pueden estar vacíos.</div>
                                    </div>

                                    <div class="form-group">
                                        <input name="username" id="username_agregar" class="form-control" minlength="3" maxlength="15" autocomplete="off" placeholder="*Nombre de Usuario" pattern="^[a-zA-Z0-9_.-]*$" type="text" required>
                                        <div id="alerta" class="invalid-feedback"> Por favor ingresa un nombre de usuario.</div>
                                    </div>

                                    <div class="form-group">
                                        <input class="form-control" placeholder="*Contraseña" minlength="8" type="password" name="password_agregar" id="password_agregar" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                        <div id="alerta" class="invalid-feedback"> Ingresa una contraseña válida.</div>
                                    </div> 
                                    <div class="text-right"> <label class="text-danger"><small>Contraseña: 8 Caracteres minimo, Mayus, Minus, Numeros y un caracter especial ej [!@#$&%"'()*+-./_]</small></label><br>      
                                    </div> <!-- form-group// -->
                                    <input type="hidden" value="1" id="activoUser" name="idUsuario">

                                    <hr>
                                    <div class="form-group col-12">
                                        <button class="btn btn-secondary" id="btn_Cancelar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                        <button type="submit" name="botonenviar" onclick = "" class="btn btn-primary" id="botonenviar" value="Enviar" style="width: 216px"> Guardar Usuario </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
                <!--**************************************************************MODAL PARA EDITAR USUARIOS****************************************************************************** -->
                <div class="modal fade" id="editarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center">Editar Usuario</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <input type="hidden" value="" id="idUsuario" name="idUsuario">
                                    </div> 
                                    <div class="form-group">
                                        <b>Nombre</b> 
                                        <input maxlength="40"  name="nombre_edita" id="nombre_edita" autocomplete="off" class="form-control" type="text" required>
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <b>Apellido Paterno</b><input maxlength="40" name="ap_paterno_edita" autocomplete="off" id="ap_paterno_edita" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <b>Apellido Materno</b> <input maxlength="40"  name="ap_materno_edita" autocomplete="off" id="ap_materno_edita" class="form-control" type="text" required>
                                    </div>
                                    <div class="form-group">
                                        <b>Nombre de Usuario</b> <input maxlength="40"  name="username_edita" autocomplete="off" id="username_edita" class="form-control" type="text" required>
                                    </div>
                                    <hr>
                                    <div class="form-group col-12">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                        <button class="btn btn-success" onclick="actualizar_Datos(document.getElementById('idUsuario').value)" style="width: 216px"> Actualizar </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*****************************************************************MODAL PARA CAMBIAR ESTATUS DE USUARIO********************************************************* -->

                <div class="modal fade" id="modalStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cambiar Status De Usuario</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body mx-auto">
                                <button class="btn btn-secondary mx-3" type="button" data-dismiss="modal">Cancelar</button>
                                <button id="botonDeshabilitar" type="submit" class="btn btn-danger" >Deshabilitar Usuario</button>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalStatusActivar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cambiar Status De Usuario</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body mx-auto">
                                <button class="btn btn-secondary mx-3" type="button" data-dismiss="modal">Cancelar</button>
                                <button id="botonCambiar" type="submit" class="btn btn-success" >Activar Usuario</button>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>

                <!--***********************************************************************MODAL PARA ASIGNAR ROLES A USUARIOS Nayeli************************************************************************************** -->
                <div class="modal fade" id="RolesUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center">Seleccionar Roles</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formRoles">
                                    <div class="form-group">
                                        <div id="rolesLista" class="col-lg-7"> </div>
                                    </div>
                                    <hr>
                                    <div  style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                                        <button class="btn btn-secondary " type="button" data-dismiss="modal" style="width: 216px">Cerrar</button>
                                        <!--  <button type="submit" name="botonAsignar" class="btn btn-info" id="asignarRol" value="asignarRol" style="width: 216px"> Asignar Roles </button>-->
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--***********************************************************************MODAL PARA MODIFICAR CONTRASEÑA************************************************************************************** -->
                <div class="modal fade" id="modificarcontrasenaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Actualizar Contraseña</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formModificarContrasena" class="needs-validation" novalidate>
                                    <div class="form-group">
                                        <b>Contraseña Nueva</b> 
                                        <input minlength="8" maxlength="40"  name="password_update" id="password_update" autocomplete="off" class="form-control" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                        <div id="alerta_Modificar" class="invalid-feedback"> Ingresa una contraseña válida.</div>
                                    </div> 
                                    <div class="text-right"> <label class="text-danger"><small>Contraseña: 8 Caracteres minimo, Mayus, Minus, Numeros y un caracter especial ej [!@#$&%"'()*+-./_]</small></label><br>      
                                    </div> <!-- form-group// -->
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                    <button id="btn_Modificar" type="submit" class="btn btn-primary" style="background-color: #0869BA;">Guardar Cambios</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--***********************************************************************MODAL PARA AGREGAR USUARIO POR EXPEDIENTE************************************************************************************** -->
                <div class="modal fade" id="agregarUsuarioExpedienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" th:fragment="perfil">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> Agregar Usuario</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formGuardarUsuarioExpediente" class="needs-validation" novalidate>
                                    <div class="text-right"> <label class="text-danger"><small>* Campos Obligatorios</small></label><br>      </div>
                                    <div class="form-group">
                                        <input name="trabajador_id" id="trabajador_id" class="form-control" type="hidden">
                                        <input name="id_expediente" id="id_expediente" class="form-control" type="hidden">
                                        <input name="expediente" id="expediente" class="form-control"  placeholder="*Expediente" type="text" style="width: 150px" autocomplete = "off" oninput = "buscarExpediente()" required>
                                        <div id="alerta" class="invalid-feedback"> Por favor ingresa el expediente.</div>
                                    </div>

                                    <div class="form-group">
                                        <input name="nombre_expediente" id="nombre_expediente" class="form-control" minlength="3" maxlength="25" autocomplete="off" placeholder="*Nombre del Trabajador" type="text" readonly >
                                        <div id="alerta" class="invalid-feedback"> Por favor ingresa tu nombre.</div>
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <input name="apellido_paterno_expediente" id="apellido_paterno_expediente" class="form-control" minlength="3" maxlength="12" autocomplete="off" placeholder="*Apellido Paterno" type="text" readonly >
                                        <div id="alerta" class="invalid-feedback">Los campos no pueden estar vacíos.</div>
                                    </div>

                                    <div class="form-group">
                                        <input name="apellido_materno_expediente" id="apellido_materno_expediente" class="form-control" minlength="3" maxlength="12" autocomplete="off" placeholder="*Apellido Materno" type="text" readonly >
                                        <div id="alerta" class="invalid-feedback">Los campos no pueden estar vacíos.</div>
                                    </div>

                                    <div class="form-group">
                                        <input name="nombre_usuario" id="nombre_usuario" class="form-control" minlength="3" maxlength="15" autocomplete="off" placeholder="*Nombre de Usuario" pattern="^[a-zA-Z0-9_.-]*$" type="text" required>
                                        <div id="alerta" class="invalid-feedback"> Por favor ingresa un nombre de usuario.</div>
                                    </div>

                                    <div class="form-group">
                                        <input class="form-control" placeholder="*Contraseña" minlength="8" type="password" name="password_usuario" id="password_usuario" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                        <div id="alerta" class="invalid-feedback"> Ingresa una contraseña válida.</div>
                                    </div> 
                                    <div class="text-right"> <label class="text-danger"><small>Contraseña: 8 Caracteres minimo, Mayus, Minus, Numeros y un caracter especial ej [!@#$&%"'()*+-./_]</small></label><br>      
                                    </div> <!-- form-group// -->
                                    

                                    <hr>
                                    <div class="form-group col-12">
                                        <button class="btn btn-secondary" id="boton_Cancelar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                        <button type="submit" name="boton_Enviar" class="btn btn-primary" id="boton_Enviar" value="Enviar" style="width: 216px"> Guardar Usuario </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <footer th:replace="layout/todos :: pie"></footer>
            </div>
        </div>
        <a th:replace="layout/todos :: scroll"></a>
        <div th:replace="layout/todos :: sesion"></div>
        <div th:replace="layout/todos :: perfil"></div>
        <script src="js/usuarios/allUsuarios.js"></script>
        <script src="js/validate.js"></script>
        <script src="js/usuarios/usuarioModificarPassword.js"></script>
    </body>
</html>
