<!DOCTYPE html>
<html lang="es">
    <head th:replace="layout/todos :: head">
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="layout/todos :: menu"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="layout/todos :: superior"></nav>
                    <div class="container-fluid">
                        <div th:replace="layout/todos :: titulo"></div>   
                        <div class="row">

                            <div id="tabs">
                                <ul id="myTab">
                                </ul>
                                <div id="tabs-2">

                                    <!-- AQUI VA TODO EL CONTENIDO -->
                                    <div class="card shadow mb-4 " style="width: 800px">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Vales Fin de Año</h6>
                                            <h4 class="m-0 font-weight-bold text-primary" align="right">Cálculos / Vales Fin de Año</h4>
                                        </div>

                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="form-group" >
                                                <div class="row">
                                                    <div id="tabs">
                                                        <div id="tabs-1">
                                                            <form id = "formVales">
                                                                <div class="form-group">
                                                                    <div class="alert alert-info alert-white rounded mx-2" style="width: 700px">
                                                                        <h4 id="h2TitAccion">
                                                                            
                                                                            <span class="fw-100" id="titulo"><b>Vales Fin de Año</b></span>
                                                                            <i class="fas fa-money-bill-alt"></i>
                                                                        </h4>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <label class="form-label" for="addon-wrapping-left">Tipo de Nómina</label>
                                                                                <select style="width: 300px" id="tipo_nomina" name="tipo_nomina" oninput="listarPeriodos(),limpiarBarraDeCarga()" class="form-control"></select>
                                                                            </div>
                                                                            <div class="col">
                                                                                <br>
                                                                                <i class="fas fa-check"></i>
                                                                                <label class="form-label" for="addon-wrapping-left">Cve. 2 - Días Laborados en el Periodo</label>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <label class="form-label" for="addon-wrapping-left">Periodo de Aplicación</label>
                                                                                <select style="width: 300px" id="periodo" name="periodo" class="form-control"></select>
                                                                            </div>
                                                                            <div class="col">
                                                                                <i class="fas fa-check"></i>
                                                                                <label class="form-label" for="addon-wrapping-left">Cve. 244 - Días de Incidencia en el Año</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                                                            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                                                            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  
                                                                            <div class="col">
                                                                                <i class="fas fa-check"></i>
                                                                                <label class="form-label" for="addon-wrapping-left">Cve. 249 - Importe de Vales de Fin de Año</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="col">  
                                                                        <button type="button" class="btn btn-primary" onclick="confirmacion()" style="width: 216px" > Generar</button>   
                                                                    </div>
                                                                    <br>
                                                                    <div class="col">  
                                                                        <div class="progress">
                                                                            <div id="barraProgreso" class="progress-bar" role="progressbar" style="width: 0%;">
                                                                                0%
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>   
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div><!-- FIN CARD BODY--*****************-->   
                                            </div>
                                        <!--**************************************************************MODAL PARA CONFIRMACIÓN DE VALES****************************************************************************** -->
                                            <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                 aria-hidden="true" th:fragment="perfil">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">   ALERTA</h5>
                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text-left" id="alertaAgrega"> </div>
                                                            <form id="formConfirmacion" class="needs-validation" onsubmit="return false;" novalidate>

                                                                <div class="form-group">
                                                                    <label class="form-label" for="addon-wrapping-left"> Usted está a punto de generar el cálculo de Vales de Fin Año.</label>

                                                                </div> 
                                                                <hr>
                                                                <div class="form-group col-12">
                                                                    <button class="btn btn-secondary" id="btn_Cancelar" type="button" data-dismiss="modal" style="width: 216px">Cancelar</button>
                                                                    <button type="button" class="btn btn-primary" onclick="obtenPeriodoPago()" style="width: 216px">Confirmar</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <footer th:replace="layout/todos :: pie"></footer>
                <a th:replace="layout/todos :: scroll"></a>
                <div th:replace="layout/todos :: sesion"></div>
                <div th:replace="layout/todos :: perfil"></div>
                <script src="js/validate.js"></script>
                <script src="js/valesFinAnio/valesFinAnio.js"></script>
                </body>
                </html>